[2015-01-23 21:19] cmichaelgraham opened #1 "kendo integration strategy"
please consider how to best integrate kendo components with Aurelia.

Telerik has [created angular directives](https://github.com/telerik/kendo-ui-core/blob/master/src/kendo.angular.js) around the kendo controls.
[Here is an example](https://github.com/telerik/kendo-ui-core/blob/master/src/kendo.angular.js#L403) of how kendo “tears down” or “destroys” its widgets

#### how a kendo widget is config

[2015-01-23 21:33] EisenbergEffect commented on #1
Ok. We will start by fixing up the global behavior with some ways to configure maps.  That should help make simple scenarios really easy. Probably, if you want things to be really nice, someone will have to put time into creating a set of custom element behaviors.

[2015-01-24 07:02] EisenbergEffect commented on #1
As of  7453bb3 we have a more extensible mechanism for simple jQuery-ish behaviors. Beyond that it's expected that that one would create custom behaviors.

[2015-01-24 07:02] #1 closed

[2015-01-24 07:28] stoffeastrom opened #2 "global-behavior. Calling destroy could yield in exception"
[code]
Make sure to check that destroy is a function to be on the safe side.

[2015-01-30 19:20] #2 closed

[2015-01-31 01:37] AshleyGrant opened #5 "Global functions cannot be accessed within a repeat.for loop"
Accessing a global function in a template such as `${ encodeURI(uri) }` works fine; however, this does not work inside a repeat.for loop. In the below code, neither attempt at using a global function works:

[code]

[2015-01-31 01:55] AshleyGrant commented on #5
Actually, what I wrote above is wrong. Global functions aren't accessible ever.. I just happened to make it work in testing code.... Will close and recreate issue.

[2015-01-31 01:55] #5 closed

[2015-01-31 01:56] AshleyGrant opened #6 "Global Functions not available to be called in template"
The following will fail.

[code]

Is this by design or a bug?

Stack trace is:
[code]

[2015-01-31 02:10] AshleyGrant commented on #6
Wrong repo.

[2015-01-31 02:10] #6 closed

[2015-02-03 14:43] PWKad opened #10 "Value not passed into activate outside of repeat.for"
From user - souldrinker

I haven't learned to use the markup of Gitter properly so sorry about the format, but I have like this in my TypeScript model:

this.stuff = { id: boardId, view: "views/portal/board/board-model" };
this.stuffHolder = new Array<any>(this.stuff);

And then this works (board-model gets the id in activate):

<div repeat.for="stuff of stuffHolder">
<compose model.bind="stuff.id

[2015-02-03 14:54] PWKad opened #11 "Value appears to not be binding properly in compose"
https://github.com/PWKad/skeleton-navigation

You see that welcome.html composes a modal and passes in a `showing` property which should be bound two-way between the two.  What I have noticed -

1. If I bind to the value of `false` (a proper boolean) the value is definitely only one-way, unless I use it inside of a repeater.
2. If I bind to a random string value such as `'blue'` and test against t

[2015-02-04 09:14] Souldrinker commented on #10
I might have been a bit unclear about the issues in the chat yesterday, but I created a copy of the latest skeleton-navigation project with some added compose bindings and tried to explain what I did and what I expected to happen in the readme file there. It's my first time uploading something to GitHub (we usually use TFS at work), so I hope I've done things right: https://github.com/Souldrinker/

[2015-02-05 20:56] #10 closed

[2015-02-05 20:56] EisenbergEffect commented on #10
Thanks for catching that. It appears to have been an oversite. Probably the result of late night coding ;)

[2015-02-05 21:09] EisenbergEffect commented on #11
Ok. I believe one issue was in the framework. I just pushed a fix for that. But the other issue is in your code. You can't use compose to compose a custom element. You use that to compose plain view models. Your bug is coming from that. Remove the metadata and the error will go away.

[2015-02-05 21:09] #11 closed

[2015-02-10 20:50] markpritchett opened #13 "Will there be a standard set of Value Converters out of the box?"
I would love aurelia to have a standard set of value converters for the most common scenarios (whatever later discussions deem to be "common" scenarios)

[2015-02-10 21:03] markpritchett commented on #13
Some ideas of standard value converters might be:

 - Date
 - Currency
 - Decimals
 - Truncate
 - Upper Case
 - Lower Case
 - Title Case

I've already written a Truncate value converter:

<pre>
<code>
export class TruncateValueConverter {
  toView(value, maxLength) {
      maxLength = maxLength || 5;
      return value.length > maxLength ? value.substring(0, maxLength) + '...' : value;
  }
}
</pre

[2015-02-10 22:56] zewa666 commented on #13
would be nice if we could make them as a bundle so the developer may choose if he want's them loaded or not.

[2015-02-11 05:31] yelvert opened #14 "au-class"
I have created a simple ng-class style behavior

`<div au-class.bind="{active: active, inactive: !active}"></div>`

[code]

I would love some feedback as to whether this is the right way to do this, and also how it could be changed to support the above way as well as `<div au-class.bind="myClasses"></div>` where myClasses is a plain object (currently this doesn't fire `valueChanged` when `myClasse

[2015-02-11 07:31] zewa666 commented on #14
The skeleton app already provides a way to setup class via properties. Take a look at the nav-bar.html with following code:

[code]

What would your Behavior do different?
I've also tested your Code and the initial binding via an object works but as you mentioned not the updates. So means that the binding is not performing a deep inspection of your object. Maybe you should file this as an separate

[2015-02-11 13:00] Souldrinker opened #15 "Changes to model in compose bindings doesn't call the activate method."
When using string based view-model in a compose binding the activate method of the composed view doesn't get called when the model of the composed binding changes.

The modelChanged method of compose.js looks like this:
[code]
So if you use string based view models the check for an activate function always fails and thus the activate isn't triggered as expected (and as it does in Durandal).

Some

[2015-02-11 16:34] yelvert commented on #14
For a single class, or toggling between 2 classes, interpolation is fine, but for more than that it gets to be a pain, and rather ugly to have `${x.y ? 'someClass' : ''}` 3 or 4 times in a single element. Admittedly, its rare that it is needed for that many, but even for 1 or 2 classes, this is cleaner.

[2015-02-12 04:48] yelvert commented on #14
I have changed around the AuClass behavior to support the above mentioned bindings as well as another.
https://gist.github.com/yelvert/0c66cb34f1d1ff6c3ea2

[2015-02-12 16:57] jaimerivera opened #16 "Support "with" binding similar to knockout"
In Durandal 2.0 it was possible to expose a view model as a property of a parent view model by using knockout's 'with' binding and state its view.  To aid in portability of existing Durandal apps and to support the particular use case this type of composing is needed.  In the example below "dateRangeVM" is the view model property.  By using the compose binding, a custom view could be specified.
[c

[2015-02-12 17:01] EisenbergEffect commented on #16
We are working on this now :)

[2015-02-12 22:26] lynchd6-emc opened #17 "Bug when using aurelia's <compose> element and binding to an existing viewmodel"
This [gist](https://gist.github.com/lynchd6-emc/6d1287a58d86ab4c9731) demonstrates a bug when using aurelia's *compose* element and binding to an existing viewmodel

There is an exception thrown in BehaviorInstance when creating the custom element (which I assume is the Compose element). The root of the error is that the custom element doesn't have am observerLocator property.

So this:

[code]
ca

[2015-02-13 17:31] yelvert commented on #14
Closing this issue for now since it has been added to https://github.com/joelcoxokc/aurelia-interface

[2015-02-13 17:31] #14 closed

[2015-02-15 00:54] matthy123 commented on #17
I get the same error I think, see https://gist.github.com/matthy123/ce63170bcaa677da2384
I try to mimic the behaviour from Caliburn.Micro, but unfortunately it doesn't work.

[2015-02-17 01:40] PWKad commented on #16
@EisenbergEffect - Not completely working as expected.  I still need to debug more but here is a reference in case anyone else looking at this wants to see if something sticks out.

 https://github.com/PWKad/templating-resources/blob/7056305227bc5a81b2335f49467bb0d590cd636b/src/with.js

[2015-02-17 02:00] EisenbergEffect commented on #16
Create the view in the constructor and add it to the view slot immediately. Then, just call bind on it whenever the value changes. See how that works out.

[2015-02-17 16:18] EisenbergEffect opened #21 "Binding Select With Dynamic Options Fails To Bind Initially"
The initial value isn't set when binding a select with generated options. I believe this is because the repeater executes after the value is bound. We can make the `selected-item` behavior smarter so that it can be used in place by using `value` if model is not present.

Need to investigate if there's a simple way to get this to work with the `value` property. We may need to hard code something to

[2015-02-17 18:21] lynchd6-emc commented on #17
After much debugging I've determined that the root cause of this issue is that a view model that is created in a parent view model (instead of by the template+binding mechanism) is not processed by the ResourceCoordinator and thus has no ViewModelInfo.

I've updated the [gist](https://gist.github.com/lynchd6-emc/6d1287a58d86ab4c9731) with a hacked copy of the Compose element (called Composer) that

[2015-02-17 19:04] EisenbergEffect commented on #17
This stems from the fact that we can't currently tie into the ES6 loader in the right way to tag it with the module id we need for convention-based view location. I've submitted an issue to WHATWG in their loader repo and I'm hopeful that we can improve the standard before it is finalized. If that happens, this problem will go away. If not....we'll have to get creative.

I'll leave this issue open

[2015-02-18 02:19] EisenbergEffect commented on #16
@PWKad How's it going on this?

[2015-02-18 05:07] PWKad commented on #16
Right now the problem is the binding is only triggered by changes to the parent.  I am trying to research the best way to hook in to all of the properties without explicitly managing the observers.  Ex -

`<div with.bind="parentProp"><span>${childProp}</span></div>`

Gets properly bound but not the first time through.  But if we do this -

`parentProp.childProp = 'red'` it does not trigger the bin

[2015-02-18 05:15] EisenbergEffect commented on #16
You shouldn't be hooking into all the properties. This sounds like a bug in the binding system. I need a PR for this so I can test this and see if we have an issue and figure out a resolution. Thanks!

[2015-02-18 17:03] jdanyow commented on #21
The ViewSlot seems to be where the rubber hits the road in terms of changing a `select` element's set of options.  Would be a good spot to put the special behavior around select's and value bindings?

[2015-02-18 17:11] EisenbergEffect commented on #21
Not sure just yet... Maybe it could go in the repeater? If you want to play around with a few ideas, please go ahead :)

[2015-03-01 11:46] zewa666 opened #24 "Two way binding in inner-html"
The inner-html attachedBehavior currently doesn't support two-way bindings.
Here is an example:

[code]

[2015-03-01 12:04] jdanyow commented on #24
this is a duplicate of https://github.com/aurelia/binding/issues/45

[2015-03-01 12:11] zewa666 commented on #24
Here is a proposal ... how about attaching to the input event which is fired by the contenteditable like this:

[code]

[2015-03-02 01:30] Awaken6389 opened #25 "click.delegate event does not work within repeat.for"
Not sure if I'm doing something wrong, but I have an array, I loop through it (with repeat.for) and make a list, each list item has a click.delegate with a function name + id like so:

    <ul>
    <li repeat.for="result of results">
        ${result.Percent}%
        <a click.delegate="SetCategoryID(result.id)">
            <span repeat.for="subcat of result.SubName">${subcat} > </span> ${result.

[2015-03-02 01:50] EisenbergEffect commented on #25
You should instead call it like this `$parent.SetCategoryID(result.id)` because the repeater creates a new variable scope. Unfortunately, they don't inherit the variables of the outer block like in JavaScript...yet. We do think we will be able to fix this after some other core improvements are made in our binding engine. In the mean time, you can access those variables with $parent.

[2015-03-02 01:50] #25 closed

[2015-03-08 03:43] EisenbergEffect commented on #17
We *should* be able to make this work automatically in the future....however we are waiting on some additions to the ES6 loader spec as well as updated implementations of the polyfills. Until then, you will need to specify the view manually or databind it based on some property of your view model.

I'm keeping this issue open so I can update it once we finally get the capability in the ES6 spec an

[2015-03-09 16:39] matthy123 commented on #17
thanks for the update, would love seeing the view model binding in the future, that is what made your silverligth framework so incredibly strong!

[2015-03-11 14:55] boogunote opened #27 "When add an item into an array, which is bound to 'repeat' behavior, the '$parent' is undefined."
`context.$parent = this.executionContext;` in `function updateExecutionContext()` should be moved to `function createBaseExecutionContext()` and `function createBaseExecutionKvpContext()`.

[2015-03-11 14:59] EisenbergEffect commented on #27
@martingust Can you look into this issue please? Let me know what you find and what you think we should do. Thanks!

[2015-03-11 15:00] boogunote commented on #27
@EisenbergEffect , I have fix it. Could I push the PR? I already signed your agreement.

[2015-03-11 15:02] EisenbergEffect commented on #27
Feel free to go ahead and send the PR. I'll have @martingust review it since he's familiar with that code and then if it all looks good I can merge and get it in for our next release.

[2015-03-11 21:01] martingust commented on #27
@boogunote Can you please provide some more info on how to reproduce this? I'm not able to.

[2015-03-12 03:22] boogunote commented on #27
@martingust , Please checkout
`https://github.com/boogunote/bn5/blob/master/src/tree-node.js` and
`https://github.com/boogunote/bn5/blob/master/src/tree-node.html`.

I initialize view model in Ln.5 of tree-node.html.
[code]
Add check the model in `activate()` at Ln. 14 of tree-node.js.
[code]

In the first round, everything work will. When `children` bind to `repeat`, I can access corrent `$parent

[2015-03-12 10:39] martingust commented on #27
Thank you. I have got it reproduced and confirmed your fix works. Will let Rob know.

[2015-03-14 04:30] boogunote opened #29 "'show.bind' and 'if.bind' cannot work together with 'repeat.for'."
`$parent` is required to access variable in VM.
Only
[code]
can work.
I investigated the reason. `repeat` is a `lifting instruction`.When compiler gets such instruction, the element will be moved under a `template` element. So the execution context of this element is changed.  Only leverage `$parent` can access the variables. You can see it from https://github.com/aurelia/templating/blob/master/sr

[2015-03-14 12:51] EisenbergEffect commented on #29
Yes, we will certainly add a warning about that. Apologies for the frustration you experienced. If you think of our `if` and `repeat` the same way as `if` and `for` in JavaScript, it will make sense why these can't be on the same element. They each need to be declared with their own blocks. So, the same is true with our templating engine. We hope to get rid of the need for $parent after some revis

[2015-03-16 05:38] martingust commented on #27
@EisenbergEffect We can go ahead and close this.

[2015-03-17 05:58] EisenbergEffect commented on #24
In master.

[2015-03-17 05:58] #24 closed

[2015-03-17 06:10] #27 closed

[2015-03-19 20:03] EisenbergEffect commented on #29
I think we'll be able to fix this by removing the need for $parent eventually. That should be coming as part of a set of improvements to the binding engine. We are tracking that in another issue. Thanks!

[2015-03-19 20:03] #29 closed

[2015-03-20 11:24] jdanyow commented on #21
As part of this change we could switch from using a behavior to having this be a special case when binding to a select element's value.  The solution would need to handle multi-select scenarios as well.  Also need to take into consideration https://github.com/aurelia/binding/issues/43 , there might be some logic we can share between these two issues.

[2015-03-20 13:34] EisenbergEffect commented on #21
Yes. I very much want to push this logic down into the binding library. @jdanyow Are you interested in moving ahead to work on this along with the radio issue?

[2015-03-20 15:04] jdanyow commented on #21
yep- I had already started it a while back before gearing up to work on benchmarking

[2015-03-21 06:01] Awaken6389 opened #30 "repeat.for weird binding behavior"
I made a custom element that I pass two properties to (item and recommendations). Initially evetyhing works fine, but when I add another record to ValueRecommendation I get an error:

    Uncaught TypeError: Cannot read property 'undefined' of undefined ast.js:72

Here's a part of the template:

    <a href="#" class="selectable_item ${recVal.Selected ? 'active' : ''}" repeat.for="recVal of recomm

[2015-03-21 18:47] #15 closed

[2015-03-23 14:33] EisenbergEffect commented on #21
The new select implementation is in and going out in the next release. Thanks @jdanyow !

[2015-03-23 14:33] #21 closed

[2015-03-25 14:55] Souldrinker opened #31 "Missing null check for executionContext in compose bindings"
If the view-model in a composed binding is null (or undefined) when the data-binding of the view holding it is performed you get a ```Cannot read property 'executionContext' of null``` error in the console.

When I changed:
[code]

[2015-03-26 16:16] #31 closed

[2015-03-31 01:46] davismj commented on #17
I am seeing the same thing through a slightly different path, using the compose element as follows:

[code]

First binding works great. Changing the `currentView` element results in the above error. FYI.

[2015-03-31 01:56] EisenbergEffect commented on #17
Yes. The problem is that currently the ES6 loader spec doesn't support what we need to make this work 100%. They are supposed to be adding a module registry feature which would enable us to fix this. Can't do it until that is done and the polyfill is updated.

[2015-04-12 10:35] kanvuduc opened #34 "AMD modules need to be re-generated"
Currently, the AMD modules are generated incorrectly. They need to be re-generated in order to work well with bower and other JS package manager.

Let's take an example from **if** module:

    exports.If = If = customAttribute('if')(If) || If;
    exports.If = If = templateController(If) || If;

It should be generated as below:

    If = _aureliaTemplating.customAttribute('if')(If) || If;
    If

[2015-04-12 13:39] EisenbergEffect commented on #34
So, the compiler is generating incorrect code for AMD?

[2015-04-12 15:14] kanvuduc commented on #34
No. It did generate incorrect code, I think, because the code in **dist/amd** folder is incorrect. So when developers use bower/jspm to install the package, they will get the wrong code.

If I use the gulp command, it generates the correct code.

[2015-04-12 16:50] EisenbergEffect commented on #34
That very strange. I'll investigate and get this fixed soon.

[2015-04-13 01:13] capaj opened #35 "splices[0].index from repeat.js:220 throws error in my app"
This might be my mistake, but in case it isn't, could anyone have a look?

I have a simple twitter api app and I get one error each time my app bootsrapps. The repeat binding works, so the error doesn't break any functionality as far as I know, but it would be nicer, if it would not be throwing at all.

The repeat binding, which causes the error is here:
https://github.com/capaj/twitter-spelling-n

[2015-04-13 01:25] EisenbergEffect commented on #35
@martingust Would you look into this please?

[2015-04-13 13:43] EisenbergEffect commented on #34
@kanvuduc Do you know what version of Babel yielded the correct code output? I think there may have been a bug in the version of the compiler that we used to build the release.

[2015-04-13 15:16] kanvuduc commented on #34
@EisenbergEffect I just get the latest source code from GitHub then do the build, and I get the correct output :).

[2015-04-15 11:59] Souldrinker opened #37 "Sorting got wonky after upgrading to the latest Aurelia version"
I've been using the RubaXa/Sortable library to sort stuff in a repeat.for binding and everything has been working fine for the last month or so since I started using it, but after the 2015-04-09 release of Aurelia I started to get duplicates when I spliced the underlying array to reorder it to keep in sync with the UI.

It might be me doing something wrong in the first place that for some reason s

[2015-04-15 12:15] martingust commented on #37
@Souldrinker Will look into this.

[2015-04-15 19:40] martingust commented on #37
@Souldrinker There was a regression here. Should be fixed in #36. Thanks for great reproduction info.

[2015-04-15 20:19] stoffeastrom commented on #35
I get the same error. It's because the `splices` has zero length. Also don't know if it's connected but now when I remove something from an array the referring element is reused which broke some stuff for me. I'm not sure that's the desired behavior?

[2015-04-15 20:31] martingust commented on #35
This issue should be fixed in #36. Regarding your other issue, can you please provide reproduction steps and I will take a look, thanks!

[2015-04-16 13:55] #35 closed

[2015-04-16 13:55] #37 closed

[2015-04-16 20:16] stoffeastrom commented on #35
@martingust Will do as soon as this get's in and I can reproduce it!

[2015-04-17 15:35] EisenbergEffect opened #38 "dynamic-behavior custom attribute"
Some 3rd party libraries, such as kendo, generate HTML on the fly based on an internal templating system. Users would like to be able to use these template to include Aurelia custom elements and attributes. However, today this doesn't work because the templating engine has already processed the static content. Create a custom attribute that can be placed on a view to tell Aurelia to watch the view

[2015-04-18 19:24] PWKad opened #39 "with binding doesn't provide $parent"
Need to add $parent to the context of `with` binding

[2015-04-24 21:41] mbroadst opened #41 "iterating over an object's keys is unclear"
This does not work:
[code]

while this does work:
[code]

It would be desirable to provide one of two alternative methods, as the solution provided is rather clunky:

   * ```<div repeat.for="(key, value) in data}>${key} = ${value}</div>```
   * ```<div repeat.for="d in data">${$key} = ${$value}</div>```

[2015-04-24 21:50] martingust commented on #41
For the record from the Gitter conversation:

We could add the “in” syntax and just have it dynamically add a | keys converter on to the end of the expression….and then we could provide a keys converter out of the box. It will be a bit more complicated than that syntax-wise once we add binding behaviors, but we could do something like that I suppose.

[2015-04-24 23:03] jdanyow commented on #41
Cool feature- what is the expected behavior when the object's properties are changed/deleted/added?

[2015-04-24 23:12] mbroadst commented on #41
@jdanyow this was discussed in the gitter too, I think its expected that this a one-way bound operation. I'm familiar with the internals of your template binding, but I imagine two-way binding this would be non-trivial

[2015-04-25 10:42] tomasbonco opened #42 "Use a binding for compose view-model"
Hello,
I'm getting this:
[code]

Here is Git: https://github.com/tomasbonco/aurelia-issue
Tested in aurelia 0.12.0 and 0.12.2.

Source code for quick code review:
`app.jade`
[code]

`app.js`
[code]

Thanks for help!

[2015-04-26 13:16] jdanyow commented on #42
If you set a breakpoint in the transpiled code is `Dialog` defined on the line that looks like this:

[code]

[2015-04-26 13:32] tomasbonco commented on #42
I'm sorry, is that a question? Where exactly should I see it (and why)?
`dialog.js` is compiled into:
[code]

And property `target` in `viewStrategy.moduleId = Origin.get(target).moduleId;` is:
[code]

[2015-04-26 13:58] luboid opened #43 "Bug into amd module sanitize-html"
Hi,

valueConverter is undefined

[2015-04-26 14:57] jdanyow commented on #42
apologies- I wasn't very clear- what I meant was if you use the chrome debugging tools and set a breakpoint in app.js, is `Dialog` undefined?  I'm referring to `Dialog`, the constructor function/class- not `dialog` the variable/argument in your App constructor.

[2015-04-26 15:15] jdanyow commented on #43
@luboid could you provide some more info on this issue?  I tried reproducing it in the Aurelia plunkr:

http://plnkr.co/edit/Atjl971xjH3ozJdy8LAX?p=preview

[2015-04-26 15:28] tomasbonco commented on #42
No it's not:

![github-aurelia-bug](https://cloud.githubusercontent.com/assets/4013047/7337868/9eeef5ca-ec39-11e4-970e-a3889732dc0a.png)

[2015-04-26 16:04] tomasbonco commented on #42
When examining originStorage, there is no Dialog. Do I have to do it manually?

[2015-04-26 17:34] luboid commented on #43
Hi,

Here is example:

https://github.com/luboid/aurelia-bundle

I used to bundle Aurelia with

https://github.com/luboid/aurelia-typescript/tree/master/aurelia-require-bundle

such thing occur to me with compose module, row :

exports.Compose = Compose = customElement('compose')(Compose) || Compose;

symbol customElement

[2015-04-26 22:22] tomasbonco commented on #42
I updated repo, with html (so jade is no longer needed)

[2015-04-27 00:01] CharlesPockert commented on #42
Looks like two issues here:

1. The module has not been `<require>`d. This results in what I assume to be the module cache trying to grab the module and assuming it's already been loaded.

2. If the require is added I get another error: (getObserversLookup on undefined)

I've debugged this, I get down to the dynamic-element branch in composition-engine.js. This:

[code]

Sets up the metadata and t

[2015-04-27 06:24] iicaisin1 commented on #1
What is the best strategy to dispose custom elements in Aurelia? I tried to use Detached() function but it is too late as the view had already been detached. Of course, it works on Deactivate() call, but is it doesn't seem the right place. It is almost begging for a new IsDetaching() call - not sure if this is over the top.

Here is what I used for testing kendo:
let widget = kendo.widgetInstance(

[2015-04-27 11:24] EisenbergEffect commented on #1
Why is the `detached` callback to late?

[2015-04-27 20:22] iicaisin1 commented on #1
I am currently using just a view with the following template:

[code]

<pre lang="javascript"><code>

import {IViewModel}   from  'framework/IViewModel';

export class Welcome implements IViewModel {
    constructor() {
    }

    attached() {

        return new Promise((resolve, reject) => {
            $('#scheduler').kendoScheduler({
                date: new Date("2013/6/6"),

[2015-04-27 20:27] EisenbergEffect commented on #1
This can't really be changed because it's meant to model Web Components behavior. It's also important for performance reasons. What I would recommend is that you store the instance of the kendo scheduler control in a property of your class and then use that later on to destroy things. That would also be slightly better performance-wise.

Another quick note: The attached callback doesn't support re

[2015-04-27 21:07] EisenbergEffect commented on #17
The spec is still being developed, but guy gave me a workaround for module iteration using a private api for the mean time:

[code]

[2015-04-28 13:43] martingust opened #44 "Create a virtual-repeat template controller"
The idea is that you can have a huge array of items, but in the view only as many items that fit in the container will be rendered plus a couple above and below. When the user scrolls the repeater will simulate scroll by animating the views with CSS transform and move them around. This should result in a repeat with very good performance on large lists as well on mobile devices.

[2015-04-28 18:13] luboid commented on #43
Is that enough for you?

[2015-04-28 20:44] stoffeastrom opened #45 "repeat not working as expected"
I can't give you a demo right now since I'm waiting on new releases since the repeat binding is currently broken but fixed in #46. This has been working before so some kind of regression must slipped in. I have a sortable plugin that adds a placeholder when you start sorting in a `repeat`binding. The placeholder adds an `element.style.visibility = "hidden"`since it should simulate a real `item` in

[2015-04-28 21:13] EisenbergEffect commented on #13
What if we set up a bunch of these as gists and then let the cli install a gist? @joelcoxokc What do you think of handling this like that.

[2015-04-29 04:30] martingust commented on #45
@stoffeastrom I've got this reproduced in the demo you linked to in the Gitter channel. Will look into it and get back to you.

[2015-04-29 05:24] #42 closed

[2015-04-29 05:31] stoffeastrom commented on #45
@martingust great!

[2015-04-30 06:35] EisenbergEffect commented on #34
Fixed in next release.

[2015-04-30 06:35] #34 closed

[2015-04-30 06:35] EisenbergEffect commented on #43
Fixed in next release.

[2015-04-30 06:35] #43 closed

[2015-05-01 01:41] PWKad opened #47 "Add documentation for the API"
Nuff' said.

[2015-05-01 14:28] martingust opened #49 "Optionally prevent reuse of views in repeat"
For performance reasons, when the the `repeat` handle changes, it reuses views and elements as much as possible. However in certain scenarios one might want to opt out of element reuse. For example when directly manipulating an element, in a way that disqualifies it for reuse, oppose to handle this via a custom attribute or data-binding.

Suggested use-case:

` <option repeat.for="color of colors

[2015-05-01 20:41] Aaike opened #50 "repeat.for="i of 5" does not work"
`<div repeat.for="i of 5">${i}</div>`
does not work to repeat something x number of times.

I think this syntax should work as `for(i of 5)` works fine in ES6.

[2015-05-01 20:47] EisenbergEffect commented on #50
@Aaike You just have to go and make things complicated :smile: Right now we support arrays and maps. We don't actually support generic iterables because it's hard to know how to observe that. We could special case this though. The question would be, what is the cost of this. @martingust Can you look into this. Obviously, no observation needs to be done here. Not sure off the top of my head what wo

[2015-05-02 08:29] martingust commented on #45
@stoffeastrom Instead of pulling views out of the DOM and adding them back again, we are trying to reuse the views as much as possible, this improves the performance a lot. The reason your sortable plugin worked before was due to the lack of view reuse in the repeat that got introduced in the v0.10.0 release of templating resource.

In certain scenarios like yours and 3:rd party jQuery plugins tha

[2015-05-02 08:34] martingust commented on #49
The planned view caching mechanism might take a way the need for this. Holding off on this issue.

[2015-05-02 09:01] martingust commented on #50
@Aaike @EisenbergEffect I like it! It would be fairly easy and not much cost in implementing. I will see if I can get this in tonight.

[2015-05-02 16:35] stoffeastrom commented on #45
@martingust That is ofc possible. However, doing that the plugin relies on that the user sets the correct css. It would be nice if that just works ootb. Maybe it will be possible to have plugin scoped css in the long run which would be awesome.

[2015-05-02 18:40] martingust commented on #45
@stoffeastrom I see, hmmm. Would it be possible to implement the `detached` or `unbind` callback and reset the styling?

[2015-05-02 18:43] EisenbergEffect commented on #45
Definitely, if your plugin alters html, then I would make sure to appropriately destroy the plugin during the `detached` or `unbind` callback.

[2015-05-02 19:14] stoffeastrom commented on #45
@martingust  @EisenbergEffect. I will try that. As long as the unbind is called for the placeholder element before setting the new executioncontext it wouldn't be a problem.

[2015-05-02 19:23] stoffeastrom commented on #45
`detached` is not called since the view isn't destroyed which makes sense. The unbind is called but not for the element that I'm removing..

[2015-05-02 19:26] stoffeastrom commented on #45
Sry, I forgot to use latest build.. it actually calls `detached`.

[2015-05-02 19:28] stoffeastrom commented on #45
So I implemented the `detached`callback and it works as expected!

[2015-05-02 20:04] EisenbergEffect commented on #45
Awesome!

[2015-05-02 20:08] martingust commented on #45
Great, looking forward to see the demos of your plugin.

[2015-05-02 20:28] stoffeastrom commented on #45
Sorry guys but after some more testing I found out that it doesn't work 100%. When moving a element left to right it works however moving from right to left it doesn't. Neither `detached` nor `unbind` is called for the `placeholder` element

[2015-05-02 20:50] martingust commented on #45
Ok, sorry won't be able to check it out tonight. Let me know if you find out anything or i'll take a look.

[2015-05-03 19:19] Aaike commented on #50
Thx for adding that so quickly @martingust !

[2015-05-04 19:34] stoffeastrom commented on #45
@martingust @EisenbergEffect
I would argue that this is a bug after some more investigation. I get different `view lifecycles` and it doesn't seem consistent. It's kind of hard to get a minimal example but in pseudo

After a `repeat` is rendered add an `item`
I expect the following `view` functions to be called
`bind`, `attached`
When moving the newly added `item` I expect nothing
When removing th

[2015-05-04 21:24] martingust commented on #45
@stoffeastrom You are absolutely right. Since the view gets reused detached and attached never get fired. This would get solved when the view caching is in place, which should be within the next couple of weeks. Hope this doesn't cause too much trouble for you or you can do temporary workaround maybe with CSS.

[2015-05-04 21:30] martingust commented on #45
Actually I'll reopen this, so we can track when caching is in place.

[2015-05-04 21:46] simonfox commented on #17
@EisenbergEffect does this mean this is available in the latest release via this workaround?

[2015-05-04 21:58] EisenbergEffect commented on #17
The above fix has not yet been applied. I'm going to try to get it into the next release along with a few more core improvements.

[2015-05-04 22:39] davismj commented on #50
@Aaike I actually had a use case for this as well and wrote my own, python style:
[code]
so
`repeat.for="i of range(5)"`

@martingust Thanks so much, dude, this is awesome!

[2015-05-05 01:51] simonfox commented on #17
@EisenbergEffect cool thanks Rob

[2015-05-05 06:30] stoffeastrom commented on #45
@martingust @EisenbergEffect

Even if a `view` is reused shouldn't we make sure to follow the `view lifecycle`?
In my opinion we should still follow the `view lifecycle` but with the correct `execution context`.

What I'm saying is that I still want `view` caching for performance but ensure the `view lifecycle`.

In my case, if `bind` and `unbind` would be called with correct `execution context` i

[2015-05-05 06:55] stoffeastrom commented on #45
Thinking more of it we could even call `attached` and `detached` meaning that the `view` is `attached`, `detached`. If there are use cases you would want to know if it's `attached`/`detached` to the DOM we could add those events

[2015-05-05 13:01] EisenbergEffect commented on #45
Yes, absolutely. We have a "quickie" version in the repeater. But, we are going to remove that and implement caching at the view factory and view slot level. This will ensure enable the full lifecycle to be preserved even while re-using views. The repeater then will have it's custom logic removed. That's the plan at least.

[2015-05-05 18:06] stoffeastrom commented on #45
Great!

[2015-05-06 04:08] cehoffman opened #52 "Shadow DOM with dynamically created components"
Currently to my understanding components which dynamically insert other components, e.g. router-view and compose, do not obey the `@useShadowDOM` decorator of the component they insert. This is unintuitive and breaks the declarative assumptions decorators afford.

Is it intended that code which uses `@useShadowDOM` and wants to mess with its own DOM should have something like the following to proa

[2015-05-06 13:38] #50 closed

[2015-05-06 21:07] rharing opened #53 "create custom attribute to put focus on a field once a model view is loaded"
If a view is loaded it would be nice to indicate a field to be directly focussed. Using normal javascript this could be done by selecting the element and then calling the focus method on it. Hopefully Aurelia can create an attribute for this.

[2015-05-06 21:25] stoffeastrom opened #54 "Crash using `repeat`"
After latest upgrade my plugin started to crash in `view-slot` coming from `repeat` `handleSplices`. It tries to do `view.insertNodesBefore` but the view is a `promise`:).
Goto http://oribella.github.io/aurelia-sortable/#/flickr. Start dragging an image and turn on break on expections and you will see the problem.

[2015-05-06 21:41] EisenbergEffect commented on #54
@martingust I know you are messing around in there already. Would you mind taking a look at this please?

[2015-05-06 22:47] martingust commented on #54
@stoffeastrom When dragging an image I get `Cannot read property 'classList' of null` from `animator.css` is that what you get as well?

[2015-05-07 03:53] stoffeastrom commented on #54
@martingust No I don't get that. Are you running it locally?

[2015-05-07 04:27] martingust commented on #54
@stoffeastrom Ok, in Firefox I can see this and in Chrome the above. Will look into it.

[2015-05-07 09:25] martingust commented on #54
This is due the `removeAt()` function in `view-slot` now returns a Promise instead of the actual view when the view is animated. Working to find a solution to this, hang in there.

[2015-05-08 18:36] #54 closed

[2015-05-10 07:25] martingust commented on #53
@rharing You can bind to the `autofocus` attribute:

[code]

[2015-05-10 10:57] rharing commented on #53
yes that would indeed be what I was looking for, thanks for the info

[2015-05-10 10:57] #53 closed

[2015-05-10 15:21] CharlesPockert opened #56 "TypeError when repeat is shown for first time using if.bind"
I've managed to reproduce this in skeleton, which can be seen here:

https://github.com/CharlesPockert/skeleton-navigation/tree/master/src

Basically, I've created a custom element which is a collapsible panel and I was messing about with showing/hiding it using `if.bind`. I found that If I nest a `repeat.for` inside an element and use an `if.bind` attribute on it, when the bound property is truth

[2015-05-10 20:32] #49 closed

[2015-05-11 01:08] EisenbergEffect commented on #17
Another note related to supporting require.js with the same feature. Notes from James:

There is no official API for this, but the internals to the set of export values at `requirejs.s.contexts._.defined` for the default context. Since this is getting into the internals, its API stability is not guaranteed. I have no plans to change it for 2.1.x, but also do not guarantee that. For almond its inte

[2015-05-13 13:20] PWKad commented on #13
@EisenbergEffect That should work fine, the only issue with a gist is we would need you to set it up through the `aurelia` github account and update them if they needed updating on release, since gists can't be PR'd.  I'd probably be more in favor of a plugin(s)

core-value-converters
extended-value-converters
date-value-converters

Would be an example of a few

[2015-05-13 13:22] PWKad commented on #13
Leaving this here for future reference - bool valueConverter to handle when an attribute sets a boolean value but html makes it a string -

[code]

[2015-05-14 00:37] #17 closed

[2015-05-14 00:38] EisenbergEffect commented on #17
Going out in the next release. This hasn't been tested with require.js. It does work with system.js. If you are using require.js, almond or dojo's loader, then please reach out and assist us in confirming that this works in those cases.

[2015-05-14 03:33] simonfox commented on #17
:+1: thanks @EisenbergEffect!!

[2015-05-14 18:58] mbroadst opened #58 "feature request: convenience binding for composition without view-model"
It would be very convenient in some cases to be able to make the binding context of a composed view using this syntax:
    ```<compose view="/path/to/template.html" model.bind="anObject"></compose>```

Not only would this save boilerplate in very simple cases, but it would also allow an easy mental modeling for the composed view such that you could use properties of the bound model directly in the

[2015-05-14 19:00] mbroadst commented on #58
it's worth noting that this feature might be reimagined as replacing ```model.bind="item"``` above with ```view-model="item"```, but that might violate expectations (and generally be somewhat confusing to users)

[2015-05-14 19:21] EisenbergEffect commented on #58
Use `view-model.bind="item"` :)

[2015-05-14 19:21] #58 closed

[2015-05-15 00:15] PWKad commented on #47
The initial implementation should be resolved with https://github.com/aurelia/templating-resources/pull/57, forgot to mention this was fixed.

[2015-05-15 00:15] #47 closed

[2015-05-15 01:38] davismj commented on #17
confirmed, works with my application

[2015-05-16 06:36] martingust commented on #56
Yes, problem seems to be using `if.bind` inside of a `CustomElement`, when `if` sets to true it creates a new view with `executionContext` null and bindings inside `if` gets no scope. In `behavior-instance` the instructions for the bindings inside the `if.bind` are missing. Possible soulution is to update these during `bind`. Honestly I'm not sure how this can be implemented and would need someone

[2015-05-16 08:33] heruan commented on #41
:+1: I'm writing a plugin to build tables and forms reading a JSON schema and repeating over an object would be very useful to iterate over the `properties` objects of the schema.

[2015-05-17 08:06] mttmccb opened #61 "binding events to innerHTML..."
Suppose I have some html I'm getting from an API, I don't have any control of the format but there are a few tags within it that I want to attach events to (in this case click events)

I'm using innerHTML.bind to bind it to a html element.

Is this something that could/should be a feature?

I wonder if delegating an event to the containing element would do the job?

[2015-05-17 21:05] mttmccb commented on #61
I solved this by binding the events to the same html element and just using target to determine what was clicked. Yay for event delegation.

[2015-05-17 21:05] #61 closed

[2015-05-17 23:12] Zoltu commented on #16
Would the completion of this feature allow me to do something like this:

custom-element.html
[code]

custom-element.js
[code]

app.html
[code]

app.js
[code]

The expected behavior here is that the `<custom-element>` element in `app.html` would be a placeholder until such time as `this.myCustomElement` was set.

I'm not exactly sure how the lifecycle events would play out (`bind` and `activate` o

[2015-05-23 04:13] Aaike commented on #50
Did this update also allow for variables to be used ?
[code]
where `total` would be a variable on the VM with a number ?
i gave it a quick go but it didn't seem to work.

[2015-05-23 04:16] davismj commented on #50
It did.
On May 23, 2015 12:13 AM, "Aaike Van Roekeghem" <notifications@github.com>
wrote:

[2015-05-23 04:20] Aaike commented on #50
it does work ! thx @davismj
[code]

[2015-05-23 04:20] Aaike commented on #50
it does work ! thx @davismj
[code]

[2015-05-23 16:13] manuel-guilbault opened #62 "show and class on the same element"
The ```show``` attached behavior conflicts with the ```class``` HTML attribute with string interpolation when used on the same element.

For example, given the following template:
[code]

When ```isVisible``` is set to false, and ```show``` adds ```aurelia-hide``` to the element's ```classList```,
and then ```isEnabled``` is set to true, then the ```class``` attribute is overwritten, and the eleme

[2015-05-23 16:19] manuel-guilbault commented on #62
Maybe this could be solved by adding an attached behavior that uses the new dynamicOptions to toggle on and off a set of classes. Something like:
[code]

[2015-05-23 16:38] EisenbergEffect commented on #62
@jdanyow We need to look into this issue shortly. We've got another feature that is going to cause this bug to crop up more frequently in the future. The new ability I'm working on next week to enable custom element host properties to be bound to internal properties of the view model could result in multiple class bindings on the same element: one provided by the element itself and bound to the el

[2015-05-24 17:54] Aaike opened #63 "repeated items cannot be styled with last-child"
When using a repeat it always leaves a <template> tag after the repeated elements. it's been like that for a while.

Here is a screenshot from the repeat on the flickr page in the skeleton nav that shows the template tag:
![screenshot from 2015-05-25 00 21 08](https://cloud.githubusercontent.com/assets/378772/7788924/58bb6084-0278-11e5-8acc-e25bee7bb8c2.png)

Just wondering if there are plants to

[2015-05-25 06:35] Aaike opened #64 "compose 'done' event"
I'm currently in a situation where i would need to know when the compose element is done with processing the instruction.

I would like to be able to do something like:
[code]

The `composeDone` function would get called when everything is loaded and the element is displayed.
It would allow me to show a loading indicator while some compose elements on the page are still loading.

I am seeing a not

[2015-05-25 06:45] Aaike commented on #64
Actually what would also be good is to have a start event so i can detect when a compose is going to start loading and show a loader until it is done, and it would be good to know where each event is coming from.

So this would be better :

[code]

Again not sure about the naming of `start` and `done`.

[2015-05-26 12:22] jdanyow commented on #62
ok will take a look

[2015-05-26 16:22] jdanyow commented on #62
related to https://github.com/aurelia/binding/issues/33

[2015-05-26 16:24] EisenbergEffect commented on #62
Also related to this (once I implement the new feature): https://github.com/aurelia/templating/issues/61

[2015-05-26 19:20] gentledepp commented on #1
Hi! Integrating kendo ui is a key-concern for me. I tried to integrate kendo ui with durandal.js but failed although I was using http://rniemeyer.github.io/knockout-kendo/
Problem is, that I did not manage to get the templates of the kendo ui widgets to work with knockout bindings as that was not supported for all widgets by knockout-kendo, and so I implemented it myself.
Main problem of this appr

[2015-05-26 20:08] joelkinzel commented on #63
I'll piggy-back since it is related, but when using the "compose" feature, it leaves the compose element in the HTML as well. Example below:

[code]

While you can work around it, it would be nice if Aurelia would just inject the view from the HTML file (minus the `<template>` tag).

[2015-05-26 20:28] bastienJS commented on #63
I can just second that behavior: use a bootstrap button-group with 3 buttons. The last button has no rounded corners.

You can fix that with a workaround:

[code]

Instead of :last-child use the nth-last-child(2) which formats the element before the last element :P

[2015-05-29 01:15] jdanyow commented on #62
@EisenbergEffect if you get a chance could you review this commit:  https://github.com/jdanyow/binding/commit/f579a8de6cde891aeecc4db9793f19724b03c3fa

I added a new observer type:  `ClassObserver`.  It tracks the classes it's added so that it doesn't remove someone else's classes.  The big thing is `ClassObserver` is never shared.  The ObserverLocator will always return a new instance.

Working o

[2015-05-29 03:16] jdanyow commented on #64
@Aaike have you had a chance to try this solution out?  I remember something like this coming up in the gitter in the past.

What would be the behavior when there is nested composition- ie the template being composed has it's own compose element, or a repeat, and so-on.

[2015-05-29 09:30] Aaike commented on #64
Correct, it is when using compose inside a repeat.

I have created a `list-composer` and a `paginator` that you can use to paginate through the total items of the repeat. the repeat has a compose in it that pulls in other VMs.

So every time i switch a page it composes 12 items.
When doing that there is about 1-2 seconds where you only see the grid's container , no items within. And that is becaus

[2015-05-30 00:37] EisenbergEffect commented on #62
Looks pretty good. I had one comment, but it's not a big deal. Let me know when you are done with the tests and we'll get it in. This will fix several issues and enable the new host element binding feature. Thanks!

[2015-06-01 00:32] #62 closed

[2015-06-02 02:56] EisenbergEffect commented on #64
We could probably add these events. The naming probably needs to be more specific though. Maybe "compose-start" and "compose-complete" perhaps? Also, there are some other improvements I'd like to add to composition in the future that are somewhat related, but this might be a decent temporary solution. I need to think on it a bit more.

[2015-06-02 02:59] EisenbergEffect commented on #63
This is two different issues here. The first is how we handle maintaining anchors for view injection. We've been using a template element, but obviously that affects the last-child scenario. I think we could switch to using a comment anchor. I'm going to investigate this tomorrow.

The second scenario relates to "containerless" composition. In other words, rendering the custom element without it's

[2015-06-02 19:27] Mordred commented on #56
Is there any progress with this?

[2015-06-02 19:33] EisenbergEffect commented on #56
Not  yet. There are a few other templating issues that need to be addressed first.

[2015-06-02 21:33] #63 closed

[2015-06-03 03:17] akircher opened #67 "Replace `$parent` with `$super`"
Given Aurelia's focus on ES6 syntax, I think that `$super` would be a better name than `$parent`

[2015-06-03 12:11] EisenbergEffect commented on #67
It's not really inheritance at work here per se, so I'm not sure that $super makes sense. That aside, we plan to lift the need to use $parent at all in a future iteration so that the variable scopes work in the templating engine the same as they would in JavaScript itself.

[2015-06-03 12:11] #67 closed

[2015-06-04 02:59] #56 closed

[2015-06-04 06:39] maxgrv opened #69 "bug using repeat.for inside with block"
Consider the following scenario:

A ViewModel like:

    export class ViewModel
    {
       submit()
       {
            this.child = {subchild: { items: ["a", "b"]}}
       }

       activate()
       {
           this.child = { subchild: { items: ["a", "b"]}}

       }
    }

bound to the following view:

    <template>
       <section>
            <form role="form" submit.delegate="submit()">

[2015-06-08 15:11] flieks opened #70 "focus"
i don't know if the focus works.. I added it to index.js (of templating resources).
it binds, it stops in focus.js but in blurlistener/focuslistener, the value variable is the text value of my input and not a boolean

[2015-06-08 20:46] martingust commented on #70
I just tested and it works for me. Would you mind share your VM/View? Also what browser are you using?

[2015-06-09 00:17] flieks commented on #70
i'm using chrome.
my view:
[code]
VM:
[code]
this is a customElement.

Thanks
Felix

[2015-06-09 09:11] martingust commented on #70
That works as well. Have you tested with the latest release from yesterday? If possible could you put together a repo that replicates the issue?

[2015-06-09 09:15] martingust commented on #30
@Awaken6389 Is this still a issue? A couple fixes that might be related to this have been released.

[2015-06-09 18:21] #69 closed

[2015-06-09 22:53] flieks opened #72 "recursive templating not working (in new release)"
when you have a custom element:
tree-view.html:
[code]
app.html:
[code]

that doesn't work anymore (i tested in a fresh skeleton app. And then updated it to new release). navigation doesn't end:
chrome output:
[code]

[2015-06-10 12:45] jdanyow commented on #72
@flieks does it work in the latest aurelia build if you remove the `require` elements and use `globalizeResources`?  (search for "globalizeResources" in the [docs](http://aurelia.io/docs.html), it's mentioned a few times)

[2015-06-10 14:05] EisenbergEffect commented on #72
I think it should work if you just remove the `require` element since the own element is always available to itself. No need to globalize. Still, there is a bug here as it shouldn't stop working, so I will look into that.

[2015-06-11 04:50] flieks commented on #72
thanks , that worked.
i have a new related issue now [here](https://github.com/aurelia/templating/issues/92)

[2015-06-11 13:03] EisenbergEffect commented on #72
This needs to stay open. I'd like to see if I can fix this.

[2015-06-12 22:32] flieks commented on #70
this works now perfectly with the new release. Thanks alot

[2015-06-12 22:32] #70 closed

[2015-06-13 08:34] martingust opened #74 "Add animation-move for the repeater"
The base animator defines an interface called move https://github.com/aurelia/templating/blob/master/src/animator.js
This one is supposed to be called when an existing element changes it's position in the DOM tree most of the times this happens in repeaters ... imagine where you could resort a list.

(words stolen from @zewa666)

[2015-06-13 08:44] martingust commented on #74
@zewa666 Today the repeater doesn't track what view are moved in a way to make this implementation easy without having to rewrite the splice handling logic. When `view caching` gets implemented a lot of this logic is going to be moved from the `repeat` to `templating`. It might be a good idea to wait for that and implemented this at the same time?

@EisenbergEffect Thoughts?

[2015-06-13 10:14] zewa666 commented on #74
Good idea, thx for creating the issue to track this

[2015-06-13 20:03] stoffeastrom commented on #74
This would be a nice feature! :+1:

[2015-06-14 22:37] capaj commented on #38
@EisenbergEffect  in the meantime, how can I trigger compilation on a DOM element manually? I have a DOM being inserted by leaflet.js map library and I would love to compile an aurelia element inside it by hand.

[2015-06-14 22:56] EisenbergEffect commented on #38
See if this will work for you: https://github.com/gooy/aurelia-compiler

[2015-06-14 23:33] capaj commented on #38
Tried, it did not. There was a typo and even after fixing that typo it didn't compile my DOM element.

[2015-06-16 11:52] wshayes opened #75 "Repeat.for collection expression issue (array of objects)"
Repeat.for issue in a Plunker: http://plnkr.co/edit/rOL3Wj?p=preview

Workaround suggest by Aaike uses a function to return the array of objects instead of
    <div class="row" repeat.for="item of $parent.results.facets[facet.name]">

Line 36 in app.html is the issue. If one comments out that div, you can see the page. The javascript console shows the issue with the repeat.for collection. If no on

[2015-06-16 12:17] Aaike commented on #75
for easy reference this issue involves the repeat failing to get an array from an object by specifying the key with a variable, ie:
[code]
where `object` is an object that holds arrays mapped by keys.

[2015-06-18 06:17] martingust opened #77 "All elements are attaching/detaching on Map change"
I have a repeat over a map that loads up a custom element. No problems there, but I've noticed that when I add a new item to the map, all the existing elements are detached and attached again.

/@metatribal

https://gitter.im/Aurelia/Discuss?at=55819237f207aa853a8bc8cc

[2015-06-18 07:09] capaj commented on #67
@EisenbergEffect I agree, also $parent will always be natural for people coming from Angular.

[2015-06-18 16:09] martingust commented on #77
Just confirmed by @metatribal this is not a bug.

[2015-06-18 16:09] #77 closed

[2015-06-19 00:01] grlscz opened #79 ""show.bind" with initial value of null/undefined"
Not sure if it is a `show` issue of binding engine issue. If the initial value of binding expression is `null`/`undefined`, then `valueChanged` call doen't happen, and the element remains visible.

Demo: http://plnkr.co/edit/6puQ2FLJc9gNF8MiQIAZ?p=preview

[2015-06-19 01:44] jdanyow commented on #79
This will be fixed by https://github.com/aurelia/templating/pull/103 and https://github.com/aurelia/templating-resources/pull/78

[2015-06-23 15:48] #45 closed

[2015-06-23 16:13] #75 closed

[2015-06-29 00:10] jdeux opened #80 "Bundling issue"
When following the post [**Bundling an Aurelia Application**](http://blog.durandal.io/2015/06/23/bundling-an-aurelia-application/) under **Bundling JavaScript** an error prevents "app-bundle.js" from being generated:

[code]

When removing templating-resources from the "aureliafile.js" then "app-bundle.js" is successfully generated.

[code]

[2015-06-29 21:14] EisenbergEffect commented on #80
Please check to make sure that versions in your bundle config match what is actually installed in your project. We will be fixing this so that is't not necessary in the future. @ahmedshuhel Please track the version issue here.

[2015-06-29 22:02] ahmedshuhel commented on #80
OK, I am working on this feature currently.

[2015-07-01 15:13] jdanyow opened #81 "repeat.for="x of count" duplicates views when count changes"
[plunkr](http://plnkr.co/edit/ZSBB0ErlbDjfQ5LKuSDC?p=preview) (click on the "increment" link to see the issue)

[code]
[code]

[2015-07-02 14:31] RalfJan opened #83 "Clearing list stops repeat.for working"
We are trying to make a UL list that can be refreshed with new data.
We got so far that we can generate the list of 'units' like this:

< div class="row au-stagger">
            &nbsp;< ul class="list-group">
                &nbsp;&nbsp;< li class="list-group-item" repeat.for="unit of units" ">
                    &nbsp;&nbsp;&nbsp;.....
                &nbsp;&nbsp;< /li>
            &nbsp;< /ul>

[2015-07-02 15:14] jdanyow commented on #83
What happens if you use `this.units.push(unit)` instead of `this.units[i++] = unit;` ?

Is this issue reproducible in both Chrome and Internet Explorer or just IE?

[2015-07-03 06:59] RalfJan commented on #83
I have only tried it so far in IE. But your sugestion above seem to have help, the list is now updated.

[2015-07-03 07:57] RalfJan commented on #83
Hi Jeremy,

Yes, I tried that and seemed to have fixed the problem we had.

Thank you, and thank you for the swift reply!

Best Regards,

Ralf

From: Jeremy Danyow [mailto:notifications@github.com]
Sent: den 2 juli 2015 17:15
To: aurelia/templating-resources
Cc: RalfJan
Subject: Re: [templating-resources] Clearing list stops repeat.for working (#83)

What happens if you use this.units.push(unit) i

[2015-07-09 20:19] #83 closed

[2015-07-14 11:41] sksbrg commented on #37
@Souldrinker can you confirm this fix has resolved the issue on your side? I can still reproduce it using version 0.13.1 of "templating-resources". My usage of "Sortable" library looks pretty similar to yours.

[2015-07-14 12:03] Souldrinker commented on #37
Actually I haven't tested it for a while, the project I used it in is temporarily put on hold and will probably start again after the summer holidays, but I just opened it up and it seemed you're right. I'm currently on 0.13.0 of "templating-resources" there, but I do get duplicates as I did when I created this issue.

That's odd, because I'm pretty sure I tested it soon after @martingust fixed it

[2015-07-14 12:15] martingust commented on #37
@sksbrg @souldrinker Could any of you provide steps to reproduce and I will take a look.

[2015-07-14 12:53] Souldrinker commented on #37
Ok, I updated my sample app located at https://github.com/Souldrinker/compose-issue to the latest aurelia version and tried again and now it seems to work to drag Text1 below Text2, but if I drag the other way around (Text2 up above Text1) I still get duplicates on the screen. So it seems slightly better than the last time I reported this bug, but there is still something strange going on.

[2015-07-14 13:03] sksbrg commented on #37
Thanks for the update!

Rechecked my app and can confirm that it works/breaks in the same way for me.

[2015-07-14 13:31] jdanyow commented on #37
This may not be a workable solution with sortable, but wanted to share in case it was helpful...

With [dragula](https://bevacqua.github.io/dragula/) you can cancel the "move"- not sure if sortable has an equivalent.  Anyways, the strategy that worked for me was to use the library to get the users "drag and drop" intent, but [always cancel the move](https://github.com/jdanyow/aurelia-solitaire/blo

[2015-07-14 14:49] #72 closed

[2015-07-14 14:50] EisenbergEffect commented on #72
Patch release for templating coming in just a few minutes. Hang on...

[2015-07-15 21:03] martingust commented on #37
@sksbrg @Souldrinker, I took a look at the sample app and it looks like the issue is what @jdanyow mentioned; that Aurelia does not know where the view's elements are since they are moved around without moving the wrapping view comments, which tells Aurelia where in the DOM a particular view is located.

I believe though that @Souldrinker did have this working in an earlier version of Aurelia, I w

[2015-07-16 05:31] decademoon opened #84 "Custom element if.bind and repeat.for race condition causes repeat.for duplicates"
This is kind of hard to explain, but is simple to reproduce here: http://plnkr.co/edit/dcNDjqmzm72bwT4yikDl

Basically I'm getting duplicate rows with `repeat.for` in this very specific situation: If there's a `repeat.for` inside a custom element, and the custom element's visibility is controlled with an `if.bind`, and these two events occur at the same time:

1. The array bound to the `repeat.for

[2015-07-16 13:04] sksbrg commented on #37
Hi @martingust,

thanks for your efforts and your detailed answer. A quick search did not show me an obvious way to cancel the sort operation of Sortable. I tried to use dragula as shown by @jdanyow to sort my list but without success. I'm able to attach to the right event, I receive information about the dragged list item but I miss the information at which position it was dropped. Will dig a lit

[2015-07-16 13:11] Souldrinker commented on #37
Ok, so you're pretty much saying I'm doing it wrong and I was lucky that it worked up to version 11. Well I haven't really found anything in that library, there is an open issue regarding cancelling stuff, but it doesn't seem to be worked on for now (https://github.com/RubaXa/Sortable/issues/264).

So maybe I should try to switch to another sortable library. This one seems nice, but I haven't yet

[2015-07-17 10:05] martingust commented on #37
`aurelia-sortable` looks nice and embracing Aurelia. Perhaps check with @stoffeastrom what the status is. Or checkout dragula that @jdanyow was using.

[2015-07-17 10:17] stoffeastrom commented on #37
It's actually in a quite good state. The normal use cases should work. However the aren't much documentation. I want to use the new `ìnteractive docs` that *Aurelia* will have soon.
@Souldrinker Let me know if it doesn't support what you want to do. Just send me a private im on gitter. Remember that it's a *sortable* plugin and thus have some specific *sortable* features. Another use case would be

[2015-07-27 13:50] jdanyow commented on #84
@decademoon, thanks for the plunkr and the troubleshooting details.  As a workaround could you use `show.bind` instead of `if.bind`?

@EisenbergEffect I'm wondering if this would be fixed if we made the `if` behavior's `valueChanged` work lowest priority by enqueuing it on the micro-task-queue?  If that sounds like a reasonable approach I could investigate whether using the task queue would indeed

[2015-07-27 13:55] EisenbergEffect commented on #84
@jdanyow My concern with doing that is that it might push view construction out late enough to cause additional DOM churn during the initial UI render. For exmaple if the main view is then added to the DOM before the if binding renders its child view, then you will have a second forced layout/render from the DOM which wasn't there before...and this could happen a lot depending on the number of if

[2015-07-31 16:19] Alejinho opened #88 "repeat.for ?"
How does it works? I mean, it's json:
[code]
I'm trying to get the "[url]" this way:

[code]
It's show me `<h3>Test</h3>`, good but nothing about `img` , the firefox console says
`Object in "repeat"`

[2015-07-31 16:21] EisenbergEffect commented on #88
Please ask in our gitter channel. https://gitter.im/Aurelia/Discuss

[2015-07-31 16:21] #88 closed

[2015-08-01 04:02] sylvain-hamel commented on #13
I feel like common converters should come out of the box.

- They would be documented
- It would make it easier for newcomers (no need to search for gists)
- They would be versioned (no outdated and incompatible gists)
- People would be able to open Issues for bugs and send PRs

[2015-08-01 04:56] joelcoxokc commented on #13
@EisenbergEffect I just noticed your comment up top. from April. Not sure how I missed it!! I apologize!

[2015-08-01 11:23] martingust commented on #84
@jdanyow @EisenbergEffect It looks like the problem is that repeater does not remove its views when the events occur at the same time.

`if` triggers the call to the repeater's `unbind` method before the task queue gets flushed which results in that the repeater does not remove any views.

When the event is triggered on the next tick the task queue gets flushed and the repeater removes the views a

[2015-08-01 14:23] EisenbergEffect commented on #84
@martingust I think this is likely something we will have to handle at the repeater level. Would having the if delay calling unbind via a micro task help the issue?

[2015-08-01 19:16] martingust commented on #84
@EisenbergEffect That might help. I will investigate further.

[2015-08-03 10:16] martingust commented on #84
@EisenbergEffect Awesome, delay the unbind call with the micro task did fix the issue. I'll put together a PR today or tomorrow.

[2015-08-03 19:37] martingust commented on #44
Created in a separate plugin https://github.com/aurelia/ui-virtualization

[2015-08-03 19:37] #44 closed

[2015-08-03 19:57] olanod opened #90 "Get reference to view model with compose"
I have a composed view `<compose view-model="app/some/nice-view"></compose>` and I'd like to reference the inner view model form a sibling element of the compose or from the js code.
I'd like to do something like this:
[code]
[code]

[2015-08-03 19:59] EisenbergEffect commented on #90
Well, you can get a hold of the compose's view model with `compose.ref="foo"`. From there you can probably get at the composed view model instance.

[2015-08-03 20:19] olanod commented on #90
Well the view model instance would be `foo.currentViewModel`, but there's a timing issue. If I want to assign this view model to my current view model there's no clean way to do it because that property(`currentViewModel`) only exists when the composed element is attached(bound?) and that happens after the callbacks of my current view model are called.

[2015-08-03 20:23] EisenbergEffect commented on #90
Did you try doing `<button click.delegate="foo.currentViewModel.jump()">Click Me</button>` ?

[2015-08-03 20:49] olanod commented on #90
That should work, but I which there was a simpler/prettier way because I have to access that more than once, and that's just an example, I actually have to use it in one place like this `this.$parent.$parent.foo.currentViewModel.otherThing.someMethod()`(btw it would be nice to get this $parent reference in nested routes automatically).
As you see it's getting ugly. Some other thing that could help

[2015-08-03 20:55] EisenbergEffect commented on #90
It can't be injectible because it can dynamically change at any time if it's bound. We could add an event to the compose element that fires whenever a composition completes.

[2015-08-04 01:05] #84 closed

[2015-08-05 16:28] sylvain-hamel opened #91 "How to dynamically render a custom element"
I can use `compose` to dynamically render a `model/view/view-model`.

But how do I dynamically render a **custom element** from its type? Given a `ViewModel` where I know the `Type` of child custom element that I want to add to my `View`, I'd need something like this:

    <template>
       <${customElementType} param1.bind="p1" param2.bind="p2"/>
    </template>

[2015-08-07 15:16] corydeppen opened #92 "two-way binding not working as expected with jQuery plugin"
I've added a Kendo ComboBox to a form using a [global-behavior](http://aurelia.io/docs.html#global-behavior) and two-way binding. It renders as expected and changes to the select are reflected in the model, but changes in the model are not reflected in the select.

[code]

If I were to change `value.two-way` to `value.bind` it appears as though it's treated as one-time binding, as the value is onl

[2015-08-07 15:21] EisenbergEffect commented on #92
Unfortunately, the global behavior doesn't know how to automatically enable two-way behavior on arbitrary jquery plugins. That usually involves knowing how the events of the plugin report changes so that data can be pushed back in the opposite direction.

The global behavior is a bit of an experimental feature, since we're not sure how helpful it will really be. Perhaps you can investigate whether

[2015-08-07 15:21] #92 closed

[2015-08-10 00:15] aivins opened #93 "Null object properties in nested repeat"
Hi, seeing some unexpected behaviour with a repeat nested inside another repeat. All properties of $parent return null in the inner repeat, but they are present in the outer repeat.

[code]

[2015-08-10 04:42] aivins commented on #93
Ok, my mistake entirely. This:

[code]
Should be this:
[code]

I took $parent to mean item itself. Only comment here is that it was very hard to track down what I had done wrong.

[2015-08-10 04:42] #93 closed

[2015-08-10 14:12] jods4 commented on #16
The current `with` binding does not expose a `$parent` in the binding context, which is a very hard limitation.

A common use case is to bind forms: `<form with.bind="entity"><input value.bind="name" />`. In this use case you frequently need to bind to handlers (click on buttons) or other properties (dropdown values). In KO this was usually achieved with a `$parent.clickHandler` (or `$root`) refer

[2015-08-10 16:07] PWKad commented on #16
@jods4 The `with` binding was an experimental feature that is untested and has a broken implementation in some respects.  I would not suggest using it in your app at the moment.

[2015-08-10 16:09] jods4 commented on #16
I see.
I hope you'll manage to turn it into an official feature, because it simplifies several use cases a lot.

[2015-08-12 17:02] ahmedshuhel commented on #80
v0.3.0 release that we have pushed already should fix this problem.

[2015-08-12 18:46] #80 closed

[2015-08-12 19:02] tkiethanom commented on #50
Using "x of count" is still sort of broken. The DOM elements aren't actually bound to the count variable when used this way, so if count was originally 2 but you incremented the count to 3 on the back end you will end up with 5 repeated elements. Instead of the expected 3.

[2015-08-12 19:05] jdanyow commented on #50
@tkiethanom https://github.com/aurelia/templating-resources/issues/81

[2015-08-12 19:12] #81 closed

[2015-08-12 19:20] tkiethanom commented on #81
Reopened then closed. Does this mean it was verified as fixed?

[2015-08-12 19:24] jdanyow commented on #81
Initially checked in our plunkr (where it's broken) but confirmed it's fixed in the latest version of the skeleton-navigation project.  Do you have latest?

[2015-08-12 19:34] tkiethanom commented on #81
Working correctly after jspm update to get the latest version.

[2015-08-13 20:58] jods4 commented on #16
I was thinking about the `$parent` issue, which is a bit tricky.
The best solution -- and it would open up other scenarios -- would be for Aurelia bindings to support "ambient" properties / functions that are tied to the context but not directly on it.

But without that, there's another trick we could pull off. `$parent` could be added as a non-enumerable property. That way we modify the object in

[2015-08-17 14:03] benib opened #94 "repeat updates executionContext on items too early if au-animate"
If there is `au-animate` on the repeated element, when splicing the Array the execution context gets updated too early here: https://github.com/aurelia/templating-resources/blob/master/src/repeat.js#L283-L292. There are still all children in the viewSlot as their removal is delayed by the Animator here: https://github.com/aurelia/templating/blob/master/src/view-slot.js#L137-L140

Therefore the exe

[2015-08-17 14:14] EisenbergEffect commented on #94
@martingust Can you look into this?

[2015-08-17 19:28] martingust commented on #94
@EisenbergEffect Got this reproduced, will look into a fix.

[2015-08-18 11:27] jdanyow opened #95 "feature request: add support for "list like" objects in the repeater"
Many DOM collections are "array like" but can't be used with repeat because the `items instanceof Array` check fails:

https://github.com/aurelia/templating-resources/blob/0.14.0/src/repeat.js#L110

One example is FileList- from [MDN](https://developer.mozilla.org/en-US/docs/Web/API/FileList):

[code]

There are many other types like FileList:  NodeList, HTMLCollection, HTMLFormControlsCollection,

[2015-08-20 13:28] laurentiustamate94 opened #96 "Add d.ts generation"
It would be great if the templating-resources repository could export its own d.ts file by using the babel-dts-generator plugin.

[2015-08-20 22:05] erikaspl opened #97 "compose Cannot read property 'router' of null"
Before the last update to aurelia framework I used to be able to replace
  `<nav-bar router.bind="router"></nav-bar>`
with
  `<compose view-model="./nav-bar" model.bind="router"></compose>`
in app.html of skeleton-navigation

This doesn't work anymore. In fact, none of my compose work with upgraded aurelia. Is there a problem with compose at the moment?

[2015-08-24 14:38] RalfJan opened #99 "Strange path when bootstrapping templating-resources lib"
Having made a new installation of Aurelia files we get this strange behavior for just one of the libraries during bootstrap, the templating-resources@0.12.0. As the log below shows, please note the extra .js insterted to the folder name when it it tries to load the compose.js file.

DEBUG [aurelia] Loading plugin http://localhost:51927/FrontEnd/jspm_packages/github/aurelia/event-aggregator@0.5.0.j

[2015-08-24 15:01] EisenbergEffect commented on #99
Make sure you are using the latest release of jspm and make sure your configuration is set up like the nav skeleton.

[2015-08-24 15:01] #99 closed

[2015-08-24 16:46] jdanyow opened #100 "Nested repeat doesn't add item to context with correct name"
[Plunker](http://plnkr.co/edit/G2YJrLsYuMXPefIMirIp?p=preview)

[code]
[code]

Result:
![result](http://i.imgur.com/YNxf5yd.png)

[2015-08-25 05:12] RalfJan commented on #99
Thank you for you Swift reply!

By the way how can we get some kind of support license for Aurelia?

[2015-08-25 15:31] EisenbergEffect commented on #99
We haven't yet published our official support plans. However, we can work something out custom with you. Please email me at rob at durandal dot io and we can discuss the specifics. Thank you!

[2015-09-01 03:22] #94 closed

[2015-09-01 03:50] simonfox opened #103 "repeat doesn't handle spliced array with negative start index (via Array.observe polyfill)"
Not sure if this is the best place for this issue, but here it is...

Given an array
[code]
and the following modification

[code]

the resulting array will be `['Bruce', 'Wayne']`.

However if boundArray is rendered using `repeat`, this produces an exception [@view-slot#L109](https://github.com/aurelia/templating/blob/69c25b84194761382fd88383a60f87a7857fa8b7/src/view-slot.js#L109) being invoked f

[2015-09-01 06:39] benib commented on #94
Thank you for your hard work guys! I really appreciate it.

[2015-09-02 14:45] CharlesPockert opened #104 "Iterating Map gives unexpected results"
When iterating a map with the following:

[code]

I'd expect that the map value would be placed into the local `item` property in the context of each repeat in the template.

At worst I'd expect something to sit in the `item` local - maybe `item.key`/`item.value`, but it appears that when a binding context is generated `key` and `map` properties are created instead - this defeats the purpose of ha

[2015-09-02 16:06] jdanyow commented on #104
Need to be consistent with whatever the js equivalent- I think `for(let x of map)` results in `x` being an array (`[key, value]`).

The current version works like this:

[code]
[code]

[2015-09-02 16:14] jdanyow commented on #104
here's the plunker where I was testing the `repeat.for="[,item]" of map"` stuff:
http://plnkr.co/edit/wpJGlSxHXsq9sOAXQ2i3?p=preview

mdn had some good examples of iterating maps with for..of:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

[2015-09-02 16:24] petrroll commented on #104
That makes sense. Is there any way to contribute to the documentation (would like to mention it there since while it's logical it's not really obvious)?

[2015-09-02 16:25] jdanyow commented on #104
yep- please edit this file (and any of the other language files) and submit a PR:

https://github.com/aurelia/documentation/blob/master/English/docs.md

much appreciated!

[2015-09-02 16:38] EisenbergEffect commented on #104
Closing this issues. Will look for a docs PR :)

[2015-09-02 16:38] #104 closed

[2015-09-02 17:08] petrroll commented on #104
Ok, found out it actually is mentioned in the docs. Will think about how to improve it so people like me won't miss it (as I did).

[2015-09-02 17:26] CharlesPockert commented on #104
Ah right missed this in the docs, @jdanyow is there any merit in having the framework warn or throw an error in the case that a single local is specified? Repeat does this if you get the syntax wrong for the `of` part

[2015-09-02 21:12] petrroll commented on #104
Looking into the sourcecode I don't really see where such warning should (or even could) originate. It could theoretically be either in:

1. [processMapEntries()](https://github.com/aurelia/templating-resources/blob/master/src/repeat.js#L139) but then there'd be no way of distinguishing between people forgetting to specify their own variables and people specifying variables named 'key' and 'value'

[2015-09-02 21:32] CharlesPockert commented on #104
@petrroll agree with 2, it can't be outside the repeat attribute as the check for `Map` is done inside after evaluating the bindings... however, I can't see anywhere the defaults for the "local name" properties are required so leaving `key`, `value` and `local` as undefined would allow a check just before `processMapEntries` (or in it) to see if `this.local` had a value.

If it did we can assume t

[2015-09-02 22:55] petrroll commented on #104
Yep, removing the default values and then checking against them should work. Thought about that as well but wasn't sure the defaults are really not needed.

[2015-09-02 23:19] CharlesPockert commented on #104
Tried and tested, seems to work ok with the rest of my app (which is quite repeat-heavy) working too

[2015-09-06 17:28] bchavez opened #105 "CSS loader and 404 CSS font URLs"
Hi there,

I updated to the latest Aurelia dist. I'm using `<require from="bootstrap.css"></require>` inside my views. There seems to be a major issue with the CSS loader and font URLs.

Bootstrap and others usually use relative URLs for loading glyph resources. It turns out, using the latest distribution of Aurelia, I'm getting 404s for font resources.

For example, what I'm getting now:
[code]
W

[2015-09-06 20:35] EisenbergEffect commented on #105
We can't use link because that won't work either with shadow dom or with bundling. What we will have to do is use regex to patch up the style urls so they are based on the location that the styles were loaded from.

[2015-09-06 20:59] EisenbergEffect commented on #105
Regex notes

[code]

I think this will match all urls with parens and with or without single or double quotes. The capture group should allow replacement.

[2015-09-07 00:16] EisenbergEffect commented on #105
I can reproduce the issue in the skeleton. I'll investigate using the technique above to see if I can get this fixed soon.

[2015-09-07 00:37] bchavez commented on #105
No worries. Enjoy the weekend; and thanks, just glad you were able to reproduce the issue and log it as a bug. :+1:

[2015-09-07 00:51] EisenbergEffect commented on #105
Almost got it I think. Regex isn't correct. That's not my strong point. Working on it now :)

[2015-09-07 00:58] #105 closed

[2015-09-07 01:01] EisenbergEffect commented on #105
Pushed release out. Run `jspm update` to get v0.15.1

[2015-09-07 01:23] bchavez commented on #105
Thanks @EisenbergEffect , updated and it's working :+1: . Thank you. I did see a significant bump in loading. FWIW:
![screen457](https://cloud.githubusercontent.com/assets/478118/9707661/c79bd928-54c3-11e5-9582-bbb7913d903c.png)

But I think this would only apply when the app it's not bundled.

[2015-09-08 19:01] hobbit125 opened #107 "Compose paths are working relative to src root instead of relative to the file in which they are used"
This demonstrates the issue:
https://github.com/hobbit125/aurelia-compose-issues/tree/master/src

Specifically here:

https://github.com/hobbit125/aurelia-compose-issues/blob/master/src/pages/welcome.html

What's committed is working, but the path is written relative to the src root instead of relative to the file.

[2015-09-09 02:29] #107 closed

[2015-09-09 02:29] EisenbergEffect commented on #107
Release coming in a just a minute...

[2015-09-09 02:32] EisenbergEffect commented on #107
aurelia-templating v0.15.3 is released. You can use `jspm udpate` to get the fix. Apologies for the issue!

[2015-09-13 19:43] #100 closed

[2015-09-13 20:48] jdanyow commented on #79
closing- fixes for this issue have been released

[2015-09-13 20:48] #79 closed

[2015-09-13 20:50] jdanyow commented on #30
@Awaken6389 can this be closed?

[2015-09-15 14:22] reinholdk opened #108 "TypeError in repeat.js when iterating over an integer"
this.lastBoundItems is undefined and causes a TypeError in line 66 of repeat.js

[code]

This happens when iterating using repeat.for="i of count" where count evaluates to an integer.

[2015-09-15 15:46] EisenbergEffect commented on #108
@martingust Do you have time to look into this?

[2015-09-15 15:50] martingust commented on #108
@EisenbergEffect can take a look tomorrow

[2015-09-16 16:42] peisenmann opened #109 "Issue with binding `$index` in custom attribute in a `repeat.for` on incremental changes"
This is a very specific edge case. Reproduction plunk: http://plnkr.co/edit/fguuz4

After loading the plunk, three data items will be listed and a custom attribute will be bound up and attached to each. This works as expected. Three lines are displayed with correct indices and three log entries with correct indices.

5 seconds later, a timeout fires, adding a single item to the end of the data arr

[2015-09-16 16:49] EisenbergEffect commented on #109
@martingust Can you take a look at this?

[2015-09-23 07:40] Santosh-9890 commented on #17
@EisenbergEffect

Hello,
From last few days I’m facing one issue in promises while using Charles pocket grid.
Here is the screenshot of issue,

![image](https://cloud.githubusercontent.com/assets/11840497/10039928/6d576642-61f4-11e5-9e5f-58e35d427cb1.png)

[2015-09-23 18:09] aidesigner opened #110 "HTML Extension "repeat" contextual values (ie. first/last/index) not updating."
The code below seems to show an issue with HTML Extension "repeat" contextual values (ie. first/last/index). Note I added Aurelia debug technique view-spy to the anchor element. When the viewModel result in a longer myArray the variable "last" works correctly and view-spy shows stages created/bind/attached. Now if viewModel results in a shorter myArray then "last" is not true for any element, and

[2015-09-23 19:04] jdanyow commented on #30
closing- no response.

[2015-09-23 19:04] #30 closed

[2015-09-28 14:57] Souldrinker opened #111 "$index in nested repeats behaves strange in Firefox"
It seems like there's an issue with $index and Firefox. I have an ```<li repeat.for="subItem of item.items" if.bind="$index < 3">``` inside another repeat which works perfectly fine in Opera/Chrome/IE etc, but not in Firefox. In FF in my "real" app (TS/VS2015) it works fine until I run into an item.items list with more than three elements. Then it shows all (not only three) and in the following in

[2015-09-29 02:11] jdanyow commented on #111
Tested this with the master versions of binding, templating, templating-binding and templating resources...  still an issue.  Switching from if.bind to show.bind resolves the issue.  Works fine in edge, IE11 and chrome.

[2015-09-29 08:19] Souldrinker commented on #111
Ok, thanks. Yes, show.bind did work, I'll use that instead then. I just got an update to Firefox 41.0 this morning, but the issue is still there with if.bind, but it works with show.bind.

[2015-10-01 14:00] martingust opened #112 "Implement view caching in the repeater"

[2015-10-01 14:01] martingust commented on #110
This will get fixed with https://github.com/aurelia/templating-resources/issues/112

[2015-10-01 21:36] weoreference commented on #25
Ha this syntax changed yet?

[2015-10-01 22:52] nomack84 commented on #25
@weoreference not yet...

[2015-10-02 11:17] Azim-Palmer opened #113 "When using an array indexer in a binding, repeat doesn't correctly set the bindingContext."
If I write this:

`<div repeat.for="dataItem of testData[0]">
  using dataItem : ${dataItem}
  using item : ${item}
`  </div>

Then dataItem will not display anything, BUT item will, this is because in repeat.js this.local gets set to ‘item’ and when the binding expression contains an indexer it’s not setting binding name somewhere in the binding chain.

I verified this by replacing this.local wit

[2015-10-02 11:21] andyshora opened #114 "repeat.for="..." does not work on a custom element node."
Using the repeat.for attribute on a custom element node in the view does not work.

Works
[code]

**Does not work**
[code]

The error is coming from the binding file, so not sure if this is a bug with templating or binding.
[code]

[2015-10-02 11:58] andyshora commented on #114
Ok, working. Problem was an array was being repeated over in the view, but it was a bound variable, and hence has an extra aurelia-generated key stuck on it (the observer)

Which is gonna cause lots of problems. Arrays get converted to objects when they are passed into custom elements via bindings.

Question is, is this still a bug to log here?

[2015-10-02 12:03] EisenbergEffect commented on #114
What did you do to get it working?

[2015-10-02 12:05] EisenbergEffect commented on #113
@martingust Can you take a look at this?

[2015-10-02 12:13] andyshora commented on #114
@EisenbergEffect wow thanks for the speedy reply!

The problem was when an array was passed into a custom element which had a @binding on it, it converts the array to an object and adds the __array_observer__ property, which throws an error when the view attempts to iterate it.

What would be the correct way to bind an array which needs iterating within a custom element?

[2015-10-02 12:24] andyshora commented on #114
Solved. I wasn't referencing $parent inside the repeat :-/

Closing, and sorry!

[2015-10-02 12:24] #114 closed

[2015-10-02 12:34] EisenbergEffect commented on #114
Glad you got it solved!

[2015-10-02 14:26] jdanyow commented on #113
duplicate of https://github.com/aurelia/templating-resources/issues/100

[2015-10-02 14:26] #113 closed

[2015-10-07 15:15] martingust commented on #109
@peisenmann @EisenbergEffect Found the issue, will get a fix in.

[2015-10-09 16:14] #108 closed

[2015-10-09 16:14] #110 closed

[2015-10-09 16:14] #112 closed

[2015-10-12 01:23] tochoromero commented on #64
I think I'm having the same problem. There is some code that I need to run when everything is loaded. So I just hooked up to the attached() method. But it seems this method is called before the composed views are actually loaded.

So I guess having a way for the 'parent' model to know when all the composed views are already rendered would be really nice. For now I will just workaround it by having

[2015-10-12 06:20] EisenbergEffect commented on #13
I think this would be great for a plugin.

[2015-10-12 06:20] #13 closed

[2015-10-15 07:39] reinholdk opened #117 "if bindingContext null in case the element is rendered for the second time"
Hi,

seems to be a regression of version  0.16.0.
An element which is conditionally attached using if.bind runs into the following exception when rendered for the second time:
Uncaught TypeError: Cannot read property '__observers__' of nullgetObserver @ aurelia-binding.js:3946observeProperty

Here is a small example to reproduce - just try to make <first> visible twice using the 'Toggle' button:

[2015-10-15 11:13] jdanyow commented on #117
@reinholdk thanks for the nice test case

@EisenbergEffect this is not fixed by https://github.com/aurelia/binding/commit/dfa8a4076a49e91411f9691d118a3c1cf4cd577e  ... looking into it

[2015-10-15 11:20] jdanyow commented on #117
@EisenbergEffect I'm going to be on the road most of the day today so won't have time to get a fix out for this but I think the issue is here:

https://github.com/aurelia/templating-resources/blob/master/src/if.js#L53

I believe `this.$parent` needs to be passed to the bind method

[2015-10-15 14:14] #109 closed

[2015-10-15 14:21] #117 closed

[2015-10-15 14:22] EisenbergEffect commented on #117
Hang out a few minutes and we'll have a new patch release out. Watch the main gitter channel. I'll make a quick announcement there once the new releases are available.

[2015-10-15 20:28] DarienFord opened #120 "repeat.for bound to a map within an if.bind throws exception when re-binding"
The ```repeat.for``` binds correctly the first time, but if you are re-binding, for example if you are selecting a different item from a list, the follow exception is thrown the second time the ```if.bind``` evaluates to true:
[code]

[2015-10-15 20:34] DarienFord opened #121 "repeat.for bound to an array does not bind correctly to an object upon re-bind within if.bind"
Similar to #120, in this scenario assume you have a list of objects which you want to choose between to see details.  The details view is within an ```if.bind```.
The first time ```if.bind``` evals to true, the ```repeat.for``` works.  The subsequent times, it does not evaluate the string interpolations.

e.g.
[code]

[2015-10-15 20:44] jdanyow commented on #120
@DarienFord can you confirm you have templating-resources 0.16.1?
https://github.com/aurelia/templating-resources/releases/tag/0.16.1

You should be able to execute `jspm update` and get all the bug fixes from today.  There's one more coming in binding, unrelated to this issue though

[2015-10-15 20:54] EisenbergEffect commented on #121
Do you have the patch update from today for templating-resource?

[2015-10-15 20:54] DarienFord commented on #120
Confirmed, 0.16.1 does not fix this.

[2015-10-15 20:55] DarienFord commented on #121
I do. 0.16.1 does not fix this.

[2015-10-15 21:18] jdanyow commented on #121
here's a repro for this issue and the [related issue](https://github.com/aurelia/templating-resources/issues/120):

[code]
[code]

[2015-10-16 01:37] olanod opened #122 "repeat.for Map confilcts with babel Map"
`repeat.for` allows iterating Maps by checking if the instance of the collection is `Map` but babel adds a wrapper around Map instances making `myMap instanceof window.Map != true`

[2015-10-16 01:56] jdanyow commented on #122
@olanod I think disabling [`core-js` aliasing](https://babeljs.io/docs/usage/runtime/#core-js-aliasing) will resolve this for you.

[2015-10-16 15:51] adriatic opened #123 "Local override for core.js than cannot be resolved"
[This line](https://github.com/aurelia/templating-resources/blob/master/config.js#L29) results with the following error mesage when running `jspm install`

[code]

[2015-10-16 20:02] BringerOD commented on #121
Not sure if this is the same issue.  I have a compose report.for and if.bind or show.bind issue.  I have a sample project here.
https://github.com/BringerOD/skeleton-navigation/tree/master/src

Note: It works half the time.  Meaning when I toggle the binding expression half the time it works.
Note: None of it works in IE or firefox.  Not sure why.

[2015-10-17 00:52] BringerOD commented on #121
I have checked the recent patch update and now it works,  just not in the latest IE and Firefox.

Should it work in other browsers?

[2015-10-17 05:51] martingust commented on #121
Memory leak work in templating made this bug crop up. The repeater needs to handle things differently during unbind/bind. Will look Into a fix. #120 is related.

[2015-10-17 05:55] martingust commented on #121
@BringerOD If your issue is the same it wont work in non of the browsers. Where in your repo can I look to reproduce it?

[2015-10-17 17:47] BringerOD commented on #121
@martingust  Here it is.  https://github.com/BringerOD/skeleton-navigation

[2015-10-19 19:18] BringerOD commented on #121
Now with the latest none of it works.  See comments here.

https://github.com/charlespockert/aurelia-bs-grid/issues/65

[2015-10-20 18:53] martingust opened #125 "Refactor the repeater's collection implementations with a strategy pattern"
To make the code more readable; introduce a strategy pattern to handle the different collection implementations (Array, Map, Number, Set, etc).

[2015-10-20 21:03] jdanyow commented on #125
Awesome- then maybe we'll be able to "plug in" strategies for less common scenarios like https://github.com/aurelia/templating-resources/issues/95

[2015-10-23 16:18] sylvain-hamel opened #127 "Binding sequence problem with if.bind"
I have this in my view:

[code]
When the `value` changes from something to `undefined` I get this error coming from `RouteRecognizer.generate()`

[code]
It seems like the binding for `route-href` kicked in before `if.bind` could remove the `<a>` element. This is why the route recognizer got `undefined` in its `segmentValue` (which is my `value`).

[2015-10-23 16:20] EisenbergEffect commented on #127
@bryanrsmith Can you take a look at this?

[2015-10-24 05:46] #122 closed

[2015-10-26 15:29] EisenbergEffect commented on #16
We have the `with` behavior now. We were going to deprecate it but instead we have a way to fix it for the next release :)

[2015-10-26 15:29] #16 closed

[2015-10-26 15:30] EisenbergEffect commented on #16
(We are adding a secondary binding context to the binding/templating engine called an overrideContext which can be an alternate source of properties that are available to bind to.)

[2015-10-26 15:33] jods4 commented on #16
@EisenbergEffect That's my "ambient" scope ;)
How does it work? Is it checked first or after the "normal" context? What's the behaviour with respect to undefined properties at binding time?

It's very nice to have an officially supported `with` binding, that's really handy for forms.
The `overrideContext` will enable interesting new features I think!

Thanks.

[2015-10-26 15:39] EisenbergEffect commented on #16
@jdanyow is working on it this evening. We're planning to get it in for the beta. If you have any thoughts on how it should work, please leave those here so he can process those as part of his implementation.

[2015-10-26 15:47] jods4 commented on #16
@jdanyow @EisenbergEffect I did not really think about it but I feel like there might be non-trivial choices there.

Probably you don't want a "probe" for each expression everytime, so I guess you'll want to resolve which context to use at binding time. I guess we could say: if a global reference exists on `overrideContext` we use it, otherwise we expect it to be found on the normal context as usu

[2015-10-27 13:09] Souldrinker opened #131 "currentViewModel is undefined in modelChanged in compose bindings."
In one of the Aurelia projects I've worked with that has been on hold for a while I had an issue back in February regarding the activate method not being called when the model attribute in a compose binding changes(https://github.com/aurelia/templating-resources/issues/15).

As far as I can remember I tested it and everything seemed fine after the bug fix on March 21st, but unfortunately that issu

[2015-10-27 13:31] EisenbergEffect commented on #131
I was inspecting the code myself yesterday and saw something that didn't
look quite right. I will take a closer look.
On Oct 27, 2015 9:09 AM, "Tony Olsson" <notifications@github.com> wrote:

[2015-10-28 21:11] martingust commented on #121
We are doing some big refactoring of the repeater to make it pluggable. Plan is to get that and fix for this in by the weekend.

[2015-10-28 21:12] martingust commented on #120
We are doing some big refactoring of the repeater to make it pluggable. Plan is to get that and fix for this in by the weekend.

[2015-10-30 05:56] #125 closed

[2015-10-31 20:37] martingust commented on #121
Fixed in https://github.com/aurelia/templating-resources/commit/1d96e6eea42760fa78580fce4f6b26fa57ed8ba3

[2015-10-31 20:37] #121 closed

[2015-10-31 20:37] martingust commented on #120
Fixed in https://github.com/aurelia/templating-resources/commit/1d96e6eea42760fa78580fce4f6b26fa57ed8ba3

[2015-10-31 20:37] #120 closed

[2015-11-01 03:02] #103 closed

[2015-11-02 22:16] mhoyer opened #135 "Chrome warning: /deep/ combinator is deprecated"
### The issue

I just updated [Aurelia - TodoMVC](https://github.com/mhoyer/todomvc-aurelia) to latest packages and structure of [skeleton-navigation](https://github.com/aurelia/skeleton-navigation).

But, when running the app in Chrome 46 I see this warning in console:

    /deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.

This was alre

[2015-11-02 22:24] EisenbergEffect commented on #135
It will get fixed in the future when we implement ShadowDOM v1. It's not a bug though, it's just a feature that is going away in Chrome in the near future.

[2015-11-02 22:24] #135 closed

[2015-11-04 09:52] AshleyGrant opened #136 "Changing the view attribute of the compose element causes view-model to be reset"
When I set both the `view` and the `view-model` attribute of the `compose` element, the view-model instance shouldn't be reinitialized when the `view` attribute changes.

This can be reproduced in the skeleton project by copying `welcome.html` to `welcome0.html` and then adding the following code to one of the other views:
[code]

Change the value of the First Name text box, then check the checkbo

[2015-11-06 11:20] jdanyow commented on #39
fixed in upcoming release!

[2015-11-06 11:20] #39 closed

[2015-11-06 11:22] jdanyow opened #137 "Add binding behavior to control two-way binding value update event"
https://gitter.im/Aurelia/Discuss?at=563c58e5c3b1996c03a23f0e

Equivalent of KO valueUpdate

cc @EisenbergEffect / @kdeberni

[2015-11-06 13:57] stsje opened #138 "Compose: deactivate() isn't called"
It seems `deactivate()` never gets called on your view-model, when loaded through the `<compose>` element.

Since `activate()` is called, you would also expect `deactivate()`, when the view-model is removed.

deactivate would be very convenient when disposing the view-model. My own use case is, I have to dispose subscriptions to eventaggregator.

[2015-11-06 14:32] EisenbergEffect commented on #137
@jdanyow I want to make a note that "valueUpdate" may not be the best name. One reason is that that seems associated with the value property of input elements....but there's another scenario this helps with: web components. A developer may be binding to an arbitrary property on a web component and need to do that two-way...in which case we could need them to tell us the update event name.

[2015-11-06 15:18] jdanyow commented on #137
Agree- I should have been more clear with that comment.  It's going to enable the equivalent scenarios that KO's `valueUpdate` binding but we're going to give ours a more precise name:  `updateTrigger`.  It's usage will be:

[code]

Does this sound right?  Or do we want to handle multiple events differently?

[2015-11-06 15:20] EisenbergEffect commented on #137
Beautiful. Love the idea of multiple events there too. I hadn't though of that...but it's needed. Thanks bro!

[2015-11-06 18:11] fopsdev commented on #137
i have a newbie question:
in my day job i'm using a sdk which fires a bunch of different events for nearly every user action.
but in most of the cases i've just wanted a valueChanged(oldValue,newValue) event with the possibility to cancel the user action.
sadly the supplier of this sdk didn't provide such an event. well they supply an similar one but the really bad thing about this event is that i

[2015-11-06 18:16] nomack84 commented on #137
@fopsdev yes indeed it has something like that. Here is an example:
[code]

[2015-11-06 18:19] nomack84 commented on #137
Here is an example:
[code]
and the html side:
[code]
Whenever you change the input's value, the firstnameChanged method will be executed.

[2015-11-06 18:20] fopsdev commented on #137
oh ok :) thanks @nomack84
do you know if it's also possible to cancel the model update then?

[2015-11-06 18:20] fopsdev commented on #137
...and i assume because this happens on model level somehow it eill alos work with cjeckbox, combobox, etc... right?

[2015-11-06 18:22] nomack84 commented on #137
yeah, work with every html element, and about the other question, you can put some logic in the firstnameChange method to cancel model update, but i'm not sure if can be done directly, by returning false or something like that.

[2015-11-06 18:27] fopsdev commented on #137
cool! will dig into propertyChanged then :+1:

[2015-11-06 18:32] EisenbergEffect commented on #137
To have that work you need this code, actually:

[code]

[2015-11-06 18:45] nomack84 commented on #137
Ah, true. To watch model property changes you need to use the new
BindingEngine class orthe.old ObserverLocator.
El 06/11/2015 13:33, "Rob Eisenberg" <notifications@github.com> escribió:

[2015-11-06 19:10] nomack84 commented on #137
@fopsdev here you will find and example: http://www.danyow.net/aurelia-property-observation/

[2015-11-08 03:27] EisenbergEffect commented on #52
Once a shadow root is created on something like the `compose` or `router-view` it can't be removed. So...suppose you navigated to one screen that wanted shadow dom and another that didn't. You couldn't support both scenarios. Ordering of events would cause non-shadow-dom screens to fail after one that required it was rendered.

That issue aside, I'm not sure that using shadow DOM for "screens" is

[2015-11-08 03:27] #52 closed

[2015-11-08 03:45] #137 closed

[2015-11-08 07:01] cehoffman commented on #52
After using this in practice much more I agree that creating shadow DOM for these dynamic view ports creates more harm than good.

[2015-11-09 04:37] EisenbergEffect commented on #131
I believe this was fixed in this commit: 90ce0d4cfd22212e5c37f689c1d0f93e655cee8f

[2015-11-09 04:37] #131 closed

[2015-11-09 20:17] #95 closed

[2015-11-10 08:44] stsje opened #141 "Compose element gets unbound twice"
`unbind()` gets called twice after changing the composed view-model

[code]
[code]

And what's written to the console (using test.js and test2.js):
[code]

[2015-11-10 14:58] fopsdev commented on #137
hey guys

what needs to be done if i would like to cancel the model update:
http://plnkr.co/edit/kzkP7ccAP7z2KjP43XMy?p=preview
(check the app.js)

[2015-11-10 16:55] jdanyow commented on #137
If you want to truly cancel the update of the model property you'd need to implement a binding-behavior.  Binding behaviors give you full access to the binding, including the ability to intercept the model property assignment and visa-versa.  Something like this:

**intercept-binding-behavior.js**
[code]

Then you'd use it like this:

**app.html**
[code]

**app.js**
[code]

[2015-11-10 20:47] EisenbergEffect commented on #141
It seems like part of our example is missing. Can you first see if this is fixed in the latest release? If not, can you provide the rest of the code?

[2015-11-11 04:07] rquast opened #142 "Support ES6 Set in repeat"
Repeat supports ES6 maps, but it doesn't support ES6 sets. Can support for this be added?

[2015-11-11 04:54] jdanyow commented on #142
yep- coming soon!
https://github.com/aurelia/templating-binding/issues/34

[2015-11-11 04:54] #142 closed

[2015-11-11 13:06] jdanyow opened #144 "handle collection instance changes in repeat"
[code]
[code]

cc @diegograsso @martingust @EisenbergEffect

[2015-11-11 15:34] martingust commented on #144
I think we need to locate the strategy inside the repeaters `processItems` method. I will take a look in a few hours and hopefully get a fix in at the same time.

[2015-11-11 15:51] fopsdev commented on #137
@jdanyow  i've tried to include your proposal to my skeleton then running gulp watch but the i get a 404 when the html requires the .js file

![image](https://cloud.githubusercontent.com/assets/5448300/11095228/40717e8a-8894-11e5-8373-2b5ec5d39824.png)

[2015-11-11 15:58] EisenbergEffect commented on #137
Make sure the file existing in the dist folder and that the name/reference matches.

[2015-11-11 16:11] fopsdev commented on #137
oops, it was a typo, thanks for the heads up!
now we are close to a working  beforeUpdate(oldVal,newVal) - behaviour which support canceling and resetting the input field.
is there a possiblity to reset the textbox to the "old" model value when canceling the update?

[2015-11-11 16:49] fopsdev commented on #137
@jdanyow @EisenbergEffect thanks a lot for your help so far!
maybe if we could get the plunk to work i could show you better what i would like to achieve in the end.
http://plnkr.co/edit/kzkP7ccAP7z2KjP43XMy?p=preview
(it's looking for an .html file instead of a .js file)
and for those interested to fiddle around with it. i'm trying to reset the control (textbox in this case) with the old model va

[2015-11-11 17:04] jdanyow opened #145 "composed view unable to access $parent scope"
repro: http://plnkr.co/edit/i7DJo6

Issue is [here](https://github.com/aurelia/templating-resources/blob/master/src/compose.js#L63).  Need to flow the "scope" (bindingContext + overrideContext) through the compose.

cc @jods4 @zebrooks

[2015-11-11 17:25] jdanyow commented on #137
[code]
There's a plunker at the bottom of [this post](http://www.danyow.net/aurelia-binding-behaviors/) that you can adapt

[2015-11-11 19:14] txels commented on #144
Does this error that manifests itself as:
[code]
?

I am having this issue with a view where I precisely have a `repeat.for` over a collection I reassign.

[2015-11-11 20:02] martingust commented on #144
@txels Yes, related issue. Fix is submitted in https://github.com/aurelia/templating-resources/pull/146.

[2015-11-11 20:13] fopsdev commented on #137
wow! binding behaviours will open up a whole new universe to us developers :+1:
i do intercept the 'updateSource' method to cancel the model update and it works fine
but i'm still struggling with your suggestion above using the binding - object to set the controls - value directly.
i would like to call binding.updateTarget('Please enter again...') but i can't get hold of the binding object inside

[2015-11-11 20:20] CasiOo commented on #141
Updating to pre-beta fixed the bug.

Great job :thumbsup:

[2015-11-11 20:23] EisenbergEffect commented on #141
Excellent. Thanks!

[2015-11-11 20:23] #141 closed

[2015-11-11 21:56] jods4 commented on #145
This was a breaking change for us. It was even document as working but it does not anymore after the pre-beta release.

[2015-11-11 22:11] EisenbergEffect commented on #145
We are working on the fix. Apologies.

[2015-11-11 22:17] jods4 commented on #145
No problem Rob, I guess this is life with betas. We had lots of things breaking with this release, though:
- I have yet to debug why navigation links don't work anymore. We use `pushState` API and I can see the URL changed to a `#` hash route and nothing happens :( Will report more details when I figure this out.
- I also have another breaking thing with a `$parent.$parent` binding in a custom ele

[2015-11-11 22:20] EisenbergEffect commented on #145
FYI `@children` only selected immediate child content of the custom element now.

[2015-11-11 23:32] jods4 commented on #145
@EisenbergEffect yes, thanks I noticed that. Out of curiosity what is the reasoning behind that? My use case is direct children anyway, but in a way isn't that less powerful than it was before? Is it to rule out the confusion ensued by nesting custom elements using the same `@sync` selectors?

[2015-11-11 23:51] EisenbergEffect commented on #145
There were several reasons. It does eliminate the confusion and bugs caused by selecting across component boundaries. There are other ways to fix that, but they are all complicated. It also allows us to more easily share mutation observers for the same element. It also helps to enforce what I think is a better practice in terms or custom element patterns.

That said, it's possible to re-enable the

[2015-11-12 00:38] #145 closed

[2015-11-12 02:21] #144 closed

[2015-11-12 03:48] jdanyow commented on #90
@olanod can this be closed?  This week's release eliminates the need to use $parent.

[2015-11-12 03:49] jdanyow commented on #97
@erikaspl have the latest aurelia releases fixed this for you?  If not, could you provide some more info on how to reproduce this so we can get it fixed before the beta?

[2015-11-12 04:23] jdanyow commented on #111
still an issue in the latest build.

chrome on left, firefox on right:
![issue](http://i.imgur.com/8DYi0rA.png)

[2015-11-12 10:52] jods4 commented on #145
@EisenbergEffect I am in no need for the old behaviour, it was just out of curiosity!
I will try the fix for this issue later today.

[2015-11-12 13:45] spi-ap opened #147 "repeat.for Removing last element in array throws error"
Deleting the last element in an array throws an error (tested in chrome, templating-resoures@0.17.1).
The last element will not be removed (visually).

Error message:
`Uncaught TypeError: Cannot read property 'firstChild' of undefined`

Here is a plunk: http://plnkr.co/edit/ZSXEB5?p=preview

(No value converters etc. used)

[2015-11-12 14:06] Exsilium122 opened #148 "repeat.for + if.bind do not work"
With this release of pre beta Aurelia has introduced a bug. Where can I find already listed bugs or where can I submit one? There are so many modules of the aurelia and I am not sure which one is causing the problem. I guess it is reapeat.for bug.
The problem: I display all elements of the array using rapeat.for two times. Eachlist can be hidden. One with if.bind, second with show.bind. After togg

[2015-11-12 14:12] jdanyow commented on #148
Please update to the very latest (released last night).  It will fix the issue:

http://plnkr.co/edit/WrSbjzdnnONGu0ixvO4k?p=preview

[2015-11-12 14:12] #148 closed

[2015-11-12 14:49] martingust commented on #147
Bug in binding repo. Will get a fix in shortly.

[2015-11-12 18:24] #147 closed

[2015-11-12 18:34] martingust commented on #147
@spi-ap This is fixed and released.

[2015-11-13 01:54] EisenbergEffect commented on #74
Not sure if we need this or want it.

[2015-11-13 01:54] #74 closed

[2015-11-16 21:07] philiphendry opened #152 "InnerHtml binding broken in IE9?"
I've been doing some browser testing and have discovered that I can't get IE9 innerHtml binding to work. Specifically if I modify a basic application and add the following to `app.js`:

[code]

and then the following to `app.html`:

[code]

Then in Chrome/Firefox/IE11/IE10/Edge I see the plain text and html formatted text rendered fine. Interestingly I don't see the innerText but kinda expected it

[2015-11-17 13:29] jdanyow commented on #96
done :dancers:

[2015-11-17 13:29] #96 closed

[2015-11-17 22:43] ZapMyR commented on #152
`innerHTML` and IE (at least older versions) is a story of its own. It never worked properly and produced all kinds of weirdness. As far as I know it can only be properly used by directly working on the DOM and it might need an extra fallback implementation to correctly apply bindings from aurelia.

If you really need it I'd recommend implementing a custom attribute specially for this case á la IE

[2015-11-17 22:50] ZapMyR commented on #91
I'm not sure if I understand your problem correctly, but I'd still use a `compose` in the `template` and bind its `view-model` property to a string from your viewmodel to dynamically render the desired custom element and design the choosable custom elements to take in an array of params instead of multiple parameters that are individually bound.

[2015-11-18 00:21] andrevlins commented on #64
any update on this?

I have a repeat.for with compose element inside and need to wait until all compose elements activate.

[2015-11-18 01:40] EisenbergEffect commented on #64
We are planning some improvements for this for Beta 2. I really want to get it done sooner than later, but it will probably be a few weeks out.

[2015-11-18 02:20] jdanyow opened #155 "repeat: error occurs when pop or shift is called on empty array"
This is just an edge case found while writing the integration tests.  No one has reported this to my knowledge.

Test case [here](https://github.com/aurelia/templating-resources/blob/2e998f4274a97309c49ef35d40ba7dab6b4dac95/test/repeat-integration.spec.js#L177) and [here](https://github.com/aurelia/templating-resources/blob/2e998f4274a97309c49ef35d40ba7dab6b4dac95/test/repeat-integration.spec.js#L

[2015-11-18 02:30] zebrooks opened #156 "Collection Strategy - View is undefined when using delete on a map"
When an item is deleted from a map that is bound to a `repeat.for` in view, the view cannot be found, and throws an error.

It looks like the `_getViewIndexByKey` is looking for the `key` inside the `overrideContext`
https://github.com/aurelia/templating-resources/blob/master/src/map-collection-strategy.js#L117

But when the context is created in `createBaseOverrideContext` the key is assigned to

[2015-11-18 03:12] zebrooks opened #157 "Signal binding behavior - error when inside if.bind"
When an element containing a binding with a signal is removed from and/or readd to a view (using an if.bind or similar) an error is thrown:
* Remove: `ReferenceError: signals is not defined`
* Readd: `Error: A binding behavior named "signal" has already been applied to ...`

Seems to be fixed by changing
[code]
to
[code]
on this line https://github.com/aurelia/templating-resources/blob/master/src/

[2015-11-18 04:18] #156 closed

[2015-11-18 04:22] #157 closed

[2015-11-18 04:23] jdanyow commented on #157
thanks @zebrooks !

[2015-11-18 10:16] philiphendry commented on #152
Thanks @ZapMyR. I've written a very basic custom attribute which will work for me at the moment. I'll need to properly sanitise my HTML at some point but here's the code I'm using:

[code]

I took the basic sanitisation from the [InnerHTML attribute](https://github.com/aurelia/templating-resources/commit/f6e28fe1e7e37b4f4b60ec066dddaff18dc6912b) and if I can figure out the attached behaviour code

[2015-11-18 13:08] jdanyow commented on #152
@philiphendry it looks like your attribute is doing the same thing that the innerhtml binding does... assigns the element's `innerHTML` property.

What happens if you change your bindings from
[code]

to:

[code]

*note:  the attributes are in lowercase... the DOM automatically lower-cases all html element and attribute names*

http://aurelia.io/docs.html#innerhtml

[2015-11-18 13:25] philiphendry commented on #152
@jdanyow, I shall hang my head in shame. That works and now that you've pointed out the docs it's clear as day.

[2015-11-18 13:25] #152 closed

[2015-11-18 13:37] jdanyow commented on #152
ha- no worries- glad it's working!

[2015-11-18 17:34] ZapMyR commented on #152
Oh nice, thanks for the hint - didn't know it already existed ^^

[2015-11-18 17:43] CasiOo opened #158 "repeat: <template> with repeat- and if binding scope error"
The repeat binding seems to not play nicely with the template tag, when both a repeat- and if binding are present.
It's like the repeat scope is forgot about/never added. If you have nested loops, it will use the scope from the previous repeat instead.

Ran into the problem while coding a recursive tree structure

Recreating the issue:
[code]
[code]

Expected view: `0 - test`
Actual view: `-` (jus

[2015-11-18 17:47] EisenbergEffect commented on #158
You cannot use two template controllers on the same element/template. They will conflict with one another. Both if and repeat are template controllers. To solve this issue, use nested template tags, one with the repeat and then one with the show. The order of nesting does matter.

[2015-11-18 17:47] #158 closed

[2015-11-18 17:49] CasiOo commented on #158
Thank you for the quick response :+1:

[2015-11-20 19:50] CasiOo commented on #138
It might also be affecting components loaded using the `<content></content>` tag.
Needs further testing, but think I ran into it earlier today. Would have to keep it in mind if implementing this enhancement.

[code]

[2015-11-21 19:14] kdawg1406 opened #160 "Is HTML5 form dirty?"
How do I determine if the HTML5 form is dirty from the Aurelia ViewModel? Angular had properties like $dirty, etc.

How has this been implemented in Aurelia?

I would like to expose an isDirty property on the ViewModel to enable/disable buttons, etc. based on form state.

Much appreciate guidance or added framework feature.

[2015-11-25 02:33] dredzone commented on #84
same problem still exists in beta when compose is used to construct the view.
[code]

[2015-11-28 05:06] jdanyow commented on #127
fix was merged

[2015-11-28 05:06] #127 closed

[2015-11-30 12:23] jdanyow commented on #90
closing- @olanod please re-open if you're still having trouble with this.

[2015-11-30 12:23] #90 closed

[2015-11-30 12:27] jdanyow commented on #91
This is not possible because the view-compiler determines what custom elements, custom attributes and bindings are in the template once, at "view compilation time", not at "bind time".  Continue to use compose for dynamic scenarios like this.

[2015-11-30 12:27] #91 closed

[2015-11-30 12:27] #97 closed

[2015-11-30 12:28] jdanyow commented on #123
This should be fixed with the beta releases

[2015-11-30 12:28] #123 closed

[2015-11-30 12:32] jdanyow commented on #160
Aurelia doesn't have the equivalent of `$dirty` but we probably could build something using a `[BindingBehavior](http://www.danyow.net/aurelia-binding-behaviors/)`.  In the meantime, take a look at how this has been implemented in the [`app-contacts`](https://github.com/aurelia/app-contacts/blob/master/src/contact-detail.js#L17) sample app.

[2015-11-30 13:49] kdawg1406 commented on #160
OK, thank you.

[2015-11-30 13:53] kdawg1406 commented on #160
After taking a look, a binding behavior would provide real-time form state, as opposed to checking in deactivate.

I hope this can get added to this library or the validation library.

Best,

Karl

[2015-12-03 18:35] Gheoan commented on #111
related https://github.com/aurelia/templating/issues/123

[2015-12-03 18:39] EisenbergEffect commented on #111
I believe it relates to the fact that ordering of attributes in the DOM is not consistent across browsers. So, in one browers the repeat attr is first and results in something that works, but in another browser the if is first and results in something that fails. That's just a guess.

[2015-12-03 19:14] Gheoan commented on #111
Explaining this to myself here, it may help someone.
[code]

Chrome is is probably respecting attributes order of the view
`repeat` then `if === true` then `if === false` then `if === false`

`a`

 Firefox is probably sorting attributes alphabetically
`if === true` then `repeat`
[code]

[2015-12-10 06:42] tsjishan commented on #1
+10 Kendo integration with Aurelia

[2015-12-10 09:09] JeroenVinke commented on #1
@tsjishan Keep an eye on [this plugin](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-plugin). We are currently working on our first release, which will contain the Grid, Autocomplete, Menu and Button control. Parallel to this, we are working on documentation, so we can get wrappers for more controls out there faster.

[2015-12-11 10:53] StrahilKazlachev commented on #137
@jdanyow Can you give more info on the parameters types passed to `bind` and `unbind`, for those using TypeScript(possible types if the type can vary)?
From this:

binding.updateTarget(modelValue);

it looks like `binding` should be annotated with *class* `Binding`, but there is also a *interface* `Binding`, which doesn't expose `.source` and `.lookupFunctions`.

[2015-12-11 20:07] fmmich opened #163 "Correct relative CSS urls without period directory references"
In app.html, if you require a module's CSS that includes a `url` reference, like for an image or a font, Aurelia does not determine the relative path if the link does not contain a period or double-period directory reference.  For example, in the module's CSS,

    background-image: url('images/background.jpg');

will not be translated, causing the application to look for an images directory in th

[2015-12-13 13:38] kdawg1406 commented on #160
I've done some further investigation of BindingBehavior.  Asking a developer to add a binding behavior to every binding on a form to track changes, is contrary to the bedrock principals of Aurelia; that being, not require framework goo or ceremony code for common scenarios.

I don't know much about the internals of Aurelia.  Here are two possible solutions:

1.  Add a binding behavior to the <form

[2015-12-13 14:28] EisenbergEffect commented on #160
I think the best way to do this would be with a custom attribute. That attribute can implement the `created` callback to gain access to the view. Using the metadata in the view it could find all the binding expressions within the form and use that to implement an `isDirty` functionality. I know @jdanyow has implemented something like this for validation with BreezeJS. Perhaps he can provide some a

[2015-12-13 17:06] jdanyow commented on #160
here's a quick and *(cough)* dirty implementation of the custom attribute:

**dirty.js**
[code]

You'd use it like this:

**app.html**
[code]

**app.js**
[code]

**Remaining work:**
1. If a user modifies a field and later undos their edit, the form will still be considered "dirty".
2. Add ability to "revert" changes?
3. Add ability to "accept" changes?
4. Handle nested templates

*NOTE: you'll nee

[2015-12-13 17:08] kdawg1406 commented on #160
Many thanks.  Have a great day.

[2015-12-14 01:43] jdanyow opened #164 "Add decorator indicating behavior doesn't need lifecycle"
Forked from https://github.com/aurelia/binding/issues/242#issuecomment-164303196

One of the recent optimizations to the `repeat` template controller was to skip the composition lifecycle (detach, unbind, bind, attach) when the data backing the repeat changes. This optimization is enabled when the repeat's template doesn't use animation, and doesn't have any custom attributes or custom elements th

[2015-12-16 04:43] ohjames opened #165 "repeat.for: exception thrown during splicing of array ("Cannot read property 'firstChild' of undefined")"
My site has an array of like the "top 20 scored posts" and reads posts from many sources. As new posts come from different sources the array get spliced/unshifted as you'd expect. After I added four sources I started getting exceptions:

[code]

Here `view` is `undefined`. Here's the stack:

[code]

[2015-12-16 04:53] ohjames commented on #165
Tracked the issue down to here:

[code]

I added the `if (! view)` code there. There it passes an index of `14` and yet the length of the array is `14` so it retrievews a null element. From there everything goes wrong.

[2015-12-16 04:55] ohjames commented on #165
When I log it and just `return` after the overflow... I see many overflow messages logged, and I also see that the final item is missing from the `repeat` (not matter how many times the message is logged, it's always one item missing at the end).

[2015-12-16 05:52] ohjames commented on #165
It seems elements go missing from my array at some point, the `removeAt` `index` parameter then overflows the end of the array due to the missing elements. The missing elements don't correspond to the elements which should be removed unfortunately, if you ignore the overflows the view doesn't correspond to the state of the array.

[2015-12-16 06:13] ohjames commented on #165
Okay, so splices/removes are interleaved in my application, after each tick aurelia-template usually plays back all the removes followed by the splices.

However when it plays back the splices followed by the removes, then for each remove that occurs I lose an element from the end of the array.

From that point on the view is out of sync with my array and chaos reigns ;) :baby_chick:

[2015-12-16 06:47] ohjames commented on #165
Hm it seems to be more complicated than that, sometimes I seems elements in my array never get entered into the view, othertimes it seems elements get entered into the view then deleted when an array splice is registered twice. I've been debugging for hours but this issue is super tricky.

[2015-12-16 13:15] EisenbergEffect commented on #165
I think we have this fixed in master. There's a patch release coming today. Hang out a bit longer and then try that to see if your problem goes away. If not, we can pick up here and see what the issue is.

[2015-12-16 14:19] ohjames commented on #165
@EisenbergEffect I checked out aurelia-{binding,template,template-resources} commits but can't see any relevant fixes (I'm not using reverse/sort), maybe I missed something.

The updates here work even less well without the recent changes to animator-css, I have a feeling more changes might be needed there to fix this.

[2015-12-16 15:51] ohjames commented on #165
Disabling animations (by removing the au-animate class on my repeater) avoids the issue. When the animations are enabled it's like one or two of the four change sets (each one happening in a single tick) get lost. Although the consequences go beyond that change set missing and also lead to the order of elements in the view not matching those in the array when accounting for the missing changesets.

[2015-12-16 16:34] EisenbergEffect commented on #165
Have you tried pulling down the master for animator-css? There is a major bug fix in that going out today as well. What you are reporting sounds similar to what was fixed.

[2015-12-16 16:34] ohjames commented on #165
Okay the issue is *definitely* to do with missing the `animationend`/`webkitAnimationEnd` event when elements leave the page. I think it's triggered by a certain combination of splices to the underlying array during a leave animation.

It's also worth pointing out that this also affects detecting the same events on the `enter` event, (so the user wouldn't be able to rely on the API there... defini

[2015-12-16 16:35] ohjames commented on #165
@EisenbergEffect Yeah I'm using the latest `animator-css`, I was the one who wrote that fix ;) Without it this issue is even worse.

[2015-12-16 16:39] EisenbergEffect commented on #165
Doh! Sorry. I didn't realize this. So, you think this basically amounts to an issue with the animator again? I'm going to make a patch release today, with what we have. I can easily make another patch release at-will if you can help us track down and fix the issue. Thanks for drilling into this!

[2015-12-16 18:22] ohjames commented on #165
@EisenbergEffect I think the error might be here: https://github.com/aurelia/templating/blob/master/src/view-slot.js#L204

The code waits for the "leave" animation to complete before splicing the `children` array. However inserts may occur against `children` while the animations are playing, if the inserts are at a lower index than the removal position then the splice will refer to the wrong eleme

[2015-12-16 18:29] ohjames commented on #165
Hm, that theory is wrong... but it could still be due to the timing there, maybe subsequent inserts pass an idx relying on the `leaving` elements already having left.

[2015-12-16 18:52] EisenbergEffect commented on #165
The best people to address this issue today would be @martingust and @jdanyow They have the most recent experience working with the repeater.

[2015-12-16 19:39] jlgreene2 opened #166 "Potential issue with Babel / Recursion in Aurelia View-Model"
I am very new to Aurelia, and ES6 for that matter.  I hope this question doesn't fall into the noob category.

I am trying to take Aurelia on a test drive, by attempting to build some fairly complex custom components, one of which is a generic grid control supporting pagination, filtering, and grouping.  In the process of attempting to implement the grouping capability, I'm using the Lodash framew

[2015-12-16 20:40] jlgreene2 commented on #166
I think I submitted this in the wrong location.

[2015-12-16 20:41] #166 closed

[2015-12-17 12:56] ohjames opened #167 "repeat.for: loses sync between array and view when array updates happen during leave animation"
When events are removed from the view, they remain in viewSlot.children until the animation completes, see https://github.com/aurelia/templating/blob/master/src/view-slot.js#L204

The `removing` state is accounted for here during the mutation: https://github.com/aurelia/templating-resources/blob/master/src/array-repeat-strategy.js#L115 (by taking into account `rmPromises.length`, this works as the

[2015-12-17 12:56] ohjames commented on #165
Discovered the issue now, opened the more coherent #167 with the information and closing this one.

[2015-12-17 12:56] #165 closed

[2015-12-17 13:00] ohjames commented on #167
Calling @EisenbergEffect @martingust @jdanyow this is a serious issue with `repeat.for` affecting all `animator` libraries. It will affect any user where arrays update during animation leading to extremely bad results.

[2015-12-17 13:25] ohjames commented on #167
The `+ rmPromises.length` correction factor also bothers me. I can see how it works to fix the offset of splices at a higher index, but what if the first splice is at a higher index than the second splice... in that case wouldn't the `+1` incorrectly be applied to the second splice (at the lower index)? It seems to me it should only affect splices at a higher index, (and after being corrected for

[2015-12-17 16:21] EisenbergEffect commented on #167
@martingust @jdanyow Can you guys work s with @ohjames to see if we can resolve that. We may also need help from @zewa666 if this involves the css animator. You all know more about this code than I do at this point...

[2015-12-18 12:12] martingust commented on #167
@ohjames I think you are right, the `rmPromises` should only affect splices at a higher index. Do you have an example project or plunker that shows the issue you described, that would help a lot to fully see the problem.

However when trying this out I think I have found a related (or same) bug.

Let's say I have an array of 4 items: `array = ['foo', 'bar', 'baz', 'qux'];` bound to a `repeat`.

Th

[2015-12-18 14:22] ohjames commented on #167
I'm working on a small test for this now. I want to add some unit tests to `aurelia-templating-resources`, but first I'm adding some visual tests in a modified `aurelia-skeleton-app` to see if/how the splices are modified before making it to the array repeat strategy.

I've already tested `rmPromises` issue and it seems that it never breaks, this leads me to believe that the splices are re-ordered

[2015-12-18 16:31] ohjames commented on #167
Okay I've added a repository to demonstrate the issue. It uses all the dependencies from yesterday's patch release (the animator-css fix is key, otherwise this is even more broken). Anyway, here's the test repository:

https://github.com/ohjames/aurelia-bugs

Here's the key bit:

https://github.com/ohjames/aurelia-bugs/blob/master/src/welcome.js#L10-L24

The `leave` animation lasts 0.8 seconds.

[2015-12-18 16:42] ohjames commented on #167
Running it here: http://chilon.net:9040/

You can see what's happening clearly with the visuals, the C is animated in during the removals of 'a, and 'c', so the index is wrong.

The error manifests for me in chrome but no in firefox. Not sure why at the moment. Maybe because chromium is using `Object.observe`?

[2015-12-18 16:45] ohjames commented on #167
Correction: just as broken in firefox. Forgot `animation` to go with the `-webkit-animation`.

[2015-12-18 17:33] CasiOo commented on #164
Would `@OptionalTemplateLifecycle` be a fitting name?

[2015-12-18 18:35] martingust commented on #167
Awesome, thanks for the example project @ohjames. I think this and the issue I described could be solved by storing `rmPromises` on the repeat instance and clear it [here](https://github.com/aurelia/templating-resources/blob/master/src/array-repeat-strategy.js#L125) when the animations are finished. The second round of splice will then know if an animation is in progress and if so compensate and w

[2015-12-18 18:46] ohjames commented on #167
@martingust ATM `rmPromises.length` correction always works due to the normalise/coalesce process that happens before this code is called. If you have to wait on the `rmPromises` promise before applying a new set of splices then you'll need to normalise/coalesce the new splices following the same process so that the `rmPromises.length` correction can still work. This is probably for the best anywa

[2015-12-18 18:57] ohjames commented on #167
There added a PR with the test now. I'm working on a fix also which hopefully I'll push tonight in the same PR. If anyone could point at where the splice normalise/coalesce phase takes place that would be great :baby_chick:

[2015-12-20 18:53] niieani opened #170 "No possibility to use multiple signal names"
@jdanyow asked for a use case, so here's an example:

HTML (`task.html`):
[code]
There are two things that can trigger a change of the `tags` property in the view model - either the `task` gets changed (somebody adds or removes a tag in it's view-model) or somebody renames one of the existing tags globally. In both of those instances I would like the binding to get reevaluated, because its value m

[2015-12-20 18:58] EisenbergEffect commented on #170
@jdanyow Couldn't the signal behavior be used multiple times?

[2015-12-20 18:59] niieani commented on #170
@EisenbergEffect No, this gives an error `A binding behavior named "signal" has already been applied`.

[2015-12-20 19:02] EisenbergEffect commented on #170
@jdanyow Would it be possible to make multiple instances of signal possible? If not, could we enable the signal behavior to receive either a signal name or an array of signals? What are your thoughts?

[2015-12-20 19:13] niieani opened #171 "If-Else pattern, "let" element"
I'm finding myself constantly writing code that seems like an anti-pattern to me:

[code]

This is clearly an If-Else pattern, but here it feels like an anti-pattern, because of:
1. repetition of code (not DRY)
2. double execution of the whole transformation chain

Is there a better way to do this that I'm not aware of? How could an `else` be implemented as a custom attribute? Perhaps something li

[2015-12-20 19:17] EisenbergEffect commented on #171
@martingust @jdanyow I'm wondering if we could build an `else` behavior that could somehow connect to a previous `if` behavior in the DOM. I've had this at the back of my mind. Over the years, I've encountered this scenario on almost every project and it's a pain to repeat positive and negative if blocks. If we do this, we might also  consider elseif and even switch case as well. I don't know what

[2015-12-20 21:44] niieani commented on #170
I've made a non-breaking pull request that fixes this with rest parameters (all additional parameters are treated additional signal names). https://github.com/aurelia/templating-resources/pull/172

[2015-12-20 21:51] jdanyow commented on #171
One thing that works today is:

[code]
This effectively stores the result of the binding expression on an ad-hoc property which can then be referenced in other binding expressions.

---

I think it would be nice if we had a template-controller element called `<let>` that has no UI, all it does is set properties on the `overrideContext` so that they are available for binding purposes:
[code]

[2015-12-20 22:25] jdanyow commented on #171
Here's an implementation of the `<let>` element.  Turns out it didn't really need to be a template controller...

[code]

http://plnkr.co/edit/zGI9d7?p=preview

[2015-12-20 23:14] EisenbergEffect commented on #171
This is an interesting idea. I like it because it could enable all the scenarios with a single concept, plus open up some other possibilities. We don't necessarily need to do this as a custom element. We could bake in knowledge of "let" into the compiler. This would make it more efficient. The result of such an element could be to simply parse the attributes into binding expressions that were adde

[2015-12-20 23:23] jdanyow commented on #171
That would be great, a lot more lightweight, no BehaviorPropertyObservers and could potentially skip parts of the template compilation work when it's a `let` element because we know it shouldn't have any behaviors, content, etc.  Maybe even remove the `let` element from the template so that it doesn't interfere with css, etc.

[2015-12-20 23:32] EisenbergEffect commented on #171
Yes, exactly. It would be pretty simple. Here's the place it would go: https://github.com/aurelia/templating/blob/master/src/view-compiler.js#L283

[2015-12-20 23:33] jdanyow commented on #170
@EisenbergEffect / @niieani - I was thinking the same as @niieani: *update the behavior such that it accepts multiple name arguments.*

@niieani: thanks for the PR! Could you please make a few changes so we can merge it:

1. Please follow the commit message guidelines (in contributing.md).  This enables us to automate the production of release notes among other things.
2. Please change `...args` t

[2015-12-20 23:36] jdanyow commented on #171
ok cool! Let me see if I can come up with a PR after I get a couple binding issues fixed.

[2015-12-21 00:06] EisenbergEffect commented on #171
Sounds good.

[2015-12-21 00:16] niieani commented on #171
I love `let`! Great thinking @jdanyow.
As a side note, it would be great if the docs for `ref` would have this type of usage documented and explained, cause I did read about it, but did not realize you can use it for storing bindings like that. (in fact I was trying to do exactly that, and was bumping my head on the wall, trying to figure out why won't a nested `<template bindable="foo" foo.bind="

[2015-12-21 00:21] niieani commented on #170
@jdanyow Sure, I'll do that when I get a moment.
@EisenbergEffect I was looking for some contributing guidelines (in many places, such as a link in the main README.md and in the Docs) before sending the PR, but I couldn't find anything aside from the information that signing the License is required. Perhaps it could be made clearer in the docs and/or the main readme that there is something like `c

[2015-12-21 05:49] jdanyow commented on #171
@EisenbergEffect I was looking at the implementation details some more. These bindings differ from standard bindings in a few ways, most importantly, the `target` of these bindings is the `overrideContext`.  This means when `expression.createBinding(target)` is called by the view factory, it's too early and the target argument isn't the right thing / not needed.

I was thinking we should create de

[2015-12-21 12:47] Mordred opened #173 "DOM.Element is undefined"
When `templating-resources` is loaded before application is bootstraped (aurelia-pal-browser initialized), all injections of `DOM.Element` are `undefined`.

![image](https://cloud.githubusercontent.com/assets/29232/11930907/303b7444-a7e8-11e5-8df2-cc039f17cdd2.png)

[2015-12-21 12:59] Mordred commented on #173
This issue has started after upgrade `aurelia-i18n` to 0.4.4, which now loads `aureila-templating-resources`

[2015-12-21 14:43] EisenbergEffect commented on #173
It's not a bug in this. It's a bug in i18n, but I'm not sure how this is possible. We need a repro.

[2015-12-21 14:45] EisenbergEffect commented on #171
Can you put together a full proposal? Including proposed syntax, use case examples and what we would need to change to make it happen?

[2015-12-21 21:26] Mordred commented on #173
@EisenbergEffect OK, it seems that problem is only when using manual bootstrapping (`bootstrap` from `aurelia-bootstrapper`). Here is a demo http://plnkr.co/edit/IteJYiwfEXWs2cEV8aOI?p=preview

[2015-12-22 16:06] danfma opened #174 "repeat.for inside a parent component does not respect the position of the element"
Hey guys,

The *repeat.for* does not obey the current element position when inside of one parent element with `<content></content>`.

If I use:

[code]

The result will be (when rendered):

[code]

[2015-12-22 16:08] danfma commented on #174
If I put one simple element wrapper over the repeat, it works but the semantic-ui is very sensitive to element position, then it affects the style of the application.

[2015-12-27 22:31] genadis opened #175 "Dynamic composition with replaceable parts"
First posted on gitter, but without success..

I was successfully using compose like so:
[code]
Sometimes I find it is useful to use `replace part` functionality rather than changing the whole view.
Ideally combination of both would be perfect:
[code]
but it doesn't seem possible...

The idea is to have an array of custom object elements `foo1` and to compose them dynamically by adding/removing el

[2015-12-27 22:51] genadis opened #176 "Error on combination of oneTime & signal binding behavior"
When trying to use onTime with signal binding as follows:
[code]
an error is thrown:
[code]

It is useful as explained in example in [aurelia-binding-behaviors](http://www.danyow.net/aurelia-binding-behaviors/)
"Value converter that uses the current time to convert a record's datetime to a "time ago" value:  posted ${postDateTime | timeAgo}. The moment this binding expression is evaluated it will

[2015-12-28 18:53] martingust commented on #174
@danfma Any chance you could provide an example repo or [plunker](http://plnkr.co/edit/5vMoxM?p=preview) that replicates the issue? Thanks!

[2015-12-30 15:59] EisenbergEffect commented on #176
@jdanyow Isn't a signal automatically a one-time binding? How should this be handled.

[2015-12-30 16:00] dankraus opened #177 "Feature suggestion: Bindable Hide attribute"
Hello!

Is there any interest in adding a bindable "hide" attribute? It would simply function as the inverse of show. Obviously we can do `show.bind="!isShowing"`to effectively hide something. I always try to avoid `!`'s in conditionals and code to a "positive" convention. It's just one less mental hurdle to do inverses of booleans and determine what's showing or hiding.

It would add `aurelia-hid

[2015-12-30 19:55] jdanyow commented on #177
:+1: like

[2015-12-30 20:12] jdanyow commented on #176
The combination of signal + one-time was intentionally disabled:

https://github.com/aurelia/templating-resources/pull/126#issuecomment-150813462

Time to reconsider this limitation... binding perf refactoring is complete. It should be safe to remove [this check](https://github.com/aurelia/templating-resources/blob/master/src/signal-binding-behavior.js#L16-L18) and allow one-time + signal.

Though

[2015-12-30 20:32] EisenbergEffect commented on #176
Obviously, the fix is simple. You are the binding expert. It's your call.

[2015-12-30 20:41] jdanyow commented on #176
Will add some tests and get this into the next release.

[2015-12-30 20:42] EisenbergEffect commented on #176
Beautiful :)

[2015-12-30 23:56] dankraus commented on #177
For what it's worth, another clear use and what brought me the idea was doing something like:

    <span show.bind="isSaving">Saving Changes...</span>
    <button hide.bind="isSaving">Save</button>

[2016-01-04 21:17] martingust commented on #142
Implemented here https://github.com/aurelia/templating-resources/commit/dc0432a00920ee2f3b9fc44a6d0955f868d679a8

[2016-01-06 03:26] #176 closed

[2016-01-07 15:52] aozisik opened #179 "Calling Router-View Inside Replaceable Template"
I am using childRouters and on this particular page, I try adding my router-view inside of a custom element.

My code is like this:

        <template>
            <require from="components/panel/panel"></require>
            <panel title="Registration">
                <template replace-part="body">
                     <router-view router-view.ref="routerView"></router-view>
                </te

[2016-01-07 15:59] EisenbergEffect commented on #179
The router-view is not supported in this use case. It must be statically defined within the view for the view-model that defines the router's configuration. Indeed, there was no router-view found in `./steps/project` because you effectively placed it inside the view for the panel. You might want to consider using `<content></content>` instead of a template-part for this use case. Given that you ca

[2016-01-07 15:59] #179 closed

[2016-01-07 17:19] aozisik commented on #179
Yes, that makes perfect sense. That was really helpful, thank you!

[2016-01-07 17:20] EisenbergEffect commented on #179
You are welcome.

[2016-01-09 12:12] genadis commented on #176
works like a charm, Thanks!

[2016-01-09 13:17] genadis commented on #176
It worked for the above case, but not with `repeat.for`:
[code]
The list get's rendered once, If I add an `item` to `items` array and invoke `my-signal` the repeat.for is not re rendered.

Should I open separate issue?

[2016-01-09 13:31] jdanyow commented on #176
please do- the repeat custom attribute handles oneTime differently than regular bindings

[2016-01-09 13:55] genadis opened #180 "repeat.for with oneTime behavior does not refresh on signal"
Please consider the following use case:

[code]
The list get's rendered once, If I add an item to items array and invoke my-signal the repeat.for is not re rendered.

[2016-01-12 19:46] valichek commented on #111
Looks like I have related issue:
[code]
good for Chrome (osx), and bad in Firefox (osx), no `<th>` added to DOM.

Here is a plunker
http://plnkr.co/edit/lUf9se?p=preview

[2016-01-12 19:51] valichek commented on #111
having `if` synonym like `repeat-if` could be solution
like
[code]
Strange? Sure

[2016-01-12 20:27] EisenbergEffect commented on #111
You can't place two TemplateControllers on the same element. In this case `if` and `repeat`. They are both trying to control the creation of the th. It works in Chrome...accidentally...somehow. It should not work. To solve this, you should nest them. (Consider that the framework can't tell whether you want the whole list to be conditional or whether you want individual rows to be conditional.)

[2016-01-12 20:36] devmai commented on #111
Good to know Rob. I have a slightly same issue.
My table row array look like `[10,10,10, , ]` So only the last column will not be appended into DOM. When last index got an value with 10 it will be rendered. Without last value only 4 <td>'s are there. Same issue in FF, Chrome and IE.

[2016-01-12 20:49] valichek commented on #111
@EisenbergEffect yes, nesting is the best option, sometimes using `template` solves the problem, but not for `<table>`, so if not two TemplateControllers, having one `repeat-if.for` could be a good replacement
[code]

[2016-01-12 20:55] stoffeastrom commented on #111
Wouldn't it be easier just using a `get` that filters out the visible columns?

[code]

[2016-01-12 20:58] stoffeastrom commented on #111
All depends on your use case I guess. Maybe you don't want to create new arrays like that

[2016-01-12 21:12] valichek commented on #111
@stoffeastrom not sure about perfomance in cases when I have 1000s of rows and 10 columns, and I want to hide/show 1 row

[2016-01-12 21:15] EisenbergEffect commented on #111
A quick fix would be to switch your `if.bind` to `show.bind` That still creates the div, but it will hide it if that value is false. That may be the most efficient mechanism for your scenarios. If you do have 1000s of rows, you may also want to check out our ui-virtualization library. It provides a `virtual-repeat` which only renders what is visible an provides virtual scrolling support over the f

[2016-01-12 22:50] valichek commented on #111
The main problem here I have is that I need to use `<table>`, I need headers, I need content with scrolling and footer, and headers should be of same width as columns, and cannot find good solution with `divs`

[2016-01-20 17:29] samlin99 opened #182 "input element inside compose issue"
Hi,

I just wrote a sample code to let compose element view-model.bind to another file. That file just contain a input text element like ```<input type="text" id="fname" blur.trigger="myFunction()">```

In my testing, this input text element could not be focused to type value. So any blur event will not trigger. Is there any way to let blur event triggered? and input text element can be focused to

[2016-01-20 21:37] samlin99 commented on #182
My style issue. Verified in skeleton code, works fine.

[2016-01-20 21:37] #182 closed

[2016-01-20 21:37] samlin99 commented on #182
Closed issue

[2016-01-21 22:54] #173 closed

[2016-01-25 19:14] martingust commented on #177
Implemented in https://github.com/aurelia/templating-resources/commit/38760b6ba00774a7e75572baef0021d8c1c45096

[2016-01-25 19:14] #177 closed

[2016-01-25 19:15] martingust commented on #174
@danfma Closing this until we get a repro.

[2016-01-25 19:15] #174 closed

[2016-01-27 12:06] jdanyow commented on #163
I think the `./` is required for relative urls.  Items without `./` could be an installed dependency eg `bootstrap/css/bootstrap.css`, the `./` helps make the distinction and keeps things explicit.

Closing- @EisenbergEffect please re-open if I have this wrong.

[2016-01-27 12:06] #163 closed

[2016-02-01 11:02] sickboy commented on #64
@Aaike my workaround for this is adding a compose.ref="composer"
and then using this on a loader element:
[code]

[2016-02-03 12:22] ohjames commented on #167
Closing this one due to my fixes but opening a very similar and very serious issue that manifests similar (but not quite as obvious and catastrophic) desync issues to this one.

[2016-02-03 12:22] #167 closed

[2016-02-03 12:39] ohjames opened #183 "repeat.for + animations still not production ready, view can desync with array leading to duplicates and loss of order."
After my fixes in the animator (https://github.com/aurelia/animator-css/issues/35 and https://github.com/aurelia/animator-css/pull/33) and my fix in this project (#167) I was hoping to see the last of issues this critical but the combination of `repeat.for` and `au-animate` still leads to duplicate entries in the view, the view entries not being sorted correctly and items missing from the end of t

[2016-02-03 13:38] EisenbergEffect commented on #183
@jdanyow @martingust I think this is a top priority issue. We need to get this sorted as quickly as possible. The bug could be present in a number of possible places, repeat.for, ViewSlot or the css animator. @joelcoxokc had some improvements to the css animator a while back but I'm not sure if they fixed this or other bugs or were just internal improvements. Can you guys take a look at this toget

[2016-02-03 13:48] ohjames commented on #183
I'm pretty sure the issue occurs when inserting new elements to an array during the view animation for a previous insert.

I can trigger the issue with:
 * Storing the updates in `nextArray` and running `array.splice(0, array.length, ...nextArray)` whenever `nextArray` changes.
 * Splicing the `array` directly.

[2016-02-03 13:53] ohjames commented on #183
@EisenbergEffect the only recent changes to `animator-css` are my fixes for other race conditions that led to consequences similar to this (much more frequently than they happen now).

The changes (or rather the rewrite) by @joelcoxokc are in [this open PR](https://github.com/aurelia/animator-css/pull/37).

His approach to timing the animations is the same as the one I implemented in the previous

[2016-02-04 15:45] niieani opened #184 "Add $first and $last (and possibly other) contextual items to the Map repeater"
The docs state that the repeaters have these contextual items available inside a repeat template:
[code]
Even though Map doesn't have an inherent order, there is an order to the way it is iterated and therefore rendered. It would be great if these items were available inside the repeat template the same way they are for Arrays. Useful for generating datagrids from `Map<ID, Object>`.

[2016-02-04 15:56] niieani opened #185 "No way to set rendering order (sorting) of Map repeaters without transforming the expression to an array"
Since Maps don't have an inherent way to set the iteration order like Arrays (unless by recreating the map by re-adding all the elements in order - not really reliable), this presents a problem in rendering them in a sorted way without resorting to hacks, like transforming them into Arrays first. This is hacky and can introduce performance problems, because every time the expression is evaluated,

[2016-02-04 16:42] devmondo commented on #138
we are facing big problem because of this, without deactivate we have no way to dispose even subscriptions or setTimeOut,etc... usually you do this on `detached` or `deactivate` method, in essence  we have same problem as @stsje has

[2016-02-04 16:45] EisenbergEffect commented on #138
Why can't you do this in detached or unbind? Those are the places you would typically do that.

[2016-02-04 16:51] devmondo commented on #138
they are not being called!

[2016-02-04 16:53] EisenbergEffect commented on #138
If `detached` and `unbind` are not being called then that is a bug. Can you report that as a separate issue and provide a simple repro?

(This issue is about a new feature.)

[2016-02-04 16:55] EisenbergEffect commented on #38
We now have an imperative api for this via `enhance`. It's not clear what the best way would be to make a declarative api...and might not be able to be done in a really useful or generic way. Since the core capability to accomplish this now exists in the templating engine, I'm closing this issue.

[2016-02-04 16:55] #38 closed

[2016-02-04 17:03] devmondo commented on #138
sure i will try something, thanks for fast response

[2016-02-04 19:06] martingust commented on #184
All those should be available when iterating a Map. I just confirmed with the latest skeleton that it works. It doesn't work for you? Can you provide a repro?

[2016-02-04 23:18] niieani commented on #184
My bad, I had a typo :astonished: in the code!
The only thing left I guess is to correct the docs so they don't describe it's the index in the array, but the iteration of the repeater (since it does not need to be an Array).

[2016-02-04 23:18] #184 closed

[2016-02-05 11:56] heruan opened #186 "Binding Behavior to filter keycodes on KeyboardEvent"
Given a binding like this:
[code]
would a custom Binding Behavior be able to trigger the `search()` function only for certain keycodes in the triggered `KeyboardEvent`? I know I could pass `$event` and then check the keycodes in the delegated function, but I'd prefer to leave that function uncoupled from the event and I thought a Binding Behavior would fit nicely for this purpose!

[2016-02-06 05:26] EisenbergEffect commented on #138
@devmondo Is the bug there or not? I don't recall seeing you create an issue.

[2016-02-06 11:51] devmondo commented on #138
@EisenbergEffect  sorry for delay.

i was testing, and it turned out to be the Aurelia compiler, when we compile elements, none of them or their compiled children get to call `detached` or `unbind` methods, so the way i do it now is to traverse through all compiled HTML elements and get access to their `viewModel` through `au` property and then call those methods manually on their container root e

[2016-02-06 22:15] EisenbergEffect commented on #138
What compiler are you referring to? If it's that old helper that was passed around some months ago...you definitely shouldn't be using that. That wasn't quite right. In any case, if you use the compiler or the `enhance` api directly, when you have a dynamically created `View` you need to manage the lifecycle yourself. So, if you are creating this from inside a component, then you need to implement

[2016-02-06 22:15] EisenbergEffect commented on #138
(For the moment we aren'g

[2016-02-06 22:17] EisenbergEffect commented on #138
I'm closing this because instead of using deactivate, in this case, detached or unbind could be used instead. Since we aren't planning to implement the full router lifecycle, it would be strange to implement more methods here.

[2016-02-06 22:17] #138 closed

[2016-02-07 22:50] MarkHerhold commented on #41
This issue was opened a while ago, but still has a high Google rank.

Aurelia supports binding to ES6 Map objects, which likely accomplishes what most people want.
https://github.com/aurelia/framework/issues/90

[2016-02-08 03:10] 32graham opened #187 "Add clean mechanism for hiding values when they have not changed since the previous loop iteration"
Suppose you have a list of items where each one has a date property. You want to display all those items ordered by date. In order to save screen space and reduce visual clutter, you only want to print the year, month, and day of month when they are different than the previous iterations value. Example:

[code]

You want it to render the data something like this:

[code]

While this is possible us

[2016-02-09 02:23] 32graham commented on #187
Turns out, once I actually wrote the code to make this work, it wasn't quite as ugly as I expected it to be.

[code]

I'm still interested in improving this story if possible though.

[2016-02-09 02:45] jdanyow commented on #186
definitely!

something like this:

[code]

http://plnkr.co/edit/TJcVuD?p=preview

[2016-02-09 02:45] #186 closed

[2016-02-09 07:35] heruan commented on #186
Great!

[2016-02-09 10:50] heruan opened #188 "Dynamic replaceable templates"
I'm building a plugin to automatically create tables based on given properties array and row items. Simplifying:
[code]
This works like a charm, but it would be useful to let the plugin user to customize the rendering of some property with a template. For example, given items of type:
[code]
one may use a template to customize the rendering of `item.name` like this:
[code]
I've tried to bind the `

[2016-02-10 21:13] martingust commented on #41
The repeater is now pluggable, that means you can plug in different strategies to teach the repeater how to iterate different collections. In this case you could make the object iterable and the plug in an iterator strategy to the repeater.

Here is a full example:

[code]

[code]

[2016-02-10 21:51] jdanyow commented on #41
@martingust that is awesome ^^^

[2016-02-11 00:31] EisenbergEffect commented on #41
I think we need that example for our advanced templating docs. Very cool
stuff...
On Feb 10, 2016 3:51 PM, "Jeremy Danyow" <notifications@github.com> wrote:

[2016-02-11 20:57] martingust commented on #41
I created a plugin for this https://github.com/martingust/aurelia-repeat-strategies

@EisenbergEffect Sure, I'll include that.

[2016-02-12 13:49] thomas-darling opened #189 "Error when requiring a missing css file"
This error only occurs when we bundle our app - when unbundled, it just continues with no error.

Basically, if the app is bundled and a view `require` a css file that does not exist, the app crashes with a fairly unhelpful error message - and it gets even worse when minified: "b.replace is not a function":

[code]

![error when referencing missing css file](https://cloud.githubusercontent.com/ass

[2016-02-12 15:23] EisenbergEffect commented on #189
We can easily provide a warning message for this. Thanks for letting us know!

[2016-02-16 22:34] KamBha commented on #160
@jdanyow
Thanks for this.  What tools do we have available to access nested templates? Where can we find information on the binding object you mention above?

Thanks.

Kamal.

[2016-02-17 08:12] stsje commented on #160
@KamBha Here are the docs for the binding interface: http://aurelia.io/docs.html#/aurelia/binding/1.0.0-beta.1.1.3/doc/api/interface/Binding

[2016-02-18 18:13] kirandeorespecialprojects opened #190 "Dynamic composition"
-----Dynamic composition using view model only
It looks like there is no way to compose a viewmodel that implements getViewStrategy() and initialized from a different viewmodel. This was possible in DurandalJs 2.1.0 using knockout container less binding like below:

[code]

Below is the Aurelia code that I'm trying to make work:

[code]

[2016-02-18 20:07] EisenbergEffect commented on #190
You need `view-model.bind="widget"`

[2016-02-18 20:07] #190 closed

[2016-02-19 14:26] AlexanderDzhoganov opened #191 "Exception with <template> and if.bind with nested custom elements"
The following code throws `ERROR [app-router] TypeError: Cannot read property 'length' of undefined`
on [line 104 @ templating/content-selector.js](https://github.com/aurelia/templating/blob/master/src/content-selector.js#L104) after clicking the button.

HTML
[code]

JS
[code]
where `my-element` is a trivial custom element and `click()` does a `router.navigate()` to any location.

Changing the `<

[2016-02-22 14:11] jdanyow opened #192 "Hide is not included in the build"
https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L5
https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L35
https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L86

:mask:

[2016-02-25 01:31] #170 closed

[2016-02-25 15:41] timbell commented on #160
Just wanted to +1 this issue. In my case a `boundValueChanged(name, newValue)` callback on the view-model would be most helpful. I'm going to adapt the custom attribute code above to do the equivalent.

[2016-02-25 15:47] EisenbergEffect commented on #160
For a view model, if you define properties as bindable, you can implement a `propertyChanged` callback that will get invoked when any property changes. I'm not sure if that will work for you, but I wanted to mention it.

[2016-02-25 15:49] EisenbergEffect commented on #160
I think this would make a nice plugin for anyone who is interested in contributing. I'm sure @jdanyow would provide advice based on his example above.

[2016-02-25 15:55] timbell commented on #160
@EisenbergEffect - thanks. I had come across `propertyChanged` but discounted it for some reason - I'll have another look.

[2016-02-25 16:02] timbell commented on #160
@EisenbergEffect - my properties are members of a bound input object. Is there a way to make them `@bindable` without defining them explicitly in the view-model?

[2016-02-26 12:25] Jaans opened #193 "focus custom attribute interferes with aurelia-animator-css"
I think if have found some sort of bug where adding the focus custom attribute causes the Aurelia animation for either the parent or child router view to go all weird on me.

### Context:
I'm using a router with a child router and using the aurelia-animator-css plugin.

The parent router is a left-side bar sub-nav with the child router filling the main content. I use the au-animate class on the se

[2016-02-27 23:13] #192 closed

[2016-02-29 12:03] ohjames commented on #183
I'd like to stress again how significant this bug is, `repeat.for` *only works* if you wait `2 * animation-duration` between updates. I really hope Aurelia 1 doesn't release with this issue because:
 * It's super easy to trigger it.
 * The results are catastrophic.

[2016-02-29 12:59] martingust commented on #183
@ohjames Could you please provide an (as simple as possible) example of how to reproduce this?

[2016-02-29 13:15] ohjames commented on #183
I've been meaning to add a test to this repository but I've had very little time, you can trigger it fairly easily though by:
1. Having some repeated items with a `repeat.for` and an animation duration of 1000ms.
2. Keep inserting elements into the array with less than a `1000ms` gap between inserts, make sure some of the inserts are to the middle of the array, some are to the head and some are to

[2016-02-29 18:06] martingust commented on #183
@ohjames “Unfortunately” that did not cause any issues for me. I’ll try tinker with it to see if I can trigger some unexpected behaviour. If you could provide an example that would help a lot, does not need to be a unit test (seems like this will be hard to reproduce in a unit test).

[2016-02-29 18:17] EisenbergEffect commented on #183
@ohjames We would like to get this fixed with the highest of priorities. If you can re-create the problem in a simplest possible aurelia app so we can just drop it in the skeleton and see things go wrong, that would greatly help us get to the bottom of this. Thanks!

[2016-03-01 11:36] ohjames commented on #183
![desync](https://cloud.githubusercontent.com/assets/97685/13425885/c2d49e16-dfa1-11e5-840a-a3b2c4ff1a34.png)

[2016-03-01 11:45] atsu85 commented on #183
@ohjames, I tried your link with Sony Xperia Z1 compact, and didn't see any problems. Could this problem be related to BrowserSync (or how it is configured)?

[2016-03-01 11:50] ohjames commented on #183
The issue is definitely not related to browsersync. You are very lucky the issue didn't manifest, I see it after 99% of reloads on my desktop PC. On my Moto E it happens 100% of the time and with greater desync. 100s of our users have also reported the issue. If you reload a few times you'll definitely see it, make sure to closely observe the point scores.

[2016-03-01 13:05] martingust commented on #183
@ohjames In Chrome on Mac I see all rows ordered by score overtime. However in Chrome on iPad I can see rows not ordered by points. There is really hard to see what is going on in the code though since it's all bundled and mangled JavaScript. Is there any chance you could provide the simplest possible code to replicate this? As @EisenbergEffect said we need to be able to drop this into skeleton to

[2016-03-01 16:46] joelcoxokc commented on #183
@EisenbergEffect. Could this possibly be related to using
`viewSlot.removeAll()`. If you add anything in the array before the
returned promise resolves... You get issues.

Maybe go throw the viewSlot. And any time `removeAll` is invoked, create a
direct copy of the children's array. And set children to []. Then let
removeAll iterate through an old collection... One that cannot be pushed to
anymore

[2016-03-01 20:05] ohjames commented on #183
I tried adding a test in `array-repeat-strategy.spec.js` but I need to write a function that will `arrayDiff(src, dest)` and return a list of splices otherwise the test will be unreadable and a tonne of hassle to write. May just go for a fork of aurelia-skeleton and reproduce it that way then, it's pretty easy to replicate so it shouldn't be too much trouble, even with a broken arm ;)

[2016-03-02 00:50] ohjames commented on #183
There committed a version of the skeleton app that demonstrates the issue:

https://github.com/ohjames/skeleton-navigation
https://github.com/ohjames/skeleton-navigation/commit/32be189bbc354358437ed7197064f5c5c1310135

Uploading an image where you can see "C2" and "E1" gets duplicated and end up overwriting the elements in the positions they should be. The console is open in the screenshot to show

[2016-03-02 00:58] ohjames commented on #183
Hosting a copy of this code here so you can check it out: http://chilon.net:9123/#/users

With the given timing the duplicates/overwrites seem to manifest in the same way every time in both firefox and chrome for me.

[2016-03-02 00:58] ohjames commented on #183
f

[2016-03-02 01:23] ohjames commented on #183
Sorry my cat closed the issue. I've made another commit to make the test even smaller. Now the array contains `A, B, C` but the view shows `A, B, B`. I think performing an update while an existing animation is hiding something triggers the bug.

[2016-03-02 02:16] EisenbergEffect commented on #183
Thanks for recreating the problem @ohjames
@martingust Can you take it from here?

[2016-03-02 14:37] Souldrinker opened #194 "Compose bindings without initial view-model hangs the application."
Not sure if it's a bug or an intentional breaking change related to the new ```CompositionTransaction``` that I missed in the blog post, but it seems like the attached method never gets called in the latest Aurelia release if I have compose bindings whose ```view-model.bind``` is null when leaving the activate method.

In some cases in my application I don't know which view to load until the dom i

[2016-03-02 14:52] EisenbergEffect commented on #194
It sounds like an accidental regression since we probably hadn't accounted for that particular use case. Can you create a simple app, based on the nav skele, that reproduces the problem? If you can, I can probably get a fix out today, maybe within an hour or so. It all depends on having that repro.

[2016-03-02 15:30] Souldrinker commented on #194
I'm not used to push things to github, but I think I managed to create a repro based on the latest es2016 skeleton here: https://github.com/Souldrinker/compose-issue-194

I added a compose binding at the bottom of welcome.html which I bind to a property in my vm that is null initially and gets set in attached. In previous versions of Aurelia this worked just fine, but now the app never gets loaded

[2016-03-02 15:37] EisenbergEffect commented on #194
I'll look at it shortly. Thank you.

[2016-03-02 18:52] martingust commented on #183
Thanks @ohjames! @EisenbergEffect yes, took a quick look and definitely something going wrong when the splices are [queued](https://github.com/aurelia/templating-resources/blob/master/src/array-repeat-strategy.js#L107).

[2016-03-03 16:30] martingust commented on #183
The issue happens when a second set of changes manipulates the array before the first set of changes has reached [here](https://github.com/aurelia/templating-resources/blob/master/src/array-repeat-strategy.js#L190), resulting in the array being out of sync and view could be created with wrong data. Passing in a copy of the array [here](https://github.com/aurelia/templating-resources/blob/6445cfb09

[2016-03-03 16:52] ohjames commented on #183
@martingust That seems to have fixed it! So happy about this! Would be great if you could apply it to the master branch and include it in a release asap!

[2016-03-03 17:04] martingust commented on #183
Glad it fixed it. I'll get with @EisenbergEffect on a release as soon as possible.

[2016-03-04 01:59] #183 closed

[2016-03-04 02:03] EisenbergEffect commented on #183
@ohjames Released!

[2016-03-04 02:10] EisenbergEffect commented on #194
Sorry this got delayed. I'll be looking at it next.

[2016-03-04 06:38] EisenbergEffect commented on #194
Should be fixed in the latest release. Try running `jspm update`.

[2016-03-04 06:38] #194 closed

[2016-03-04 11:56] Souldrinker commented on #194
Yes, it's working fine now again also when I removed the if.binds, thanks :-)

[2016-03-06 18:40] EisenbergEffect opened #199 "Changes break focus.bind"
@afmuller commented on [Sun Mar 06 2016](https://github.com/aurelia/bootstrapper/issues/37)

Hi

Some change in aurelia-bootstrapper between version 1.0.0-beta.1.1.1 and 1.0.0-beta.1.1.4 have caused "focus.bind" to stop working.

I have a "focus.bind" on my form field to give focus to a field when the page loads. On version 1.0.0-beta.1.1.1 it worked perfectly. On version 1.0.0-beta.1.1.4 it does

[2016-03-06 18:43] EisenbergEffect commented on #199
@afmuller Can you create a simple repro and attach the source to this issue? That would help us to track down the source of the regression.

[2016-03-06 19:21] afmuller commented on #199
Quite simple actually.
I downloaded the 'skeleton-es2016' from https://github.com/aurelia/skeleton-navigation.

Made the following changes to test setting the field focus:

**/src/welcome.js**
Added property:
`firstNameHasFocus = true;`

**/src/welcome/html** (added focus.bind="firstNameHasFocus")
`<input type="text" value.bind="firstName" class="form-control" id="fn" placeholder="first name" focu

[2016-03-06 19:22] EisenbergEffect commented on #199
Perfect. Thanks. We'll take a look shortly.

[2016-03-07 01:59] jdanyow commented on #111
closing- this was due to multiple template controllers on the same element (if and repeat).

[2016-03-07 01:59] #111 closed

[2016-03-08 01:47] jdanyow opened #200 "Remove TaskQueue usage in If template controller"
No longer needed:
https://github.com/aurelia/task-queue/issues/12#issuecomment-193186222

[2016-03-08 01:48] EisenbergEffect commented on #200
Cool!

[2016-03-08 13:26] atsu85 commented on #111
@jdanyow, could Aurelia throw an error in this case to fail fast and let the developer know, that there is a problem, instead of producing inconsistent results on different browsers?

[2016-03-08 20:52] martingust commented on #200
Awesome!

[2016-03-08 23:54] JamesReate commented on #105
Does this work automatically if in a view I do for example:
`<require from="summernote/dist/summernote.css"></require>`
ie. the regex will execute to replace the font src path? Or do i need do to something extra to tell aurelia to re-write the css font src...

[2016-03-10 21:30] alvarezmario commented on #41
@martingust @EisenbergEffect I wonder if is not a good idea to include this in the core. Is not much code and is something that many people needs. I mean, adding the plugin is also good, but I think that iterating an object is important enough as for adding this as a core feature.

[2016-03-12 08:18] gregdouglas commented on #64
Does the latest aurelia release help with this issue?

[2016-03-15 00:29] #200 closed

[2016-03-15 10:55] atsu85 commented on #200
@jdanyow, i'm curious,
when should the TaskQueue be used,
why was it used initially and
why isn't it needed (any more)?

I guess taskqueue should be used to offload UI-updating actions from business logic "thread".
Removing view from ViewSlot looks like UI-updating action and valueChanged sounds like callback for business logic, but i guess there is very good explanation why taskqueue is not neede

[2016-03-15 11:19] jdanyow commented on #200
@atsu85 that info is in the discussion here: https://github.com/aurelia/task-queue/issues/12

[2016-03-15 16:02] EisenbergEffect opened #203 "Cache busting and Navigation-Skeleton"
@joakimhallberg commented on [Tue Mar 15 2016](https://github.com/aurelia/framework/issues/364)

When using SystemJS for cache-busting as suggested here https://github.com/aurelia/framework/issues/94, it breaks the navbar in the skeleton-navigation application. The navbar is no longer visible and doesn't get loaded into the view. There are no errors in dev-tools. The html gets loaded
![image](http

[2016-03-16 10:15] bebor commented on #64
so can we expect the events "compose-start" and "compose-complete" to be implemented?

[2016-03-16 10:34] EisenbergEffect commented on #64
Liefcycle is as follows:

* ctor
* created
* bind

(wait for asynchronous binding/composition to complete)

* attached

(wait for something to remove the component)

* detached
* unbind

[2016-03-16 10:34] #64 closed

[2016-03-17 08:08] devteamexpress opened #204 "Compose doesn't unbind when switching routes between same view, different arguments"
View A contains a compose tag within
Load view A with argument x
Switch to View A  (through router.navigate) with argument y

The compose tag doesn't unbind/detach between the calls, and it will reuse the same viewmodel causing undesirable affects.

[2016-03-17 10:23] EisenbergEffect commented on #204
I see the explanation, so I could probably reproduce, but I'm wondering if you could drop a quick zip file on this issue that contained the src folder from a repro built on the nav skeleton. That would help us in being sure to resolve this correctly.

[2016-03-17 11:04] devteamexpress commented on #204
[src.zip](https://github.com/aurelia/templating-resources/files/177696/src.zip)

[2016-03-21 14:04] #189 closed

[2016-03-21 15:22] thomas-darling opened #206 "Missing argument in type declaration for SignalBindingBehavior.bind"
I'm doing essentially the same as what is being done here, in `TBindingBehavior`:
https://github.com/aurelia/i18n/blob/master/src/t.js

However, TypeScript complains because of a missing argument in the type declaration for the `bind` method of the `SignalBindingBehavior` class.

If I manually add it, it works perfectly :-)

[code]

[2016-03-21 15:22] thomas-darling commented on #206
Related: https://github.com/aurelia/binding/issues/352

[2016-03-21 21:55] jdanyow commented on #206
there's no typing for the individual binding behavior implementations, only this:  https://github.com/aurelia/binding/blob/master/dist/aurelia-binding.d.ts#L280

[2016-03-21 21:55] #206 closed

[2016-03-25 23:14] KamBha commented on #160
Hi
I am trying to modify dirty to support dirty with embedded components.

You can see my work here:-

https://github.com/KamBha/aurelia-play

I have created a custom element called important-date to process a small part of my data model.  I want to update the dirty code above to take into account my important-date bindings, but I don't see how to gain access to the bindings of the important-date.

[2016-03-28 21:36] #203 closed

[2016-03-29 14:17] 32graham commented on #187
Any thoughts on this? Feel free to close this if it is not something you feel is a good fit.

[2016-03-30 20:11] stoffeastrom opened #209 "`repeat.for` breaks `touch` event listeners"
There is a [flaw](http://lists.w3.org/Archives/Public/public-webevents/2012OctDec/0023.html) in the touch specification which breaks event listeners. This worked a couple of months ago but there has been a lot of changes in this area :)

So when moving an item in an array the event flow will break since the item that got `touchstart` is removed. Instead of moving the element it will be removed and

[2016-03-31 09:24] martingust commented on #209
The reason this worked a couple months ago is probably because `repeat`had its own (non optional) caching before `view-cache` was implemented. In order to make this work without view caching we need to track which views are moved instead of remove/add, which probably going to be difficult.

I think the view cache work around is alright, without any particular downsides. Perhaps we should include s

[2016-03-31 19:21] stoffeastrom commented on #209
@martingust is there a way to set the *view-cache* from a *custom attribute*? So I can make sure my plugin works?

[2016-04-02 05:59] martingust commented on #209
@stoffeastrom Not sure, does it work if you put view-cache on the custom attribute's template tag?

[2016-04-02 09:50] stoffeastrom commented on #209
@martingust What do you mean? You mean in the definition?

[code]
?

[2016-04-02 19:35] martingust commented on #209
@stoffeastrom Nvm, my bad, I was thinking custom element.

I think you can set it from your custom attribute though, by injecting the repeat instance and call `setCacheSize` on its `BoundViewFactory`.

[code]

There might be a better way to do this though, @EisenbergEffect would have to confirm.

[2016-04-02 19:46] EisenbergEffect commented on #209
Yes
On Apr 2, 2016 3:35 PM, "Martin Gustafsson" <notifications@github.com>
wrote:

[2016-04-04 18:34] martingust commented on #209
@stoffeastrom Any chance trying this out?

[2016-04-04 18:45] stoffeastrom commented on #209
@martingust No, not yet but I'm sure it will work :)

[2016-04-08 21:42] ppn2 opened #211 "compose and custom pipeline steps"
If custom pipeline steps are added in the router, they are not invoked in the viewModel targeted by compose.

[2016-04-12 08:06] eliavmaman commented on #41
Hey guys,
I was trying solve this problem with @martingust  plugin but got error from jspm.
**Thats how i solved the problem:**
 I've changed the itarableValueConvertor like that:
`export class IterableValueConverter {
    toView(value) {
        if (value) {
            let index = 0;
            let propKeys = Reflect.ownKeys(value);
            let newArr=[];

            for(var i=0; i<propKey

[2016-04-12 08:10] eliavmaman commented on #41
@martingust , i was trying to use the itarableValueConvertor class you created without the plugin,
It fails on thr next() function, for that input: `['a','b','c']`.

[2016-04-13 01:48] jdanyow commented on #209
@martingust / @stoffeastrom is the view-cache the solution? Or is there more work to do here?  Wondering if this can be closed.

[2016-04-13 03:10] jdanyow commented on #188
seems to be working now: https://gist.run/?id=2fb02c423647ec726c5830461e13f7d8

[2016-04-13 03:10] #188 closed

[2016-04-13 03:19] #187 closed

[2016-04-13 03:25] jdanyow commented on #185
you could replace the [MapRepeatStrategy](https://github.com/aurelia/templating-resources/blob/master/src/map-repeat-strategy.js).  Maybe you could enhance it with a convention that looks for a `sort` function on the map and use it to control the order.

[2016-04-13 03:25] #185 closed

[2016-04-13 07:15] stoffeastrom commented on #209
Closing this for now

[2016-04-13 07:15] #209 closed

[2016-04-13 23:47] jdanyow commented on #211
The compose element is independent of the router- there's no connection between the two.

[2016-04-13 23:47] #211 closed

[2016-04-14 00:09] jdanyow commented on #199
Looks like this works if the property is set to true in the attached stage:

[code]

https://gist.run/?id=cfefc64b3a236d2ab4ef5570b7ef8e9e

Should the focus attribute wait to "give focus" until the attached stage instead of doing it during bind/self-subscriber?
https://github.com/aurelia/templating-resources/blob/master/src/focus.js

[2016-04-14 00:19] jdanyow commented on #180
Was looking into why it didn't work with oneTime- turns out it was intentional so changing this to an enhancement.  https://github.com/aurelia/templating-resources/pull/126#issuecomment-150813462

[2016-04-14 00:54] EisenbergEffect commented on #199
Probably it needs to wait until attached. I'm not sure if it would reliably work when the focused element is outside of the document.

[2016-04-14 01:01] jdanyow commented on #180
Not sure why I didn't catch this before- the binding is being signaled but nothing happens because the signaled value (the array) is the same as the original value (the array).

one-time, signal and collection mutation aren't a supported scenario.

[2016-04-14 01:01] #180 closed

[2016-04-14 12:30] #155 closed

[2016-04-14 17:31] ppn2 commented on #211
I have limited understanding of the aurelia internals so correct me if I am wrong. As I understand canActivate, activate, canDeactivate and deactivate hooks are related to router and compose does call these hooks. My understanding is that when we customize the router pipeline, we can create our own hooks and they work similar to activate etc hooks.

My problem is that when I use the component at t

[2016-04-14 17:52] EisenbergEffect commented on #211
No, compose does not call those hooks. Those hooks are for the router only.
There are two lifecycles, one for navigation and one for components.

Navigation
* canActivate
* activate
* canDeactivate
* deactivate

Components
* created
* bind
* attached
* detached
* unbind

[2016-04-14 23:33] ppn2 commented on #211
@EisenbergEffect I checked the code and I can see compose is invoking activate and canActivate.

If you look at the [CompositionEngine.createController](https://github.com/aurelia/templating/blob/master/src/composition-engine.js#L125), it is invoking the activate method. The createController method ultimately is being invoked by compose.processInstruction method.

Though I agree this is hardcoded

[2016-04-15 00:09] EisenbergEffect commented on #211
That's special case code that is mostly only useful for application startup. It's undocumented because it may not be supported in the future and it won't ever be integrated with the router.

[2016-04-15 00:52] ppn2 commented on #211
So does that mean any component which can be reused should not hook into the activate life cycle?

We have a requirement where the user can navigate to the url and edit customer screen is presented. Also they can edit the customer in place in a different screen. For example the user is working in the order screen where they can select a customer from the dropdown. We have a edit customer button wh

[2016-04-15 02:31] EisenbergEffect commented on #211
No, components should use the component lifecycle. Instead of loading data inside of components, create properties and pass the data in.

[2016-04-17 13:43] niieani opened #213 "Performance: Suboptimal repeat element lifecycle"
* [Example (with `@bindable`)](https://gist.run/?id=47985f620e3632b40f18197e52ecf77f)
* [Example (with `<compose>`)](https://gist.run/?id=bd1ee888a9311027156b29b7df6ac27e)

1. Open either of the examples
2. Open Developer Tools console to see when elements bind/unbind.
3. Click the checkbox to filter the object with the value '8'.

What happens is that when one toggles the value filter, Aurelia do

[2016-04-17 17:03] EisenbergEffect commented on #213
@martingust @jdanyow Can we look into doing some more improvements in this area?
@niieani On this note, if you have a long list, you should really be using the ui-virtualization library so that you don't even make the browser render things that aren't' visible. Just install the plugin and switch your `repeat` to a `virtual-repeat`.

[2016-04-17 17:26] niieani commented on #213
@EisenbergEffect I am aware of the ui-virtualization plugin. However, if the template rendered by the repeater is really complex (or nests many components), the performance problem will appear even if the list is only 10 items long, simply because of the tear-down and set-up of everything inside the repeat template involved (bindings, unbindings, composition, view-creation, etc, etc.).

Whenever t

[2016-04-17 17:34] EisenbergEffect commented on #213
I thought we were already doing this but maybe there's a bug or some
conflict with valued converters.
On Apr 17, 2016 1:26 PM, "Bazyli Brzóska" <notifications@github.com> wrote:

[2016-04-17 17:41] niieani commented on #213
@EisenbergEffect Well it might be a bug, but it's definitely not a conflict with value converters, because the same problem is present when we manually change the instance of the Array/Map/Set from the ViewModel.
[Example (swapping arrays in the ViewModel)](https://gist.run/?id=123dc3b0b8353992ac93e46f4e44a487)

[2016-04-18 12:55] martingust commented on #213
@niieani We are analyzing the iterated view [here](https://github.com/aurelia/templating-resources/blob/master/src/repeat.js#L67), if it doesn't require lifecycle the optimizations you suggested are happening [here](https://github.com/aurelia/templating-resources/blob/master/src/array-repeat-strategy.js#L43), if the view (i.e the compose element) do require full lifecycle all views will be removed

[2016-04-18 14:26] stsje commented on #213
I tried adding the `view-cache="*"` attribute in the examples, but not seeing it having the desired effect.

[2016-04-18 15:02] niieani commented on #213
@martingust I've tried adding `view-cache="*"` to all three examples that I've posted to no effect, confirming what @stsje said.

If it should work, it doesn't, so we have probably discovered a bug. In any case, shouldn't this be an **opt-out** feature instead of **opt-in**? Having it opt-in sounds like premature optimization to me - and in many cases will have the opposite, de-optimizing effect.

[2016-04-18 18:53] martingust commented on #213
@niieani @stsje Sorry for misleading about the `view-cache`, it won't make Aurelia not destroy/create views that require life cycle, but it should speed it up by caching the DOM elements. However I think this is something we should look into to optimize more.

[2016-04-18 19:38] niieani commented on #213
@martingust Oh, that explains it. I've just done some performance tests with and without `view-cache` setting and there seems to be no difference in performance, even with 1000 or more elements in the repeater. So the view-caching filter does not help with this use-case at all (if so, the differences are in the millisecond range for 1000s of elements).

[2016-04-18 21:31] jdanyow commented on #213
Based on @niieani's comments they understand that returning a different array instance from a value converter is expensive because it forces Aurelia to re-render the whole repeat.  Aurelia does not do any expensive DOM diffing computations, nor does it have a copy of the array it can compare the new array instance with to determine what the effective changes were.

Aurelia's approach is to interce

[2016-04-18 21:38] EisenbergEffect commented on #213
@jdanyow Dang. That would be so cool. I love the expressiveness of it. What would be the level of effort in implementing something like this?

@niieani Thoughts on this?

@jdanyow @martingust Regardless of the above, I do think we should continue to look for potential optimizations in repeat scenarios.

[2016-04-18 22:21] CasiOo commented on #213
@niieani's Problem could possibly be fixed by chaining filters like `<li repeat.for="item of items | standardFilter | repeatDiffFilter>`. So you have a filter that does the diffing.

@jdanyow Your idea is interesting indeed, but I would personally need a clear defined rule for when to use which kind of filter. Two kinds of filters could become messy. It will have to be very clear to the developer

[2016-04-18 22:47] #199 closed

[2016-04-19 08:09] niieani commented on #213
Initially I thought @jdanyow's `where X` syntax was a good idea, but after thinking more about the actual scenarios, I'm now not so optimistic about it.
Here are my reasons:

- this forces people to put more logic into the view
- sometimes the filtering is really complex - this could mean lines and lines of less-readable, non-lintable code inside of HTML templates that additionally needs to be par

[2016-04-19 09:03] stsje commented on #213
Will the value-converter continue to be a singleton even if you add the `@transient()` decorator?

[2016-04-19 09:46] niieani opened #214 "Aurelia does not setup a collection observer for arrays returned from ValueConverters"
I've tried implementing the @CasiOo's `repeatDiffFilter` idea from #213, but unfortunately I've stumbled onto this problem. Example here:
https://gist.run/?id=7f2a22cebf10db035017db0a656fa3c5

Expected behavior is that once the array returned from the ValueConverter changes, text "test" should appear (an additional element should be created every second).

[2016-04-19 09:48] niieani commented on #213
So I've [tried implementing](https://gist.run/?id=499ef4b8b871105deb9fdf597e47265d) a `repeatDiff` value converter, however I've stumbled onto a bug in Aurelia #214. Once that is resolved, **[this proof-of-concept `DiffValueConverter`](https://gist.run/?id=499ef4b8b871105deb9fdf597e47265d)** should work to optimize for changing array instances.

@stsje Didn't know about the `@transient()` decorato

[2016-04-19 10:25] stsje commented on #213
Import it from aurelia-framework and add it to your class `import {transient} from 'aurelia-framework';

Seems weird that the value-converter changes to the array aren't picked up by Aurelia. Probably because it's the same instance returned. That was not what I expected to happen.

[2016-04-19 10:35] niieani commented on #213
@stsje Indeed, hence #214.

I was just thinking about implications of using such a "caching and diffing" ValueConverter. Would such a `@transient` ValueConverter instance be recreated in this case we signal the binding? Like this:

[code]

If yes, then even a DiffValueConverter don't help us solve the issue entirely, because it'll be recreated every time the binding is signaled, resulting in a new

[2016-04-19 11:01] niieani commented on #213
Another downside to using such an "instance diffing" ValueConverter is that not all optimizations can be made in it. The ValueConverter can only optimize for elements added and removed, but not for elements moving around in the Array. Having this baked into Aurelia could mean that Aurelia could simply shift the DOM elements around in case of element reordering, e.g. when the difference between two

[2016-04-19 11:51] jdanyow commented on #214
This is intentional- the binding system observes the pre-converted value because the value coming out of the converter tends to be transient.  Value converters are singletons and shouldn't be stateful.

[2016-04-19 11:51] #214 closed

[2016-04-19 12:27] jdanyow commented on #213
@niieani - good feedback, thank you.  I have some feedback/questions on your comments.  I think generally we're moving in the right direction.  If you have a few minutes could you respond to my comments below?  Much appreciated!

This would only work for the `this.array = this.array.slice(0)` hack people are using to force value converter re-evaluation right?  If it were a truly immutable data mod

[2016-04-19 13:49] niieani commented on #213
Happy to help! I want this project to succeed as much as you, you're doing great work!

Only if the underlying data actually changes or is pushed again by the server. You can have an immutable list of immutable objects that you're rearranging, mapping to other immutable objects or simply filtering through. In all those cases the underlying elements of the list refer to the same objects in memory a

[2016-04-19 14:10] EisenbergEffect commented on #213
Great conversation here. Keep it coming. Let's see how we can improve this!

[2016-04-19 16:24] JoshMcCullough commented on #72
I just ran into this issue using Aurelia 1.0.0-beta.1.2.1 (templating). Remove the `require` from its self fixed it.

[2016-04-19 17:30] niieani commented on #213
Here's an experiment using the [DeepDiff](https://github.com/flitbit/diff) library that swaps the arrays using a proxy array to which we apply the results of the diff of the two. The View then binds to that proxy array, making use of the ArrayObserver:
https://gist.run/?id=90555919452fff29a7abe1440a5d5556

The result is that the amount of removed and added elements is relatively minimal (have a lo

[2016-04-19 17:34] EisenbergEffect commented on #213
@niieani Using that technique, are you seeing the sort of performance you need?
@jdanyow @martingust Definitely we should look into this.

[2016-04-19 17:38] niieani commented on #213
@EisenbergEffect yes, even with 9000 elements in the array the swap is now instantaneous. Have a look yourself: https://gist.run/?id=a986f5c6e3c5202d64b3d49a084981d0

[2016-04-19 19:00] stoffeastrom commented on #213
Why not use [JSONPatch](https://tools.ietf.org/html/rfc6902)?
For a large enterprise app written in angular 1.5 this was really needed to avoid creating new object references.

I'm not sure I get the point of having 9000 elements in an array and render them :)?

[2016-04-19 19:07] niieani commented on #213
@stoffeastrom The only point of 9000 elements is a benchmark. No practical application.

[2016-04-19 19:18] stoffeastrom commented on #213
@niieani I'm still trying to understand why you would want the server to resend that many items to achieve "immutable". Imho that seems a bit verbose

[2016-04-19 20:33] niieani commented on #213
@stoffeastrom Feel free to read up on the architectures of any of these technologies:

- [Meteor Apollo stack](https://github.com/apollostack/apollo)
- [RethinkDB Horizon platform](https://rethinkdb.com/blog/new-in-2016/)
- [Facebook GraphQL](https://facebook.github.io/graphql/)
- [Facebook Relay](https://facebook.github.io/relay/)
- [Netflix Falcor](http://netflix.github.io/falcor/)

I think it w

[2016-04-20 20:25] niieani commented on #213
@EisenbergEffect @jdanyow So I've had a go at implementing this. Not so complicated after all.
Two pull requests as I needed to add one simple function to _aurelia-templating_ (moving Views across a ViewSlot):

- [perf(repeat): intelligently reuse items from previous instance](https://github.com/aurelia/templating-resources/pull/215) #215
- [feat(ViewSlot): moving Views across the slot #324](https

[2016-04-20 21:04] EisenbergEffect commented on #213
@niieani Awesome! Thanks for working on this. I've cc's @jdanyow and @martingust on those PRs. They are the experts in that area, so they can review and work with you to make any changes needed.

[2016-04-20 21:06] EisenbergEffect commented on #213
@jdanyow For comparing different instance that are actually to be treated as the same, I think we had something we used for selects on that. Maybe we can use the same thing here?

[2016-04-21 09:30] niieani opened #216 "Tests fail when run fast, but work when stepping over."
I've run the Karma Debug and it seems that when I added a delay to the tests they work. So when the tests are run too fast, they generate an error, even though they don't fail - they generate an unhandled exception.

The problem is here: [getAnimatableElement](https://github.com/aurelia/templating/blob/a56b7440b4c0a30236088aedf30885983f142dc1/src/view-slot.js#L7). When the tests are executed, ther

[2016-04-21 19:14] flieks opened #217 "Firefox <compose> in repeat"
Hi,

This works in chrome/IE/edge but not in FF.
The compose isn't rendered in FF although the activate() of the component in the compose is executed.

[code]

So i put this as test  (with only the "first item" of the repeat)
[code]
before the above code
the compose in repeat would suddenly render on FF.
but that "first item" compose would not render in FF, but render ok in all other browsers..

I