[2016-04-22 13:24] niieani commented on #216
More details on this:

The problem appears to be with these two doubled lines:
- [double pop()](https://github.com/aurelia/templating-resources/blob/master/test/repeat-integration.spec.js#L206-L207)
- [double shift()](https://github.com/aurelia/templating-resources/blob/master/test/repeat-integration.spec.js#L229-L230)

Commenting out one of the pairs solves the problem.

[2016-04-23 08:47] flieks commented on #217
I think after putting
`& oneTime & signal:'refresh-placeholder'`
in the repeat, it began working in FF

[2016-04-23 08:47] #217 closed

[2016-04-24 12:40] niieani commented on #216
Works correctly with latest `aurelia-binding`.

[2016-04-24 12:40] #216 closed

[2016-04-24 14:17] rocknet commented on #191
I was able to fix the particular error you were getting by initializing this.foo in the constructor.  I don't think your syntax was correct for initializing in the body.  This eliminates the exception of foo being undefined.

[code]

However, after that I was not able to bring up viewB by clicking on a button.  It just set the router-view to empty content.  I couldn't figure that part out for now,

[2016-04-24 20:38] #213 closed

[2016-04-25 12:10] stsje commented on #213
@niieani Maybe I have missed it, but how are duplicated values being handled?

[2016-04-25 12:17] niieani commented on #213
@stsje See [these two tests](https://github.com/niieani/templating-resources/blob/5ad659b852931da26c79d2b204fc0424aebb37bd/test/repeat-integration.spec.js#L624-L716). In case the new instance contains duplicates, the original View is re-used and additional new views are created for the duplicates. When removing duplicates, the same thing happens in the opposite order (we keep the required amount o

[2016-04-25 13:02] stsje commented on #213
Good to see you've given it some thought! :+1:
I imagine it's difficult to make sure duplicate values are being moved the right way (for animation)

[2016-04-25 13:18] niieani commented on #213
@stsje Well, if the value is a duplicate there's no way to tell the intention of the change's author - if he meant it as movement or if he meant it as a new value, because that information simply isn't there (arrays  aren't movement vectors _<how cool would that be?!>_). But the key question is - if you do have duplicates, does it really matter which duplicate you move to which place? After all, t

[2016-04-26 07:36] ppn2 commented on #211
@EisenbergEffect it seems to me that the activate hook is embedded in quite a many places (e.g. dialog, compose that I can recall from the top of my head) and not supporting it might be quite a breaking a change for lot of people. Besides how would one pass data compose in the absence of activate method, unless new api is introduced or existing api is modified.
With respect to your comment

this I

[2016-04-26 12:01] EisenbergEffect commented on #211
There's no breaking change going on. Nothing has changed in this regard since the initial alpha announcement in February of 1015. There's a lifecycle for components and then there's a lifecycle for navigation. The router and the dialog system both choose to implement the navigation lifecycle. The compose element only supports the activate hook, in order to provide light-weight re-composition of da

[2016-05-04 08:44] Souldrinker opened #219 "Maximum call stack size exceeded in 1.2.3"
I just updated to the latest aurelia packages and stuff broke (=app won't start). If I revert aurelia-templating-resources to 1.2.2 (leaving all the rest at latest) things start working again.

After some further comparision of what changed in the 1.2.3 release I see that if I keep 1.2.3 and only revert the implementation of behaviorRequiresLifecycle in analyze-view-factory.js as it was in 1.2.2 t

[2016-05-04 11:25] valichek commented on #219
Same issue I do have it occurs when I use component recursion. I put `<navitem />` inside if its own template. That is a way I build navigation tree

[2016-05-04 12:59] EisenbergEffect commented on #219
@jdanyow Can you look at this. Looks like we had a regression.

[2016-05-04 16:57] vuorinem commented on #219
I'm having the same issue with component recursion: https://gist.run/?id=484c034828ee4c3328e97afdc9a443d7. I also noticed that using view-only works fine (requiring the component using `<require from="node.html">`).

[2016-05-06 00:12] #219 closed

[2016-05-06 02:39] jdanyow commented on #219
@Souldrinker / @valichek / @vuorinem - there's a new build of templating-binding and templating-resources available- let me know if you run into any further issues with this release.

[2016-05-07 15:19] flieks opened #220 "css bundled (Failed loading required CSS file)"
Hi,

I get this when i bundle my css (fixUpCSSUrls):
![image](https://cloud.githubusercontent.com/assets/5032389/15092903/8a8a7c50-1477-11e6-887e-a1513b3655b5.png)
the css string is in the "default" property.

maybe it has to do with this
https://github.com/aurelia/templating-resources/issues/189

I'm also getting runtime errors for bundling html:
`Error: Template markup must be wrapped in a <temp

[2016-05-11 16:30] leon-andria opened #222 "Composing a view can access the parent property"
We have 2 views: main.html and child.html.
Inside main.html, we do a compose on child.html:

[code]

Note that no model is passed.
Now, in main.js, we specify in the activate method:

[code]

Now, in child.html:

[code]

The result is that in the child.html, we got "Hello".
Does this is an expected behavior or it's a bug ? This means Compose can inherits from its parent ?

[2016-05-11 16:34] alvarezmario commented on #222
@leon-andria yep, compose inherits from its parent. In any case, someone from the core team should be more suitable for the final answer

[2016-05-11 16:40] alvarezmario commented on #222
in fact, according to this https://github.com/aurelia/templating-resources/blob/master/src/compose.js#L73 is in fact the expected behavior

[2016-05-11 17:31] EisenbergEffect commented on #222
Composing a view automatically inherits its binding context from the parent if no view-model is provided, otherwise there would be nothing to bind to. If this is not desired, you can provide a fake view model like this `view-model.bind="{}"`. I haven't tried that myself, but it should work. Let me know if it doesn't.

[2016-05-11 19:36] leon-andria commented on #222
@Rob, thanks for your clarification, it's what I expected before to ask if it's a bug or not ?
So, with the following code:
[code]

In my child, i can display "Hello".
This means that Compose doesn't isolate anymore ? Is it a design choice ?

[2016-05-11 19:43] EisenbergEffect commented on #222
Yes, the compose element enables flowing through the binding context and override context. This is different from standard components which are fully encapsulated. This means that with compose, if the binding engine doesn't find a match on the composed view model, it can walk the binding context tree. (Traditional components can't because the trees aren't connected.)

We wanted to provide this as

[2016-05-11 20:22] leon-andria commented on #222
@Rob,
This behavior is very useful but we just need to be careful when we provide guidelines and conventions in our development process. Guess that you have "this.model" naming convention in each view, when you review the code, you will say that it's magic because were "model.xxx" is defined ?:-)

"inherit-context=true" would be good if you want it explicitly. Otherwise, it's like very odd that yo

[2016-05-16 13:04] EisenbergEffect commented on #41
@martingust What is the status of this? Can we close this issue?

[2016-05-16 15:18] EisenbergEffect commented on #160
Closing this for now since @jdanyow shows a solution above and there are community plugins for undo/redo binding behaviors as well.

[2016-05-16 15:18] #160 closed

[2016-05-16 18:16] martingust commented on #41
@EisenbergEffect Yes, I think best solutions is to plugin a strategy for this or use [this](https://github.com/martingust/aurelia-repeat-strategies) plugin. I'll add to my list to add this to the docs.

[2016-05-16 18:16] #41 closed

[2016-05-17 15:03] EisenbergEffect commented on #175
Closing this. We are working on a new way to enable specifying a layout for compose or router-view that would allow shadow dom slot projection to achieve similar results.

[2016-05-17 15:03] #175 closed

[2016-05-19 10:45] valichek opened #223 "repeat.for doesn't iterate with <td> in view attached to <tr> with as-element when <require> is present"
Here is gist for the issue:
https://gist.run/?id=f52caf1613cb9d71970a830bf9d5eae5

When I remove `<require>` from `custom-view.html` it iterates as expected.

[2016-05-19 13:27] valichek commented on #223
Well, looks like browser is mangling the <table>. Having `<require>` inside `<td></td>` looks to be tricky but workaround, does it?
[code]

[2016-05-19 13:30] EisenbergEffect commented on #223
I'm not sure why that would make a difference. Also requires should be at the top of a view. We may enforce that in the future.

[2016-05-19 13:57] valichek commented on #223
@EisenbergEffect but is it possible to bind parent resources for `custom-view` when adding
[code]

[2016-05-19 14:58] EisenbergEffect commented on #223
Views are encapsulated except for what you choose to globalize. The require statements should be the first thing in the template.

[2016-05-19 15:09] valichek commented on #223
@EisenbergEffect and maybe it is possible to have `` commented but parsed by aurelia. Maybe such syntax is redundant or even impossible. The idea is to hide it from browser but not from aurelia. Or maybe there is better solution than globalizing resources

[2016-05-19 15:17] valichek commented on #223
@EisenbergEffect Do you suppose described problems with `<table>` elements to be actual dev issue or aurelia ideological?

[2016-05-19 15:19] EisenbergEffect commented on #223
* No, require needs to be an element.
* Tables are a problem for html. You shouldn't use them if you don't have to. They have restrictions to their usage and cause reduced rendering performance.

We'll figure out the issue though.

[2016-05-21 15:53] jdanyow opened #224 "/deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details."
https://www.chromestatus.com/features/6750456638341120

![warning](http://i.imgur.com/36Z4Kbu.png)

[code]
https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L42

[2016-05-21 15:59] EisenbergEffect commented on #224
@jdanyow Can you check to see if they replaced it with something else so that we can still make these styles work?

[2016-05-21 19:49] jdanyow commented on #224
I don't think there's a replacement.  Could we use an inline-style instead?

No direct alternative. There is on-going discussion to make these selectors available in static profile [5].
[--chromium](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/68qSZM5QMRQ/pT2YCqZSomAJ)

[2016-05-21 22:41] EisenbergEffect commented on #224
Yes, we can do an Optional inject of the DOMBoundary. If there is shadow dom, we can check the boundary to see if a style tag has been injected in that boundary. If not we can inject one and then mark it  as injected.

[2016-05-23 10:47] eliavmaman opened #225 "show.bind doesn't change in custom component."
I've create spinner component:
[code]
Spinner.js-
[code]

then in the outer class, i want to display the spinner  when HTTP request is on so the code code there is:
`this.spinner.show();`

THE SPINNER IS NOT DISPLAYED... :(
when inspecting the element i still see:
`<spinner class="au-target" au-target-id="247">
    <div class="splash au-target aurelia-hide" show.bind="bussy" au-target-id="220">

[2016-05-23 12:47] dilvish4ever commented on #204
Try this. At least it worked for me with one view-model, but different routes (without arguments)
[code]

[2016-05-23 13:16] eliavmaman commented on #225
I've also noticed that `this.bussy` in the spinner class is not set to `true` after changing..
Any one please?

[2016-05-23 13:23] jdanyow commented on #225
how is the outer class accessing the spinner element instance?

[2016-05-23 13:25] eliavmaman commented on #225
`@inject(EventAggregator, WebAPI, Spinner)`

`export class XXX{
    constructor(eventAggregator, api, spinner) {
this.spinner=spinner;
}
}`

[2016-05-23 13:38] jdanyow commented on #225
ah- you're getting a different spinner instance.

try using the `ref` attribute instead: `<spinner ref="spinner"></spinner>`- this will set/create the `spinner` property in your outer VM

[2016-05-23 13:41] #225 closed

[2016-05-23 13:45] EisenbergEffect commented on #204
@dilvish4ever is correct. When the params on a route change but it still refers to the same view model, the view does not get re-created; only the new params are passed to the view-model's activate method. This is designed for efficiency. You can change this behavior as noted above. However, you should be able to also databind the attributes of the compose element as well in order to make it recom

[2016-05-23 13:45] #204 closed

[2016-05-23 13:54] eliavmaman commented on #225
10x but now i get
`Uncaught TypeError: this.spinner.show is not a function`

[2016-05-23 13:56] valichek commented on #223
So I've replaced `td` element with `div` styled with `display: table-cell;` and it works as expected

[2016-05-23 14:42] jdanyow commented on #225
apologies- I gave you the code for grabbing an instance to the spinner DOM element- what you want is the spinner's view-model instance:

`<spinner view-model.ref="spinner"></spinner>`

[2016-05-24 07:16] eliavmaman commented on #225
10x man that defenetly did the trick.
But the thing with aurelia is that there are many ways to do the data binding. Is there any docs that explains which to use where?

[2016-05-28 22:54] Ma3yTa commented on #220
I have the same issue

[2016-05-29 02:45] Ma3yTa commented on #220
I have the same issue with loading resources registered by config.globalResources [https://gyazo.com/ef5c5cd64d4b3a59f2b3a6910aa35204](https://gyazo.com/ef5c5cd64d4b3a59f2b3a6910aa35204)

[2016-06-01 00:29] jdanyow commented on #193
cc @zewa666

[2016-06-01 07:57] doeck opened #226 "Issue with bindingSignaler combined with updateTrigger:'blur' and custom element in IE11/Edge"
I ran into something that looks like an timing issue in updating the model with the binding signaler in IE11 and Edge when using it inside a custom element and updateTrigger:'blur'.

I have two inputs with numeric values and a total calculated from these. When one of the values is changed I want the total to be calculated. (In my real world app this is more complex, I have more input fields and ne

[2016-06-01 10:31] EisenbergEffect commented on #226
@jdanyow Can you look into this? Perhaps the signaler needs to schedule on the task queue?

[2016-06-02 01:26] jdanyow commented on #226
closing- will answer in http://stackoverflow.com/questions/37528390/delayed-action-of-aurelia-bindingsignaler-in-ie11-edge

[2016-06-02 01:26] #226 closed

[2016-06-02 11:21] henebb opened #228 "debounce on input cahnge, but immediate on blur"
Hi!

It would be great to have the same functionality as in angular 1: https://docs.angularjs.org/api/ng/directive/ngModelOptions That is: ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"

The use case is that we want a debounce delay when typing (on e.g. input fields) but an immediate update on blur.

[2016-06-02 21:13] #224 closed

[2016-06-03 11:09] Ma3yTa commented on #220
When It will be fixed?

[2016-06-03 14:05] EisenbergEffect commented on #220
We haven't seen these errors anywhere. We would need a repro to track it down.

[2016-06-04 20:13] Ma3yTa commented on #220
https://github.com/Ma3yTa/au-bundle-tst

[2016-06-04 20:17] EisenbergEffect commented on #220
@ahmedshuhel Is it possible that the text plugin has changed the way it exports text resources?

[2016-06-05 16:29] MisterGoodcat commented on #220
Rob, I also ran into these issues when I followed the simple bundling samples in Aurelia's documentation, and can confirm it's related to the text plugin. Installing 0.0.8 breaks bundling, downgrading to 0.0.3 (as used in the samples) fixes the issue.

[2016-06-06 03:09] davismj opened #229 "For <compose>, attached() is called before actually attached."
I want to use the actual height and width of my composed element in my viewModel logic. However, during the `attached()` callback, my element's `clientHeight` and `clientWidth` are 0, and the browser shows that the element has not yet been composed into the DOM.

This only applies to the `Compose` class itself.

[2016-06-06 03:38] davismj commented on #229
This doesn't happen if you make an explicit viewModel. As the use case for extending the compose class itself is pretty rare, I'm going to close this issue.

[2016-06-06 03:38] #229 closed

[2016-06-06 10:22] qraynaud opened #230 "binding focus attribute into a custom element"
I have a simple problem. I have a custom element wrapping an input. I would like dev users to be able to bind focus on it like if it was a normal input:
[code]

I wrote this simple js:
[code]

And added the relevant code in my element's view:
[code]

The binding works fine in my custom element but never gets to the top view using it. I suppose that is because the default `FocusCustomAttribute` int

[2016-06-07 13:07] Ma3yTa commented on #220
@EisenbergEffect @Cedware described where is a problem here https://github.com/aurelia/templating/issues/362#issuecomment-224207102

[2016-06-16 00:02] MrHayato opened #232 "Export _createDynamicElement"
I was wondering if we can export _createDynamicElement from `dynamic-element`? It already exports _createCSSResource, and the typings say it's available, but it actually isn't.

Thanks!

[2016-06-16 16:10] EisenbergEffect commented on #191
Closing this since content selectors are replaced by the new slot mechanism.

[2016-06-16 16:10] #191 closed

[2016-06-16 16:13] EisenbergEffect commented on #232
Those are both supposed to be private. The d.ts files have a few apis in them currently that should not be. That's a bug in our build step we are currently working to fix.

[2016-06-16 16:13] #232 closed

[2016-06-18 19:47] #220 closed

[2016-06-18 19:48] EisenbergEffect commented on #220
Check master of loader-default and let me know if this resolves the issue. Based on examining the source of multiple different loader text plugins and versions, I think this should handle the differing approaches.

[2016-06-20 07:01] priyankawadhwa opened #235 "Unhandled rejection Error: Cannot find module './aurelia-templating-resources/"
I recently started facing an issue with running my Aurelia app without making any code changes. The error that i am facing in my development console is -- **Unhandled rejection Error: Cannot find module './aurelia-templating-resources/compose'** . Can anyone help me out with the same.
I have successfully run the npm update and npm install commands, It updated my bluebird dependency, but still faci

[2016-06-23 12:42] krostkowski opened #236 "Custom 'if' attribute with content recreation?"
I wanted to create custom 'hard-if', which causes element to be created from scratch.

After I had read https://github.com/aurelia/templating-resources/blob/master/src/if.js
I copied code and tried to set view = null when hiding (line 75) element. It even worked for simple nested elements, but when I used my 'hard-if' on router-view element  it stopped working (first appearance works, subsequent n

[2016-06-23 18:28] jdanyow commented on #236
this question and answer might help:  http://stackoverflow.com/questions/33458274/how-to-switch-between-login-page-and-app-with-aurelia

[2016-06-27 21:29] jdanyow commented on #236
@krostkowski are you all set?  Can this be closed?

[2016-06-28 08:56] krostkowski commented on #236
Yes, thank you. It worked like a charm:)

[2016-06-28 11:01] #236 closed

[2016-07-04 14:49] EisenbergEffect commented on #193
@zewa666 Ping.

[2016-07-07 14:55] EisenbergEffect commented on #223
Some investigation here indicates that somehow, when the require element is present the tds don't render at all. It's very odd. I'll need to revisit this later when I've got some more time.

[2016-07-07 22:42] vegarringdal opened #237 "css attribute doesn't work without bind or interpolation"
Is this a bug?

https://gist.run/?id=28368d0649a8af90180046525b698b2e

I would would have expected both to work.

[2016-07-07 23:01] EisenbergEffect commented on #237
I suppose it is a bug...though it doesn't make any sense to do that.
@jdanyow Would this be easy to fix?

[2016-07-07 23:16] vegarringdal commented on #237
Only reason why I noticed it was because in my grid I have a option where you pass in the style you want to add in a ```col-css``` attribute for the "simple html" column option.
So when someone tried to use just regular styling like I do in the box that fails, it didnt work, and they told me I had a bug :smile:

Was kinda unsure if it was a bug or just me, the hack works fine and they where happy,

[2016-07-07 23:19] EisenbergEffect commented on #237
It's "technically" a bug :) We will fix it. If it isn't a quick fix we may prioritize other issues higher for now though.

[2016-07-07 23:22] vegarringdal commented on #237
Np, focus on the important stuff, if anyone get a issue they can use the hack I used :-)
Keep up the good work, Aurelia made web programming fun  :+1:

[2016-07-08 21:23] EisenbergEffect commented on #230
The issue here is the conflict between the FocusCustomAttribute and your element's property of the same name. To address this, remove the property from your element. Then use an Optional.of(FocusCustomAttribute) to optionally inject the FocusCustomAttribute into your custom element. If it's present, you can observe it's value property. When that changes you can call apis on the input element as ap

[2016-07-08 21:23] #230 closed

[2016-07-09 05:44] EisenbergEffect commented on #235
This looks like a problem with an earlier version of the webpack skeletons. All this should be solidly worked out in the latest skeletons.

[2016-07-09 05:44] #235 closed

[2016-07-09 09:29] qraynaud commented on #230
Should have thought about that. It's obvious. Thanks a lot!

[2016-07-12 03:00] EisenbergEffect commented on #136
Looks like this was fixed a little while back :)

[2016-07-12 03:00] #136 closed

[2016-07-16 18:07] sickboy opened #239 "Two views loading the same CSS resources results in no style being injected"
**I'm submitting a bug report**

* **Library Version:**
1.0.rc

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**

When two views request the same resource while loading the app, then th

[2016-07-16 20:31] gregdouglas opened #240 "Race condition when compose.view-model is bound to an object literal expression"
Hi

I think I am experiencing some kind of race condition when using a nested compose element inside a repeat.for. I've extracted it to a really simple example which can be seen in this gist:

https://gist.run/?id=99128d8bf51c3a47a7ad4ffdc2ed42d8

The compose content is output twice in certain cells - sometimes it renders correctly which makes me think there is some kind of race conditions is goin

[2016-07-16 20:32] gregdouglas commented on #240
A workaround seems to create a view model not use the html only.

[2016-07-17 00:07] CasiOo commented on #240
It seems the problem only occurs when the view-model is defined inline `view-model.bind="{ data : x + i * 12 }"`. Bind it to an existing object, or link it to a VM file, and the problem disappear.

I found out that `compose`'s `viewModelChanged` is being executed for the cells where the content is duplicated. This only happens for the duplicate content cells. I have not yet been able to figure out

[2016-07-17 12:08] CasiOo commented on #240
So there seems to be two problems causing the bug to happen.

1) Compose doesn't wait for the composition engine to complete composing before processing a new instruction.
Compose should either cancel the previous composition, or wait for the previous composition before starting another one. `composer.compositionEngine.compose` returns a promise that could be chained or waited upon.

2) The second

[2016-07-17 16:58] EisenbergEffect commented on #240
I suspected the connect queue might be involved. @jdanyow What do you make of this?

[2016-07-26 14:12] lmj0011 commented on #203
which version of Aurelia does this fix affect?

[2016-07-28 14:39] wichert opened #241 "Make _createCSSResource public?"
Currently it is not possible to do things like adding SASS support without forking templating-resources. Adding the support itself is actually very simple as can be seen at sickboy/templating-resources@bdc0f13, but because `_createCSSResource` is not a public function you have modify templating-resources itself. Would it make sense to make _createCSSResource public? That would make it a lot simple

[2016-07-28 14:46] CasiOo commented on #241
That wouldn't work as sass files need to be preprocessed. Are you looking to do the preprocessing of the sass files at runtime? Otherwise I don't see an issue here.

[2016-07-28 14:47] wichert commented on #241
From what I can see preprocessing is already pretty easy to add by adding a loader to the webpack or gulp config, and does not require forking anything.

[2016-07-28 16:43] niieani commented on #241
@wichert is correct, if you use a bundler, the pre-processing can be done transparently so that Aurelia receives pure CSS.

[2016-07-29 08:29] tzimmerer opened #242 "enhance not working since RC was released"
Hello,
I am working on a project where we insert a view in a screen and I need to enhance this view to bind the data with it.
Everything seemed to work before I update to the last version

What's happen now :
If there is a single tag in the view, nothing happen  :
![not working](https://cloud.githubusercontent.com/assets/20720313/17242378/200a7e84-5577-11e6-82c6-1fb8274e286c.png)

And when there i

[2016-07-29 11:25] jdanyow commented on #242
please create a reproduction of what you are seeing using https://gist.run/?id=7542e061bc940cde506b

[2016-07-29 13:36] tzimmerer commented on #242
Here it is :

https://gist.run/?id=2d00b06ba86c518db9f219ca917846f3

Clicking on the enhance button only bind the htmlSource1 but not the 2nd one

[2016-07-30 16:34] jdanyow opened #243 "proposal: add `stopPropagation` binding behavior"
In the last release we fixed an issue where the delegate binding command didn't match the trigger binding command or vanilla addEventListener with regards to event bubbling.

I would like to propose we add a convenience binding behavior to enable developers to stop an event from bubbling more easily.

Usage:
[code]

Live Example:
https://gist.run/?id=bf3b166a2cc18332f560b4e6b48bfe86

Code:
[code]

[2016-07-30 16:36] jdanyow commented on #243
https://github.com/aurelia/framework/issues/499
https://github.com/aurelia/binding/pull/468
https://github.com/aurelia/binding/issues/467

[2016-07-30 17:02] stoffeastrom commented on #243
Will this break other frameworks that utilises event bubbling? I have always been against using `stopPropagation` and I wonder in which use cases you actually need to use it..

I think we have had a similar discussion long time ago where my gesture framework broke where an `event.stopPropgation` was added in the framework.

[2016-07-30 18:29] jdanyow commented on #243
Generally, no, because usage of the proposed binding behavior is optional.

When used in conjunction with the `delegate` binding command, there is no potential to impact other frameworks or vanilla js.  By the time delegate bindings act the event has already propagated.

When used in conjunction with `trigger`, it would potentially impact other things.

[2016-08-01 08:37] tzimmerer commented on #242
I found a solution to this problem : I used a reference (ref="htmlHolde2") and the aurelia binding ("innerhtml.bind='htmlSource2 ' ) at the same time. By removing the innerhtml.bind in the .html and writing " this.htmlHolder2.innerHTML = "<p>" + "${toto}" + "</p>"; " in the .js, it works correctly.

[2016-08-02 13:57] xiwc opened #244 "Firefox bug: if.bind="(row.config.type == 'common')" does not work, but chrome work fine."
Version: 45.0

[2016-08-02 17:14] atsu85 commented on #244
Adding two template comptrollers(such as if and for) to the same element, is not supposed to work (consistently). Put them to different elements. You might want to use template tag for repeat.for attribute

[2016-08-02 17:17] atsu85 commented on #244
You might want to use https://www.npmjs.com/package/gulp-aurelia-template-lint to detect such problems at build time

[2016-08-02 17:37] #244 closed

[2016-08-03 09:22] #242 closed

[2016-08-03 12:28] AdamWillden opened #245 "FR: Should the show binding additionally use the HTML5 'hidden' attribute?"
**I'm submitting a feature request**
This is just a question/proposal (but not a support question)

* **Library Version:**
1.0.0

**Current behavior:**
show.bind="true" adds `display: none` CSS _only_

* **What is the expected behavior?**
show.bind="true" could add `display:none` CSS **AND** use the hidden attribute.

* **What is the motivation / use case for changing the behavior?**
Standards and

[2016-08-06 08:59] khenderick commented on #41
Is something recently changed that breaks the mentioned plugin? As reported in martingust/aurelia-repeat-strategies#5, the plugin can't resolve module ```aurelia-templating-resources/repeat-utilities```

[2016-08-08 00:22] aidenweatherby opened #246 "Compose element does not support slots or work the same as defining custom element"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux (mint mate 17.2)

* **Node Version:**
4.4.4

* **NPM Version:**
2.15.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.42

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Compose element does not support slots.
If I define the custom element and add th

[2016-08-09 00:56] jdanyow commented on #245
MDN:

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden

DWB:

[code]
If a given browser didn't support this attribute, you could likely style it via:
`*[hidden] { display: none; }`
So why use the hidden attribute?  It's more semantically correct and should more efficiently aid screen readers.  You'll even save a few characters on the display:none
https://davidwalsh.name/h

[2016-08-09 08:00] AdamWillden commented on #245
Thank you for those links.

I'm not sure I've ever understood what the original intention was regarding having both show AND if bindings.

Similarly I'm unsure if others may have used the show binding for tabbed browsing, in which case we should follow the advice of MDN and **not** apply the hidden attribute as that would in fact break an existing site's accessibility.

[2016-08-09 10:06] jdanyow commented on #245
Flexibility, parity with knockout's `visible` and `if` bindings. `show` is more lightweight but it leaves the hidden element in the DOM.  `if` removes the element from the DOM.  I tend to use `if` when hiding larger chunks of elements, especially if they contain bindings.  I use `show` for single elements, especially if they are shown frequently.

[2016-08-09 14:05] AdamWillden commented on #245
@jdanyow thanks for the feedback, that makes sense. I probably overuse `if.bind` these days and will keep this in mind. I remember using them both a lot in knockout

[2016-08-09 18:20] thesmallbang commented on #206
Here is an example of the workaround I ended up with to satisfy typescript.

    bind(binding, source) {
        (<any>this.signaler).bind(binding, source, 'aurelia-translation-signal');

        let sourceExpression = binding.sourceExpression;

        if (sourceExpression.rewritten) {
            return;
        }
        sourceExpression.rewritten = true;

        let expression = sourceExpress

[2016-08-10 13:13] ivanK-someCode-repo opened #247 "loader in html-resource-plugin configure() not implement addPlugin()"
* **Operating System:**
Windows 8

* **Node Version:**
4.4.7

* **NPM Version:**
3.10.6

* **Webpack AND Version**
2.1.0-beta.20

* **Browser:**
Chrome  51.0.2704.103 m

* **Language:**
ESNext

**Current behavior:**

When **"aurelia-framework"** tryind to load module **"aurelia-templating-resources"**, it calls the `configure(config)`  function of this module.

Then inside of `configure()` calls `

[2016-08-10 13:54] ivanK-someCode-repo commented on #247
The problem may be in **"html-resource-plugin"**  - when I add `viewEngine.loader = config.aurelia.loader;` to `config()` function of this plugin and rebuild project, "aurelia-templating-resources" module has been configured without any errors -

![default](https://cloud.githubusercontent.com/assets/13942835/17555969/498047c4-5f1a-11e6-8ae8-5934b9f86c94.jpg)

"html-resource-plugin" `config()` func

[2016-08-12 11:02] #247 closed

[2016-08-12 11:05] ivanK-someCode-repo commented on #247
The problem was resolved after update to new version of npm (3.10.7) and reinstall all modules

[2016-08-21 10:55] dtaalbers opened #248 "Css property does not show background image with base64 encoded image"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
5.12.0

* **NPM Version:**
3.8.6

* **JSPM Version**
JSPM 0.16.39

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
 https://gist.run/?id=f3f54bda42707dfbbf59263c5b5d0a35

**Expected/desired behavior:

[2016-08-21 11:12] jdanyow commented on #248
@z-brooks any chance you could take a look at this? It's similar to https://github.com/aurelia/binding/issues/301

![](http://i.imgur.com/R0erxqG.png)

[2016-08-22 11:35] dstroyrofworlds opened #249 "Error loading css with webpack"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0
- **Operating System:**
  Windows 7
- **Node Version:**
  6.1.0
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  webpack 2.1.0-beta.21
- **Browser:**
  Chrome 52
- **Language:**
  TypeScript 1.9.0-dev || 2.0.0

**Current behavior:**
![aurelia](https://cloud.githubusercontent.com/assets/5618989/17853389/7d5d3fe2-686c-11e6

[2016-08-22 11:41] dstroyrofworlds commented on #249
Updating the function

[code]

to

[code]

works - there do not seem to be any errors and the CSS is loaded.

The config in webpack for the CSS is :
[code]

The CSS is loaded in the styles.css file and some are included in the page as style elements.

[2016-08-23 09:37] z-brooks commented on #248
@jdanyow pull request open. Should hopefully cover most anything...

[2016-08-24 09:28] stsje opened #250 "repeat.for instance changed bug with primitive values"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
https://gist.run/?id=c1974c523772771e0496bdc77ae2000a
The first `Clear` click renders the new array instance, but fills it with empty values.
The second `Clear` click correctly renders a n

[2016-08-28 12:58] dtaalbers commented on #248
@jdanyow  Any idea when this is getting merged? I kinda need it :)

[2016-08-31 12:39] ChrisTalman commented on #171
May I ask what the situation is with `else`, `elseif`, and `switch`? These would seem to be very useful for creating cleaner and more comprehensible templates, but would not seem to have been introduced to Aurelia yet.

[2016-09-02 02:07] jdanyow commented on #249
@niieani - was this fixed recently? Thought I saw a similar issue in the queue not too long ago.

[2016-09-02 02:09] jdanyow commented on #246
you'll need to use a custom element to take advantage of advanced templating features like bindable properties, slots, etc.

[2016-09-02 02:09] #246 closed

[2016-09-02 02:16] jdanyow commented on #245
If we go by what the MDN docs say it seems like there's a judgement call that needs to be made when deciding to use the hidden attributes in conjunction with aurelia show custom attribute. Definitely was worth considering but it doesn't seem black and white enough to change `show`s behavior post RTM. Devs could copy the code for the `show`/`hide` custom attribute and add the `hidden` attribute log

[2016-09-02 02:16] #245 closed

[2016-09-02 02:17] jdanyow commented on #243
closing this- people don't seem to be having a ton of issues with the recent changes around delegated event propagation.  This probably isn't needed.

[2016-09-02 02:17] #243 closed

[2016-09-02 02:29] jdanyow commented on #223
Looks like browsers won't allow a <require> inside a <tr>. You can try wrapping the require with <template>, should fix the issue for the evergreen browsers but not for IE11.

http://i.imgur.com/wNK01m3.png

[code]

[2016-09-02 02:29] #223 closed

[2016-09-02 02:31] jdanyow commented on #164
closing, not needed.

[2016-09-02 02:31] #164 closed

[2016-09-02 04:29] wichert commented on #241
Why was this closed? I don't see any relevant commits?

[2016-09-02 04:35] aidenweatherby commented on #246
That's what I don't understand then because I am using a custom element.
If you look at the gist in previous post you can see that it's a custom element and when declaring it in the template as the custom element name it works fine but when declaring it in the compose element it does not work. I would expect that the compose element does exactly what the custom element does.

This gist example is

[2016-09-02 09:45] jdanyow commented on #241
My bad- I read your last comment as you found an alternate solution- re-opening

[2016-09-02 11:26] jdanyow commented on #246
re: dynamic form- assuming you have a data structure that lists the fields and their types, couldn't you repeat over the fields and use `if.bind` to display the appropriate control?

The key here is dynamic composition (compose, router-view) work differently than custom elements. This is intentional asfaik. Compose can access the outer scope, custom elements are more encapsulated. http://stackover

[2016-09-02 11:36] niieani commented on #249
Odd. The real question is why is the `css` variable an empty Object?
@dstroyrofworlds could you make a simple repo which reproduces the issue?

[2016-09-05 11:44] dstroyrofworlds commented on #249
@niieani I'll try to make a repo - as soon as I have time.

[2016-09-05 16:49] CasiOo commented on #250
Might be related https://gist.run/?id=2a357564af55860aa4fe1f8a8cfc9a05
Trying to build dynamic input fields. The old properties are being attached to the new object.
@singledigit mentioned the above example in gitter, it might be related to this issue.

[2016-09-05 17:36] snicky commented on #248
me too :+1:

[2016-09-07 08:20] eliavmaman commented on #41
@martingust hey just checking your solution.. and found out the `Reflect` is not supported on IE..
Any other solution mayb?

[2016-09-07 11:14] stsje opened #251 "Css property doesn't render background color"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
Chrome 53

* **Language:**
ESNext

**Current behavior:**
https://gist.run/?id=b086ab1e5a9be3a9c65422848b2cca2b

**Expected/desired behavior:**
It should apply the black background-color on

[2016-09-07 12:33] EisenbergEffect commented on #41
We have polyfills for reflect in our polyfills library.

[2016-09-07 23:39] aidenweatherby commented on #246
The dynamic form is a quite a bit more complicated.
It's basically an OIM mapper which is similar to an ORM mapper.
So doing a bunch of if.bind would not be suitable because it's too limited.
The data structure of the mapping is quite complex where it can map any entity to a UI.
So if the entity contains fields and those fields contain entities, arrays of entities, maps of entities, generic entiti

[2016-09-08 08:07] Gheoan commented on #251
There are some typos in that gist: https://gist.github.com/Gheoan/b086ab1e5a9be3a9c65422848b2cca2b/revisions#diff-0

Here is the correct gist: https://gist.run/?id=b086ab1e5a9be3a9c65422848b2cca2b

Still, there are some bugs:
- `css` attribute without interpolation in the value does not translate to `style` attribute
- `!important` does not work because `element.style.background` is set to `#000 !

[2016-09-08 08:12] stsje commented on #251
Thanks, updated to the correct gist.

[2016-09-08 10:08] z-brooks commented on #251
@stsje
The current gist bundle isn't up to date with the recent changes (from what I can see). Setting the `#000` will work once that gets updated but I don't think `!important` will. The translation to `rgb` is a browser thing afaik.

Using you're suggestion I've removed the regex stuff. This [pull request](https://github.com/aurelia/binding/pull/497) will allow `!important`
@jdanyow If that solu

[2016-09-08 10:31] stsje commented on #251
@z-brooks Appreciate the time you have been putting into it. I commented on your pull request.

[2016-09-08 11:28] jdanyow commented on #251
@stsje I've updated the gist- can you confirm/deny the issue is resolved. (it's an in-place update, your existing gist should work).

[2016-09-08 11:40] stsje commented on #251
@jdanyow You have updated the gist Aurelia version? If that's the case, then there seems to be no differences from the previous version.

[2016-09-08 17:08] z-brooks commented on #251
[benchmark](https://gist.run/?id=19d7a99852957195ad5dac3b88a9bb24) for different methods.

[2016-09-08 20:38] CasiOo commented on #251
Interesting benchmarks. Seems using `cssText` isn't performant.
I thought `cssText` would be doing close to the same as the regex, which is parsing styles from a string.

[2016-09-09 04:13] hlj commented on #250
+1

[2016-09-15 17:50] JayDi85 commented on #249
I have the same error with standard contacts app from tutorial with nprogress element.

Got it when update bootstrap to 4.0.0-alpha.4 version:
`Failed loading required CSS file: nprogress/nprogress.css`

Fix it by change loading sequence in aurelia.json file.

From:
[code]

to
[code]

Don't know why, but it work for me.

[2016-09-16 09:24] niieani commented on #249
@JayDi85 the `aurelia.json` isn't used with Webpack builds at this time. Perhaps your problem was in fact different?

[2016-09-16 09:31] JayDi85 commented on #249
@niieani yes, it's not webpack. I'm using aurelia-cli and got same error with loading css-resources.

[2016-09-16 09:53] #251 closed

[2016-09-21 05:46] huochunpeng opened #252 "binding behind if.binding still evaluated when if.binding removes the node"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.6.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
aurelia-cli 0.19.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Other binding still evaluated when if binding is false, this cause error

**Expected/

[2016-09-21 06:01] huochunpeng commented on #252
Question on the ordering of custom attributes.

In knockoutjs, when I define a bindingHandler (similar to aurelia's custom attributes), I can specify the execution order relative to other bindingHandlers. I was expecting similar thing in aurelia but I could not find clear clue in the source code.

How does aurelia makes sure repeat.for/with.bind/if.bind happen before other bindings on the same nod

[2016-09-21 18:02] m-andrew-albright opened #253 "@computedFrom('dependencyProp') triggers property evaluation twice for each change in dependencyProp"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0

**Please tell us about your environment:**
- **Operating System:**
  Windows 8.1
- **Node Version:**
  6.4.0
- **NPM Version:**
  3.10.3
- **JSPM OR Webpack AND Version**
  JSPM 0.16.39
- **Browser:**
  all
- **Language:**
  ESNext

**Current behavior:**
Each time the dependency property changes, the dependent getter is evaluated twic

[2016-09-21 21:00] m-andrew-albright commented on #253
@AshleyGrant

[2016-09-21 22:51] jdanyow commented on #252
we're working on a fix for the issue you've reported- tracking this here:
* https://github.com/aurelia/binding/issues/479
* https://github.com/aurelia/binding/issues/496

Repeat, with and if are called template controllers. They bind before other bindings. You cannot use multiple template controller attributes on the same dom element.

[2016-09-21 22:51] #252 closed

[2016-09-21 23:45] huochunpeng commented on #252
Thx. Maybe the document should be clear about not using repeat/if/with on same element.

I actually used repeat and if together on many occasions. By luck, they work without any problem, repeat binding is performed before if binding at least for now. This is a good default behaviour to keep, otherwise I will break the bindings to 2 levels for future proof.

[2016-09-22 01:16] jdanyow commented on #252
Make sure you test in multiple browsers. Some sort the attributes alphabetically, some leave them as-is.

[2016-09-23 02:28] huochunpeng commented on #252
Thx. I fix my code to avoid undetermined behaviour. When you got time, please update doc to reflect this.

[2016-09-25 17:59] atsu85 commented on #252
@huochunpeng

There is actually even much better solution: use [aurelia-template-lint](https://github.com/MeirionHughes/aurelia-template-lint/) to detect this issue and many more at build time.

[2016-10-02 19:44] khenderick commented on #251
I lost a few hours on this change as apparently I did not use a correct notation, which now hit the surface. I want to add this for reference, so people that might Google for the issue might find the solution as well.

[code]

Causes follow error: ```TypeError: value.indexOf is not a function```. Following notation is correct:

[code]

[2016-10-02 20:30] CasiOo commented on #251
@khenderick You should probably open an issue about it.
Aurelia should be able to handle the number use case. Either by throw a "Not a String" error, or by supporting numbers.

[2016-10-03 05:11] EisenbergEffect commented on #249
Is this still an issue with the latest libs and cli?

[2016-10-03 05:47] JayDi85 commented on #249
It's a very weird bug (sometimes new dependency with css-resources in `aurelia.json` could cause that error: timeout on css-text load function).

Yesterday I'm manually update files in `\scripts` folder (`text.js` from 2.0.14 to 2.0.15 and `require.js` from 2.2.0 to 2.3.2). Now it's work fine. Maybe later that bug will be raise again.

[2016-10-03 11:10] jdanyow commented on #253
What's happening is the property it depends on is updated, triggering the computed logic to read the property (execution 1) to find out if the property changed.

If it did change, the computed logic publishes the change to it's subscribers (the interpolation binding). The interpolation binding evaluates it's expression (execution 2) to render the interpolated text.

[2016-10-04 15:50] JayDi85 commented on #249
Firefox console show: "TypeError: plugin.load is not a function" when aurelia attempt load css-resources (that's why error "Failed loading required CSS file" raise).

After some research I [found that SO post about that error](http://stackoverflow.com/questions/39399772/unhandled-rejection-error-load-timeout-for-modules-template-registry-entry).

Author found solution in comments to first post:
28

[2016-10-04 16:18] JayDi85 commented on #220
Firefox console show: "TypeError: plugin.load is not a function" when aurelia attempt load css-resources (that's why error "Failed loading required CSS file" raise).

After some research I [found that SO post about that error](http://stackoverflow.com/questions/39399772/unhandled-rejection-error-load-timeout-for-modules-template-registry-entry).

Author found solution in comments to first post:
28

[2016-10-05 12:29] tednyberg commented on #50
This was excellent when having to iterate over a **FileList** collection, since it's not iterable in itself:

[code]

[2016-10-14 10:07] jdanyow commented on #248
closing because the PR was merged- thanks again @z-brooks!

[2016-10-14 10:07] #248 closed

[2016-10-23 00:29] jdanyow commented on #250
we're tracking this issue here:
* https://github.com/aurelia/binding/issues/444
* https://github.com/aurelia/binding/issues/205

[2016-10-23 00:29] #250 closed

[2016-10-24 14:46] doeck opened #255 "repeat.for adds two elements to DOM when adding one element to model"
**I'm submitting a bug report**

* **Library Version:**
1.1.1 (in 1.0.0 everything works fine)

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.50.

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Chrome 53 | IE 11

* **Language:**
TypeScript X.X

**Current behavior:**
I'm encountering a strang b

[2016-10-24 20:50] doeck commented on #255
I identified the cause. The version of aurelia-binding in my project was 1.0.6 instead of ^1.0.7.
After updating to aurelia-binding 1.0.9 everythings working fine now.

[2016-10-24 20:50] #255 closed

[2016-10-26 10:12] qraynaud opened #256 "error on compose with interpolated or bound value"
**I'm submitting a bug report**
- **Library Version:**
  1.1.1

**Please tell us about your environment:**
- **Operating System:**
  Linux (KUbuntu 16.10)
- **Node Version:**
  6.9.1
- **NPM Version:**
  3.10.8
- **Browser:**
  all
- **Language:**
  all

**Current behavior:**

I wrote a simple view like this:

[code]

If I set route to `null` in the `deactivate()` method I get an error of the comp

[2016-10-26 14:41] EisenbergEffect commented on #256
Deactivate is different from detached. Deactivate relates to the router lifecycle, not the component lifecycle. Can you confirm which one you mean?

[2016-10-27 08:36] qraynaud commented on #256
Yes you're right. I really meant `deactivate` but I see your point. If there is no replacement happening, you could have a `deactivate/activate` lifecycle happening without the view actually detaching from the DOM.

That makes sense on every part.

But even knowing this, I find it counter intuitive that changes are reflected on a view that is not active anymore. When you add data on activate in th

[2016-10-27 08:48] qraynaud commented on #256
I just tried with `detached` and I have no problem with the compose element that works has intended.

But in the case of the `user.firstame` acess, setting `this.user = null` in deactivate causes the warning `The 'user' part of 'user.username&validate' evaluates to null instead of an object.` to throw instead of emitting a warning. That completely breaks my navigation.

[2016-11-01 01:50] jdanyow commented on #256
@qraynaud try using bind and unbind for this kind of cleanup. Detached happens before unbind, if you start nulling things out while things are still bound you'll run into edge cases like this.

The warning from validation will be resolved if you make the suggested change. The next release of validation has https://github.com/aurelia/validation/commit/d57f09ff35de4a2d95cef037ba008678e2d01636 which

[2016-11-01 01:50] #256 closed

[2016-11-01 21:36] qraynaud commented on #256
Ok I understand. I'll do that.

Is there a valid reason while unbind happens after detached and not before?

This seems counter intuitive to me. You should be able to clean up things loaded in a event in its counterpart safely.

[2016-11-01 21:42] jdanyow commented on #256
`bind` happens before `attach` to ensure the dom elements take their initial state they are attached to the DOM and transitioned into view. Likewise, `detach` happens before `unbind` to ensure the elements don't mutate before they are transitioned out of view and detached from the DOM. The composition lifecycle is symmetrical in this sense.

[2016-11-01 21:45] qraynaud commented on #256
Ok. This makes sense too. I think it would be great if this was pointed out more strongly in the documentation though. The lifecycle is described properly, what I mean is a more pratical appraoch as to what each part should be used for in a functional way.

This is pretty easy to understand once you get the sense of it, but it is not easy to get the right stuff in the right method from a beginner

[2016-11-01 22:00] jdanyow commented on #256
good point, I've added this info to the docs: https://github.com/aurelia/framework/commit/5be6d08cbf8c6bc9c458b34eaa5df5844f1009b0

[2016-11-01 22:12] qraynaud commented on #256
Thanks :-).

[2016-11-02 19:03] don-bluelinegrid opened #257 "Dirty detection on form/model, i.e., $dirty"
**I'm submitting a feature request**

**Current behavior:**
I read a closed issue regarding supplying a mechanism to detect a dirty state on a form/binding:
https://github.com/aurelia/templating-resources/issues/160#issuecomment-164277649

This issue was closed, with what seemed to be an unsatisfactory answer, because it is suggested that a developer should either integrate the "quick and dirty" s

[2016-11-03 14:18] don-bluelinegrid opened #258 "Correct dependencies in 1.1.X?"
In the latest version of templating-resources (v1.1.1) the package.json shows a dependency on templating v1.0.0; however, latest version of templating is v1.1.2.

Is this correct, or should the 1.1.X version of templating-resources depend on a 1.1.X version of templating?  If so, templating-resources package.json needs to be corrected.

[2016-11-05 18:50] EisenbergEffect commented on #171
@jdanyow @martingust We should revisit this. What do you guys think?

[2016-11-07 07:57] piwnik opened #260 "with.bind array + value converter. Doesn't update"
When bind array with 'with.bind' and apply value converter (aka filter), context isn't updated any more (when source array is updated).
So
[code]

after

[code]
works as expected and 'Some value' is rendered
but if filter is applied like:
[code]

where filter is
[code]
after
[code]
changes are ignored and new added value isn't displayed (rendered)

Check live example here:
https://gist.run/?id=d26

[2016-11-07 14:09] cb-fred commented on #171
Just adding my two cents: The let, switch, else-if, are all very nice, but in practice all I ever needed was an else. That problem as stated by OP is very simple and could use a simple solution. Something that can be understood by a designer who may just want to move dom elements around without understanding everything.

Something like
[code]

[2016-11-07 17:55] piwnik commented on #260
As I understand any other attribute (except repeat) doesn't reevaluate array/collection expression after it is changed if value converter is applied.
Will be this supported in future?

[2016-11-07 19:42] florinspataru1 opened #262 "require scss files in templates fails with errors when working with webpack"
While working with webpack, if you use require to include partial scss files I am getting errors:

1. When using webpack-dev-server: `Error: No module factory available for dependency type: ContextElementDependency`
2. When bundling, the final bundle will throw errors loading "<scss_file_path>.scss.html" files.

To solve this I've made a PR #261 that solves the issue. Thanks to @sickboy and Overpa

[2016-11-09 23:26] mbregante commented on #171
I'm interested in a solution for this kind of scenarios. I found myself writing some _anti-pattern_ as @niieani described and while doing that, thinking "this is not good... hopefully there's a better way to do it". Usually I rework some VM property to make the view more _simple_ but still not ideal.

[2016-11-11 11:44] timfish commented on #90
I'm trying to use `compose.ref` but `currentViewModel` doesn't appear to exist in any TypeScript definitions.  Does this means its not in the public API?

[2016-11-11 12:54] timfish commented on #90
I'm trying to use `compose.ref` with typescript but the `currentViewModel` doesn't exist in any definitions. Does that means it's not a public API or are the definitions incomplete?

[2016-11-13 06:53] EisenbergEffect commented on #258
templating-resources doesn't *require* anything beyond 1.0.0.

[2016-11-13 06:53] #258 closed

[2016-11-13 07:04] EisenbergEffect commented on #260
Ping @jdanyow

[2016-11-13 13:14] jdanyow commented on #260
The repeat observes the collection on the right side of the `of` in `repeat.for` binding expression. For example, in `repeat.for="item of foo.bar.baz"`, the repeat will observe the collection returned by the expression `foo.bar.baz`.

In expressions like `repeat.for="item of foo.bar.baz | something"`, the repeat knows that the collection returned by `foo.bar.baz | something` is unlikely to mutate

[2016-11-13 13:14] #260 closed

[2016-11-14 04:12] EisenbergEffect commented on #262
Closing this since we've got the broader issue tracked as a feature request.

[2016-11-14 04:12] #262 closed

[2016-11-16 23:34] blkbltjns commented on #64
@EisenbergEffect I'm not sure I understand how that lifecycle helps with this problem? I am in the same boat where I need to know when a repeat.for over compose elements is done with attaching the DOM elements. Is there still no way to do this (except maybe using a bindable notifier in the composed elements that runs on attached)?

[2016-11-17 00:30] EisenbergEffect commented on #64
There are a couple of approaches you could take. Can you show some sample markup?

[2016-11-17 01:03] blkbltjns commented on #64
<b>parent.html</b>
[code]

I want the parent component to know when all of the compose elements have attached and are in the DOM so I can do things like measure the height of the #container element.

[2016-11-17 02:59] EisenbergEffect commented on #64
What would you expect happen if you added/removed items from the array at a later point in time?

[2016-11-17 14:14] blkbltjns commented on #64
@EisenbergEffect

Probably some kind of changed event would fire, maybe something like a repeat.for.change delegate. My first attempt at dealing with this whole issue was flushing the microtaskqueue, which I expected to work. If this worked the way I expected, I could use it for the initial collection load as well as any changes.

[2016-11-25 14:04] mroseboom opened #264 "Concurrent enter/leave transitions"
**I'm submitting a feature request**

**Current behavior:**
I read a closed issue on the animator-css branche regarding concurrent enter/leave transitions between the outgoing and incoming views:
[issue](https://github.com/aurelia/animator-css/issues/7)

Rob mentioned also the following within this issue.

**Expected/desired behavior:**
Am wondering if it would be possible to implement this featur

[2016-11-25 16:46] EisenbergEffect commented on #264
This might make a nice contribution as well, if you are interested.

[2016-11-26 21:33] mroseboom commented on #264
Sure, i will take a look and see if i can make a PR that implements this feature.

[2016-12-05 21:09] KamBha commented on #257
I would go further and suggest that it would be nice to have touched and have the ability to specify sub forms where we can bind state touched and dirty state on sub forms would be nice.

I know the approach for Aurelia validation is different to angular, but having this sub form model is very useful when dealing with forms with hierarchical data.

[2016-12-07 21:31] chrisjasp commented on #240
Any solution or work around to this issue yet?

[2016-12-08 13:23] mroseboom commented on #264
@EisenbergEffect  Hi Rob, I think i've implemented this feature. Yesterday i tried to create a gist, but (still) have some trouble to use the custom version of both plugins.

Only the implementation covers both the following branches:
- aurelia-templating [`composition-engine.js`](https://github.com/mroseboom/templating/commit/6a7704366a9ab211302398bf90e863b3abf711af)
- aurelia-templating-resource

[2016-12-09 03:23] EisenbergEffect commented on #264
Absolutely. Go ahead and submit a pull request and we can do a code review. Thanks!

[2016-12-13 05:35] EisenbergEffect commented on #240
@jdanyow Any thoughts on this?

[2016-12-14 01:32] jdanyow commented on #240
If you switch `view-model.bind="{ data : x }"` to `view-model.one-time="{ data : x }"` it will work like you expect.

The problem is every time the expression is evaluated a new view-model instance is created due to the object literal expression in the binding. Ultimately looks like a bug in the compose where it's not handling view-model prop changes when they happen quickly.

[2016-12-14 13:01] zakjan opened #265 "Slot > if > repeat creates new elements at wrong DOM position"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Browser:**
all

* **Language:**
all

**Current behavior:**
Having a template structure such as this:
[code]
container.html
[code]

New items added to the array are rendered at the bottom of the container element.

https://gist.run/?id=5c2d55c58bb270bfab2f41026898cd23
Clicking on the button

[2016-12-14 23:57] timfish opened #267 "Error when using reflect-metadata as metadata target is a string"
The implementation of `Reflect.getOwnMetadata` differs in `reflect-metadata` vs `aurelia-polyfills`

In `reflect-metadata` `target` must be an object or it throws:

[code]
This isn't checked in `aurelia-polyfills`
[code]

The following code in `show.js` causes an exception as `DOM.boundary` is a string:
[code]

Should `target` always be an object?

[2016-12-15 00:12] timfish commented on #267
The [spec says](https://github.com/rbuckton/ReflectDecorators/blob/master/spec/metadata.md#reflecthasownmetadata--metadatakey-target--propertykey-):
[code]

[2016-12-15 02:36] EisenbergEffect commented on #267
I'm not following why DOM.Boundary would relate to this.

[2016-12-15 07:18] timfish commented on #267
when I debug the exception `targe

[2016-12-15 07:22] timfish commented on #267
when I debug the exception the parameters for `Reflect.getOwnMetadata` are
- `metadataKey` = `'aurelia:registration'`
- `target` = `'aurelia-dom-boundary'`

[2016-12-15 07:33] timfish commented on #267
And the call stack looks like:

![image](https://cloud.githubusercontent.com/assets/1150298/21215378/1dddf45a-c2a1-11e6-82ee-6d84d90284f8.png)

[2016-12-15 07:45] altenstedt commented on #267
I see the same issue after updating all packages.  I see the problem in IE only.  The issue is that in aurelia-metadata/metadata.js:65, we call Object.getPrototypeOf(target) with a target string value of "aurelia-dom-boundary".

[2016-12-15 11:15] 4nderss commented on #267
Any solution for this? Kinda broke our builds and can't get our system up for IE.

[2016-12-15 16:17] EisenbergEffect commented on #267
I believe this is a bug in metadata that is only now surfaces after we fixed a bug in dependency injection. Can you try revering only aurelia-dependency-injection back one version to see if the problem goes away?

[2016-12-15 16:21] altenstedt commented on #267
I can confirm that installing aurelia-dependency-injection@1.2.0 solves the issue for me, and allows me to run our app in IE.

[2016-12-15 17:45] 4nderss commented on #267
Yep, that works

[2016-12-18 09:11] zakjan commented on #265
Note that this bug really occurs only for this specific combination of slot > if > repeat. Alternatives such as if inside repeat, dummy span inside container, dummy span inside if, they work fine.

[2016-12-20 22:32] simonmurdock opened #268 "Throttle does not work for two-way bound field"
**I'm submitting a bug report**

* **Library Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.1

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
no idea, sorry! see gist

* **Browser:**
chrome 55.0.2883.95 (64-bit)

* **Language:**
ESnext

**Current behavior:**
When setting a view model property at a high rate,

[2016-12-21 02:45] jdanyow commented on #268
In a one-way binding (data flows from the model to the view), `throttle` limits the rate at which model updates are applied to the view.

In a two-way binding (data flows in both direction), `throttle` limits the rate at which user data entry updates the model.

In a two-way binding scenario I don't think that throttling model updates to the view makes sense. If model updates are happening so quic

[2016-12-21 09:09] simonmurdock commented on #268
That makes sense, you don't want users competing for input against a loop in the view model.

I will have to rethink my UI slightly then. Thank you

[2016-12-21 09:09] #268 closed

[2016-12-23 03:44] #267 closed

[2017-01-03 17:39] zakjan commented on #265
Another possibly related bug with slot > if > if https://gist.run/?id=a1b74e93a5571c627b0b7aa2e1178768

[2017-01-11 06:21] eamodio commented on #90
@jdanyow I had the same question as @timfish -- can `currentViewModel` safely be used?

[2017-01-11 23:28] huochunpeng commented on #265
I encountered a similar issue without slot. I found the core issue is the back to back usage of `<template>` on `if.bind` or `repeat.for`.

If you change the first template to a real DOM tag div/span/...
[code]

The problem goes away. The fix also works on your slot > if > if gist.

I guess the bug is in the implementation of the container-less binding (`<template if.bind="true">` and `<template r

[2017-01-14 16:09] jods4 commented on #257
The plumbing and configurability of a dirty flag is very much the same as validation.

Personally I would suggest to implement this (and move this issue) to `aurelia-validation`.

[2017-01-18 20:02] don-bluelinegrid commented on #257
Yes, it is.  In fact, the validator from Angular 1 provides a `$dirty` property in the validator instance.  That is critical to many validation use cases.

Don

[2017-01-22 17:38] arekbal commented on #171
Here is what I am doing:
`
function contentProcessor(compiler, resources, node, instruction) : boolean
{
    let trueContent: string = void(0)
    let falseContent: string = void(0)

    for(const n of node.children)
    {
        if(n.nodeName == "TRUE")
        {
            trueContent = n.innerHTML
            continue
        }

        if(n.nodeName == "FALSE")
        {
            falseCon

[2017-02-01 10:15] nmocruz commented on #249
I was getting this error yesterday.  Using the yo generator-aspnetcore-spa, and then upgrade all libraries to use the webpack plugin 2.0 (with hmr) I got this problem.
There's `<require from="./app.css"></require>` that is a folder app\components\app\app.css, is doing the same thing.

[2017-02-01 21:47] niieani commented on #249
@nmocruz this will happen when your webpack configuration is incorrect, i.e. the `css` loader rules do not check for `issuer`. The yeoman generator is not updated for the webpack-plugin 2.0, thus the webpack.config file will not work with your setup.

[2017-02-01 22:22] nmocruz commented on #249
@niieani you can be right,  but I made an update to webpack, and other libraries, I'm trying to run the project without .net. using, but webpack-dev-server.

[code]

and runing webpack-dev-server --hot

[2017-02-02 00:35] jods4 opened #270 "Should `scoped` support be dropped?"
`aurelia-pal` has `FEATURE.scopedCSS` and `aurelia-templating-resources` tries to add `scoped` to injected `<style>` when appropriate (e.g. `<require from="control.css">`).

I wonder if this should be removed from Aurelia, to re-align with the current HTML specs.
`scoped` was dropped from the specs (in favor of shadow DOM) and the only browser that implements it (at least for now) is Firefox.

[2017-02-02 18:09] klabranche opened #271 "if.bind in some cases causing the bound variable to lose context???"
The issue title is suspect.  I'm not sure "what is going on"....

**I'm submitting a bug report**

* **Library Version:**
latest release of as 2/2/2017 for all....  used au new to create project
1.0.8 (framework), 1.2.0 (templating-resources)

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.4

* **NPM Version:**
3.5.2

* **JSPM OR Webpack AND V

[2017-02-02 20:33] jdanyow commented on #271
*tldr: it's important to make sure you define properties you're binding to when your bindings are not explicit about which scope the property is defined on (eg `selectedHero` vs `$parent.selectedHero`)*

Consider the JavaScript statement `foo.bar()`. To execute that statement the V8/Chakra/etc needs to find `foo` by checking whether it's defined in the current scope or an outer scope, before retur

[2017-02-02 20:33] #271 closed

[2017-02-02 21:03] AshleyGrant commented on #271
The thing I'm still not understanding is what causes the difference in behavior between `show` and `if`?

[2017-02-02 21:28] klabranche commented on #271
@jdanyow  Wow!  I just learned me a bunch!  Thanks!!!!  I also wonder about `show` apparently appearing to be unaffected by my examples.

[2017-02-02 21:37] jdanyow commented on #271
'if' and 'repeat' are template controllers, when the view is rendered they are evaluated after the normal bindings and custom attributes like 'show'. Using 'show' would have caused selectedHero to become defined before the repeat rendered.

https://github.com/aurelia/templating/blob/master/src/view.js#L144

[2017-02-02 21:42] klabranche commented on #271
Awesome!  Thanks so much for the clarity. :-)

[2017-02-02 23:08] CasiOo commented on #271
Thanks so much @jdanyow . Great explanation!

[2017-02-04 19:52] jods4 opened #272 "Support stylesheet ressources other than CSS"
Support for CSS resources is hardcoded and what makes it worse is that `_createCSSResource` is not exported either:
https://github.com/aurelia/templating-resources/blob/0cef07a8cac8e99146d8e1c4b734491bb3dc4724/src/aurelia-templating-resources.js#L61

It would be nice if we added other extensions, or exposed an option or something, so that we could do this:
[code]
_I'm not asking that we include a

[2017-02-05 14:19] jods4 commented on #272
Note: `.css` is also hardcoded into HMR logic, here:
https://github.com/aurelia/hot-module-reload/blob/master/src/aurelia-hot-module-reload.ts#L46

So whatever we do to fix this, we should probably also do over there.

[2017-02-05 14:35] niieani commented on #272
We have an issue somewhere about making it easier to use other extensions for CSS loading with Aurelia. Perhaps we should just add an attribute on `require` which would tell Aurelia how to treat a certain `require`?

Based on content MIME-types:

[code]

or with a more "generic" concept of "type":

[code]

And then we could internally setup plugins for `content`/`type`s, instead of parsing the fil

[2017-02-05 16:23] niieani commented on #249
try replacing the rule for `css` with these two, in this order:

[code]

Full new config [here](https://github.com/aurelia/skeleton-navigation/blob/webpack-experimental/skeleton-typescript-webpack-experimental/webpack.config.ts#L147-L164).

[2017-02-05 16:25] niieani commented on #249
@EisenbergEffect we can close this. Not a bug, just misconfiguration for the new webpack stack. It might make sense to add this into the docs once the new Webpack stack is released.

[2017-02-05 18:21] jdanyow commented on #249
Closing per @niieani ^^^

[2017-02-05 18:21] #249 closed

[2017-02-06 10:30] RomkeVdMeulen opened #273 "focus.one-time unexpected behaviour"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **JSPM**
JSPM 0.16.48

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1.4

**Current behavior:**
If I want an element focused on render, but I'm not interested in keeping track of its focus

[2017-02-27 05:54] ghiscoding opened #274 "Latest 1.3.0 release throws self-binding-behavior missing"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.6.0

* **NPM Version:**
3.10.10

* **Webpack**
webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Since version `1.3.0` of the `templating-resources`, I get an error thrown in the console. I tried w

[2017-02-27 06:26] EisenbergEffect commented on #274
Looking into it.

[2017-02-27 06:29] EisenbergEffect commented on #274
What do you mean that the CLI isn't affected?

[2017-02-27 06:31] ghiscoding commented on #274
Sorry I just realized after your comment that this is not part of the Aurelia-CLI, hence there's no issue there. Sorry about the confusion

[2017-02-27 06:33] EisenbergEffect commented on #274
Try doing an NPM update. I'm not sure if NPM correctly pulled in the other version changes. It's working fine for me in my tests.

[2017-02-27 07:09] ghiscoding commented on #274
Did an NPM update and still get same issue. However, NPM update doesn't seem to always work. So I went manually and updated all packages including `webpack` itself to `2.2`

Perhaps you can try cloning my [simple repo](https://github.com/ghiscoding/Aurelia-Bootstrap-Plugins/tree/master/client-wp).

Note that again, if I revert to the older version of `"aurelia-templating-resources": "~1.2.0"` it w

[2017-02-27 07:35] stoffeastrom commented on #274
I just [compared](https://github.com/aurelia/templating-resources/compare/1.2.0...1.3.0) the tags and it looks like `self-binding-behavior` was added. I think we missed to add it into the `package.json` build resources..

![image](https://cloud.githubusercontent.com/assets/682243/23352482/9ecaa0a8-fcc7-11e6-9343-2ad4b54d644a.png)

[2017-02-27 14:24] marktaling commented on #274
I've noticed the same issue and came to the same conclusion as @stoffeastrom.

[2017-02-27 15:11] devteamexpress commented on #274
Same Issue here, all is broken with the latest release. Downgrading to 1.2.0 fixes it

[2017-02-27 17:12] EisenbergEffect commented on #274
Try release 1.3.1

[2017-02-27 17:12] #274 closed

[2017-02-27 17:27] ghiscoding commented on #274
Thanks, the latest `1.3.1` fixed the issue.

[2017-02-28 12:24] RomkeVdMeulen commented on #273
While we're on the subject: I would expect the default binding mode of focus to be one-way. I usually bind it to an expression that cannot be assigned to:

[code]

If focus changes and comes back to this link, I'll get an error:

[code]

I can't speak for other developers, but I expect the most common use-case for the focus attribute to set initial focus, not to keep a property updated on whether

[2017-03-02 12:58] RomkeVdMeulen opened #275 "Partial update when sorting array used in repeat.for"
**I'm submitting a bug report**

* **Browser:**
Chrome 55

**Current behavior:**
See https://gist.run/?id=dca097c25e9950440096048af1373b57.

When using `repeat.for` on an array, and the array is (re)sorted **in place**, some of the rendered results are updated correctly and some are not. In the linked example one of the rows is always out of sync with the others. This does not occur if the array i

[2017-03-02 12:59] RomkeVdMeulen commented on #275
Might be related to #265 - I'm not sure.

[2017-03-08 18:55] #264 closed

[2017-03-09 13:57] gpetrioli opened #276 "Add $length to the repeat.for utilities"
**I'm submitting a feature request**

* **Library Version:**
1.3.1

* **Language:**
all

**Current behavior:**
In the utilities for `repeat.for` we have `$first`,`$index`, `$last`, `$middle`, `$odd` and `$even`.

**Expected/desired behavior:**
Could we add a `$length` which contains the usable length (*after applying valueConverters that filter the iterable items*)

----

My understanding is that

[2017-03-09 19:32] gpetrioli commented on #276
@EisenbergEffect i can provide the PM if you wish to add this enhancement.

[2017-03-09 19:54] bondib commented on #228
+1

[2017-03-10 02:11] EisenbergEffect commented on #276
Go for it! :)

[2017-03-11 16:44] gpetrioli commented on #276
Look like it requires to remove some optimizations from the array-repeat-strategy file.

When mutating the array (*`push`/`pop`/`splice`*) the current code identifies the lowest index that was mutated and updates the `overrideContext` only for the elements from that point on.

To allow for `$length` we need to update the `overrideContext` for all elements in the array since it affects all of them

[2017-03-12 13:21] jdanyow commented on #275
[code]

I think I see what's going on here- allow me to try and explain:

Running the gist and clicking "sort in place" causes the `${row}` part of the template to update. Also, in rows that had to be moved (row 4 and row 3 needed to be swapped), the `${items[N]}` parts of the template were updated. Rows that did not move had their `${items[N]}` get out of sync. There's nothing we can do about thi

[2017-03-12 13:21] #275 closed

[2017-03-13 14:25] RomkeVdMeulen commented on #275
Thanks for the explanation! I'll stick with sort and replace.

[2017-03-14 07:58] Kukks commented on #171
@arekbal Your solution works like a charm!

[2017-03-14 14:27] jdanyow commented on #276
this might be a better fit for the "let" element we've been planning:

[code]

https://github.com/aurelia/templating-resources/issues/171

[2017-03-14 15:48] gpetrioli commented on #276
@jdanyow  wasn't aware of this. That is pretty cool.

Can/will it support multiple attribute/variables ?  `<let a="something | filter | sort" b="somethingelse | filter" c="..."></let>` ?

Also any estimation on when this feature might be available ?

[2017-03-14 17:44] ppn2 commented on #257
This is a very import requirement and we would expect that any mature framework handles this out of box.

[2017-03-15 21:31] don-bluelinegrid commented on #257
@EisenbergEffect @jdanyow

Rob, Jeremy,

I submitted this issue about four months ago, after reading through a nearly identical request that had been closed.

I'm curious if there has been any thought on this, as it is a very basic requirement for an MVX framework - most JavaScript frameworks offer this, as do Java frameworks going back to the initial version of Struts.

I have the impression that

[2017-03-15 21:39] don-bluelinegrid commented on #257
@jods4

jods,

I would disagree with the statement:

Dirty detection is specifically related to the state of modification of a model object.  This is different than the state of validity of an object, because the notion of validity depends on a set of author/developer-defined rules; and, all model objects have a notion of 'modification', while not all model objects have a notion of 'validity'.

Wi

[2017-03-15 22:05] EisenbergEffect commented on #257
I think that @jdanyow has a prototype of this built as an extension of sorts at one time.

[2017-03-15 23:08] jods4 commented on #257
@don-bluelinegrid

This does not preclude the fact that this functionality could be included in `aurelia-validation` and can be used without defining validation rules at all.

The fact is, implementation of validation and dirtiness share some concepts and infrastructure. For example you need to define the scope you want to validate/dirty-track. It can be one object, or several. It could include ne

[2017-03-16 22:11] jods4 opened #277 "Require stylesheets other than CSS"
Support for CSS in `<require from="style.css">` is currently hardcoded here:
https://github.com/aurelia/templating-resources/blob/fe7a836504a0ee0fdc8e53480cd9f3d6c9dc4f7e/src/aurelia-templating-resources.js#L66

Today lots of people use pre-processors, like LESS or SASS.

In a webpack build, `<require from="style.less">` would do just what you expect (great!)... except that it would fail at runtim

[2017-03-17 03:31] jdanyow commented on #257
@don-bluelinegrid - I'd like to flesh out the requirements a bit more- couple questions for you:

1. Can you flesh this idea out a little bit more- provide some pseudo code that would illustrate what the API looks like in practice:

2. When you tried https://github.com/aurelia/templating-resources/issues/160#issuecomment-164277649  , where does it fall down for you? Where does it work well?

*plea

[2017-03-17 09:47] jods4 commented on #257
I am not sure "optimal" is the right word here.

In a typical Aurelia application there are _tons_ of bindings. Adding even a single `bool` to _every one of them_ is very wasteful.
Is this a price we want to pay? Is there a way to merge those bits into existing binding state?

The typical use case is a form model, which could be "dirty-tracking enabled" by an API. That model probably needs validat

[2017-03-17 12:51] vulvulune opened #278 "Add "media" attribute on require for css"
I'm submitting a feature request.

Some libraries provides css files for printing, and ask to add it like this:
`<link href="print.css " rel="stylesheet" type="text/css" media="print" />`

It should be useful to have an attribute "media" for the require tag to handle this case.

Sample of expected behavior:
`<require from="print.css" media="print">`

[2017-03-17 18:41] niieani commented on #277
I'm ok with this. Small fixes with large impact is what we should be looking for.

[2017-03-17 23:15] jods4 commented on #277
PR #279 does that.

Of course the PR only enables the `<style>` behavior for more extensions, but it assumes the module contents are proper CSS. It would have been compiled at build time.

For example, in a Webpack build one can set up the following loader:
[code]
Then do this in a view:
[code]
And it works as expected.

[2017-03-22 16:45] vulvulune commented on #278
I analyzed how the `as='scoped'` feature and it is managed here:
https://github.com/aurelia/loader/blob/c0cbdbbf42f284559443c7533043c5de859858c8/src/template-registry-entry.js#L78

The "scoped" is used as the name of the dependency, a kind of hack... and handle by the CSSResource class:
`  CSSResource.prototype.register = function register(registry, name) {
    if (name === 'scoped') {
      regis

[2017-03-31 05:29] #277 closed

[2017-04-13 14:31] geertendoornenbal commented on #222
I read this, and was very intrigued. We encountered exactly this issue, where by accident a binding 'happened' because of the larger scope with a compose.
For us, an "inherit-context=false" would be better, to prevent sloppiness.. The solution of @leon-andria is also interesting, and in my opinion the cleaner solution, so you always explicitly need to 'drag' it in..
@EisenbergEffect , if you say t

[2017-04-13 15:50] EisenbergEffect commented on #222
If we were starting over, we would probably not inherit the context by default, but require the property to be set first. However, since we made the opposite default choice, and we don't want to break backwards compatibility at this point, the only solution I see is to add the ability to turn this off. Again, it's not perfect, but it should enable the scenario. In a future breaking change, we coul

[2017-04-15 10:31] jods4 commented on #272
A more generic solution would be nice, but I'm closing this as we now have built-in support for all popular preprocessor.

[2017-04-15 10:31] #272 closed

[2017-04-18 05:10] geertendoornenbal commented on #222
I understand your reasoning for not wanting to break backwards compatibility. An option to turn it off is fine as a workaround!
Thanks!

[2017-04-18 12:23] suamikim commented on #222
I'd also appreciate such an option!

[2017-04-18 13:01] leon-andria commented on #222
@EisenbergEffect To keep compatibility, having a global setting
[code]
The default is cascading to make sure that we keep the compatibility.
So, for any new Applications and aware of this, you can specify 'Block' and when you are in your compose, you can call from ${ViewParentContext.xxx}

Since we opened this issue, we got a lot of issue from many developper and changed some guidelines in our pro

[2017-04-18 14:17] jdanyow commented on #222
What if we did this:

1. `view` -only compose continues to inherit the binding context *(no change)*.
[code]
1. `view-model` compose does not inherit the binding context **(change)**.
[code]
1. Developers can force the compose to inherit the binding context by adding an `inherit-binding-context` attribute to the compose element **(change)**.
[code]
1. For a period of time (TBD), `aurelia.use.legac

[2017-04-18 15:12] EisenbergEffect commented on #222
Yes. Let's do it 😀

On Apr 18, 2017 7:17 AM, "Jeremy Danyow" <notifications@github.com> wrote:

[2017-04-19 20:27] mmalek06 opened #281 "Focusing element via binding doesn't always work"
I'm submitting a bug report

Library Version:
1.3.1

Operating System:
Windows 10

NPM Version:
3.10.8

JSPM 0.16.48

Browser:
all

Language:
ESNext

Current behavior:

Given following view model:

[code]

and template:

[code]

The behavior is that when I first click/tab into/otherwise focus the input element, the textarea element shows up and is focused. Then I click somewhere else, so that the

[2017-04-20 23:11] gregorydickson commented on #171
+1 on if/else

[2017-04-21 07:03] Kukks commented on #171
@arekbal After using it for a while, it seems like IE did not like it(out of stack space errors during loading time) and I had to revert back to previous bindings :(

[2017-04-21 14:01] jdanyow commented on #281
What happens if you remove the blur.trigger binding?

Can you provide a gist? https://gist.run/?id=7542e061bc940cde506b

[2017-04-21 20:14] mmalek06 commented on #281
https://gist.run/?id=0b41930fcb35e226faacd7cf2e0003d1

I don't understand why, but after removing blur.trigger it started working properly :). Anyway - with the provided code you can recreate my issue 100% times.

[2017-04-25 14:16] radenkozec opened #282 "Strange behavior with sort order in lists - Dragula with Aurelia"
**I'm submitting a bug report**

* **Library Version:**
Aurelia Templating 1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
Chrome

* **Language:**
 ESNext

**Current behavior:**
I am using Dragula with Aurelia and everything works fine. However I

[2017-05-08 21:50] atsu85 opened #283 "Provide out-of-the box event-handler for specific key for convenience"
**I'm submitting a feature request**
Consider providing a custom attribute or binding behavior that would allow to handle specific keyup events, such as pressing enter

* **Library Version:**
1.4.0

**Current behavior:**
Currently if i'd like to handle only for example enter keypress on textbox (and i don't want to bloat the event handler JS code to contain checks for event keyCode), I'd need to c

[2017-05-09 01:10] jdanyow commented on #283
A lot of times something like this is done by putting the input in a form
and binding to the form's submit event so that the semantics are correct
and the enter key handling is done by the browser, it's accessible, etc

On Mon, May 8, 2017 at 2:50 PM atsu85 <notifications@github.com> wrote:

[2017-05-09 06:04] atsu85 commented on #283
@jdanyow, actually that is what i also suggested (through the video comment) yesterday as an easier alternative for that specific case (even created a gist to demonstrate it) where he only had one input element.

However it seemed that the video author wanted to be able to write Aurelia app in the same style that he wrote Angular app (without having to add special markup only needed for Aurelia).

[2017-05-09 15:22] jdanyow commented on #283
gotcha, makes sense.

My vote is to promote using `<form submit.trigger="...">` for the enter-key use-case because it's the semantically correct, accessible way to implement that UI pattern. I think a custom attribute or binding behavior for that use-case is a foot-gun. Could be useful in other use-cases. I think @bigopon had looked into something like this in the past.

[2017-05-10 00:59] bigopon commented on #283
@jdanyow , @atsu85

Hi yes I did look into implementation of this behavior, and was a bit stuck by it being generic enough ( a request from @EisenbergEffect ),

I've updated the gist and you can have a play at : [Keys updated](https://gist.run/?id=b289897836b10d2de99c2d395722b5ad)

[2017-05-13 14:53] weoreference commented on #171
Hello guys, how are you?

I am wondering if the Aurelia team plans to officially support this feature?
I've been running into it since day 1 -- even back in Durandal. Just seems to be a general problem in conditional layouts.

Anyway, thank you.

[2017-05-14 03:51] EisenbergEffect commented on #282
@jdanyow You've got some experience with Dragula. Any ideas?

[2017-05-14 04:34] jdanyow commented on #282
If you allow Dragula to move a DOM element that is managed by the Aurelia repeat.for, things will get out of sync. The repeat.for has no knowledge of the things Dragula is doing to the DOM.

[2017-05-14 04:34] #282 closed

[2017-05-14 09:10] arekbal commented on #171
@Kukks
https://github.com/aurelia/dialog/issues/45
It seems to be related... just like I said... same problems as templates.

Works with Edge, and is out of stack space on IE. <template>s fail in _compile
Template elements are not supported by IE and are showing as HTMLUnknownElement.

I went throught recurrenting aurelia code in IE debugger - node processing hits nodeType 1 instead of 11
and late

[2017-05-15 06:36] radenkozec commented on #282
@jdanyow @EisenbergEffect  Any suggestion what to do? If I understand correctly Aurelia just don't play nice with popular Drag and Drop libraries like Dragula or Sortable right? I will try to create dummy empty project to reproduce this behavior.

[2017-05-16 00:06] bigopon commented on #283
@jdanyow , @atsu85 , @EisenbergEffect

[Gist](https://gist.run/?id=b289897836b10d2de99c2d395722b5ad)

I've tried to make it more generic by supporting both mouse and keyboard events in case user predefined clearly what keys should go in for the behavior. But couldn't figure out how to deal with the case where user bind the keys with another view model. I've prepared the view / input for dynamic ke

[2017-05-18 12:19] ISkomorokh commented on #253
Seems like this one should be close and @jdanyow 's explanation could be added to the docs.

[2017-05-18 17:39] atsu85 commented on #253
If i remember correctly, someone implemented caching, that prevented the double evaluation - not sure if it worked flawlessly or had some cornercases.

[2017-05-26 17:01] ppn2 commented on #257
Is there any progress on this. It has been six months since this issue has been opened. I can not stress enough the importance of this feature in any serious enterprise application.

[2017-05-28 12:49] len-ro commented on #64
Any plans to implement this? Or any other way to implement this other than chaining queueTask's until the modelView in the compose is available?

[2017-05-30 13:54] jdanyow commented on #257
@ppn2 we haven't committed to implementing this feature. There are open questions on how this should work and the perf implications (see my comments and @jods4's comments above).

Like I said in https://github.com/aurelia/templating-resources/issues/257#issuecomment-287257951, part of the challenge with this is I've never seen this $dirty pattern in use. I've never been an angular developer. In th

[2017-06-08 20:52] JoshMcCullough commented on #16
I can't seem to find docs on `with.bind`, do they exist?

[2017-06-09 08:18] radenkozec commented on #282
@jdanyow @EisenbergEffect I managed to solve all issues by calling DragApi.cancel and removing / add elements from arrays manually. Just wanted to say keep up the good work. Aurelia is great.

[2017-06-14 10:26] tkhyn opened #284 "repeat.for on Set leading to negative index"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **JSPM OR Webpack AND Version**
JSPM 0.17.b41

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

When manipulating a `Set` bound to a repeat.for statement, an exception in aurelia-templating is raised when the `Set` becomes empty when manipulating its values.

It is highligh

[2017-06-27 00:07] tkhyn commented on #284
@EisenbergEffect , @jdanyow and @martingust I'm having a go at this. I've already added a few basic tests for SetRepeatStrategy, but as ViewSlot is mocked the error cannot be reproduced in a test here.

Anyway, it looks like there are 2 ways to fix this:

1. Either allow a negative `index` in `ViewSlot.insert(index, view)` by adding `index = Math.max(0, index)`, that's a modification in aurelia/te

[2017-06-27 00:09] EisenbergEffect commented on #284
I need to defer to @jdanyow or @martingust on this.

[2017-06-30 10:50] tkhyn commented on #284
Thanks @EisenbergEffect.

@jdanyow, @martingust, PR #285 is live for discussions :)

[2017-07-07 04:31] EisenbergEffect opened #287 "repeat.for over map has incorrect overridecontext.$index, $first, $last in attached CustomAttribute when map changes"
@loaded02 commented on [Thu Jul 06 2017](https://github.com/aurelia/binding/issues/599)

**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:

[2017-07-07 04:32] EisenbergEffect commented on #287
@jdanyow Can you look into this?

[2017-07-08 13:50] Joxeur opened #288 "Iterate over Promises"
**I'm submitting a feature request**

* **Library Version:**
1.4.0

**Current behavior:**
Currently one can't really easily iterate over the result of a Promise.
I am in a situation where I an array of Files and I need to extract their dimensions to be able to use http://photoswipe.com. Extracting those information is however an asynchronous task as one need to have the image loaded to get its dim

[2017-07-13 06:49] MaximBalaganskiy opened #289 "Compose with bound view-model not rendered in IE11"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.42

* **Browser:**
IE 11

* **Language:**
all

**Current behavior:**
Compose element with bound `view-model` attribute is not rendered

**Expected/desire

[2017-07-18 13:38] YardGnomeNinja commented on #240
Has any work been done toward resolving this? This feature is really the linchpin to my project. I've apparently been lucky I didn't come across this issue earlier.

I'm using object literal expressions in my binding, however the difference in my situation is that I'm using object literals to specify which files to bind to, like so:

[code]
The issue manifests, similarly as explained above, that w

[2017-07-20 12:20] YardGnomeNinja commented on #240
In the meantime, I found a super hacky way to get around it by using a `setTimeout` for 2000 ms before I initiate the moving of items between arrays, 1000 ms wasn't enough in my case. It's not the ideal solution, but it works well enough for my purposes. I only mention it in the event someone else comes across this issue and this could help them.

[2017-07-21 16:11] ordinaryorange opened #292 "Improve docs/error messages"
I just lost hours trying to debug the Error:
_No ValueConverter named "myConverter" was found!_

Was the operator at fault, and the simple problem was that I did not have the converter **camel cased** in the View. Whilst this is mentioned in the docs, it probably could/should be emphasised.
If there is any way to improve the error messages, that would be helpful to. The above really lead me down a

[2017-07-22 00:30] m-andrew-albright opened #293 "Bindings with specified `signal` binding behavior (BindingSignaler) are being dirty-checked / not waiting for signals to update the view from view-model getters."
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.2.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browsers:**
| Chrome 59 | Firefox 54

* **Language:**
all

**Current behavior:**
When binding in the view to a getter property in the view-model and spe

[2017-07-22 00:57] m-andrew-albright commented on #293
It appears to have the same behavior whether the binding is string interpolation or property binding (`class.bind` in case I'm not using the correct term)

[2017-07-22 16:47] StrahilKazlachev commented on #293
The *dirty checking* is result of `timeSince` being a *property*. Put in your example `@computedFrom('timeStamp')` on `timeSince` and see if that gives you the behavior you are after.
Also in the docs there is an [example](aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-binding-behaviors) for this that uses *valueConverter* and not a *property*. I would go with that approach.

[2017-07-22 21:32] m-andrew-albright commented on #293
Using a value converter attains the expected behavior, but why does using a property getter with a signal binding behavior not work in the same way?  I created the repro case on gistrun as a simple example, but I don't necessarily want to use a value converter for every time I want to throttle a computed property value.

[2017-07-22 21:32] m-andrew-albright commented on #293
After some digging (and some memory surfaced) I found this:

https://github.com/aurelia/binding/issues/547

The important piece:

which leads me to wonder, is there some way I can tell Aurelia _not_ to dirty check a computed property?  It would be great (IMO) if it could detect that all of its bindings have a binding behavior which specify that it shouldn't be observed, so the dirty checking is no

[2017-07-22 22:49] StrahilKazlachev commented on #293
If you don't want something to be observed use `.one-time`/`& oneTime`. If you put `& oneTime` on all your bindings in the example then the property will not be observed, in this case dirty checked.

[2017-07-23 15:20] m-andrew-albright commented on #293
I want the view to update when the property is updated / signaled to be updated, so `oneTime` wouldn't make sense here.  If I am binding with a signaler, I would hope the property is not being observed / dirty-checked since its only binding already signals when it should update.

I have come to understand that this is not the way that it works, but IMO it should.

[2017-07-23 17:20] mgthomas99 commented on #171
I recently wrote an [npm package](https://www.npmjs.com/package/aurelia-conditionals) which addresses the if/else issue using HTML `<slot>` elements.

[2017-07-24 09:37] diegohb opened #294 "Loading arbitrary CSS files from views"
**I'm submitting a bug report**

* **Library Version:**
aurelia-templating-resources: v1.4.0
aurelia-cli: 0.30.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.2

* **NPM Version:**
4.2.0

* **JSPM OR Webpack AND Version**
Using aurelia-cli w/ systemjs v0.20.13

* **Browser:**
Chrome 59.0.3071.115

* **Language:**
TS v2.3.2

**Current behav

[2017-07-25 19:42] suneelv opened #295 "Matcher binding on repeat elements is only working the first time the element is attached"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Same issue on both OSX and Windows10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 3.3.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

Array repeat strategy is losing the matcher binding once the el

[2017-07-25 19:46] suneelv commented on #295
I believe the culprit is

[code]
in https://github.com/aurelia/templating-resources/blob/master/src/repeat.js
This is removing the matcher expression from the viewFactory if it is found. But I guess viewFactory is cached and the next time the element is bound, the `matcher` expression won't be there

[2017-07-29 21:19] #171 closed

[2017-08-02 18:57] Alexey1 opened #298 "View model field bound to "element.ref" is null in "attached" method for a combination of "if.bind", "repeat.for" and animations"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8

* **Node Version:**
6.9.2

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.30.1

* **Browser:**
Chrome 60

* **Language:**
TypeScript 2.4.2

**Current behavior:**
1. Create a project with au new.
2. Add aurelia-animator-velocity as d

[2017-08-03 03:22] EisenbergEffect opened #299 "Race condition in InlineViewStrategy / <compose>"
@RomkeVdMeulen commented on [Fri Apr 07 2017](https://github.com/aurelia/templating/issues/544)

* **Browser:**
Chrome 57

**Current behavior:**
When binding a `<compose>` to an `InlineViewStrategy` and replacing the strategy a couple of time in quick succession, the final state may vary. See https://gist.run/?id=786a81fa21a427cd803d1ee1e12681d0

**Expected/desired behavior:**
Regardless of how lo

[2017-08-03 14:25] Alexey1 opened #300 "repeat.spec.js tests repeat object from jspm package instead of one from the project source"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8

* **Node Version:**
6.9.2

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.30.1

* **Browser:**
Chrome 60

* **Language:**
TypeScript 2.4.2

**Current behavior:**
repeat.spec.js tests file
jspm_packages/npm/aurelia-templating-resourc

[2017-08-03 15:45] Alexey1 commented on #298
The following change fixes the issue for me:

repeat.js file

[code]
As far as I can tell this causes repeater to skip leaving animations for children. Otherwise the repeater gets problematic state if it is bound again when if.bind becomes true while leaving animations are still in progress.
In the case I had, repeater DOM elements are already removed when unbind is invoked so it seems reasonable

[2017-08-05 03:51] bigopon opened #301 "[Proposal] Enhance Html only element"
**I'm submitting a feature request**

* **Library Version:**
1.4.0

**Current behavior:**
Currently, one can only define html only element in following way:

[code]

Binding mode has to be specified whenever `my-input` is consumed.

**Desired behavior:**

Ability to define binding mode in html only element definition, in following syntax:

[code]

Example:

[code]

Breaking changes: none. As user

[2017-08-05 04:28] EisenbergEffect commented on #301
What do you think about enabling type coercion as well? e.g. `value:int & twoWay`. I'd be interested in doing that before thinking about the event scenario. Thoughts?

[2017-08-05 04:55] bigopon commented on #301
It works well when you don't bind it to any prop that automatically coerce value to string. (such as input's `value`)

I haven't been able to solve the problem of different value between property & input when doing type coercion.

example:

[code]

After updating view model `num`, a number as newValue will be thrown back to input value observer, which will trigger update again... (Which is also th

[2017-08-05 05:20] bigopon commented on #301
@EisenbergEffect on a second thought, I think we can solve it by modifying class `ValueAttributeObserver`

[code]

Base on this, the `hasCoerce` will be passed base on the binding expression. so in its `setValue`

[code]

[2017-08-13 00:53] mryellow commented on #257
...

...

There are about 10-20 different ways you could decide to do it depending on your use-case. All of them more efficient then a global *"dirty checking is done for you"*.

[2017-08-13 01:00] mryellow commented on #257
@don-bluelinegrid See how that is more efficient? You only needed a specific type of checking in a specific area, no need to tax every other part of your code with this burden.

[2017-08-19 17:23] #284 closed

[2017-08-21 04:16] EisenbergEffect commented on #294
@JeroenVinke Can you check if referencing a css file from a view works with a cli-generated system.js configuration?

[2017-08-21 06:03] JeroenVinke commented on #294
That seems to work ok:

app.html:
[code]

test.css:
[code]

@diegohb I can't see the code you've provided in the issue to reproduce, can you show me what you're doing differently from what I do above?

[2017-08-21 06:15] diegohb commented on #294
will try it again. thank you!

[2017-08-22 23:55] diegohb commented on #294
loading external css files...  is what the title of this shouldve been.. but maybe that's not intended to work?

`<require from="https://cdn.jsdelivr.net/leaflet/1.0.2/leaflet.css"></require>`

[2017-08-23 03:16] EisenbergEffect commented on #294
Ah. This is going to be loader dependent. If you are using Require.js for example, you need to make sure that you aren't stubbing out the text loader, or it won't be able to dynamically load the css at runtime.

[2017-08-24 00:30] diegohb commented on #294
I'm using SystemJS, might need the css plugin if the text plugin can't handle it.. thanks!

[2017-08-24 00:30] #294 closed

[2017-08-24 06:26] EisenbergEffect commented on #298
Closed by https://github.com/aurelia/templating-resources/pull/303

[2017-08-24 06:26] #298 closed

[2017-08-26 11:47] cyantree opened #304 "templating resources break scoped styling for ShadowDOM"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
Chrome 60

* **Language:**
TypeScript 2.4.2

**Current behavior:**
When using  ShadowDOM (via element decorator `@useShadowDOM`) and a scope

[2017-09-12 12:42] boazblake commented on #75
I think this issue has come back?

I am using the latest skeleton esnext-webpack

![screenshot from 2017-09-12 07-40-42](https://user-images.githubusercontent.com/3834931/30326307-c9c91ca6-978d-11e7-9318-a60bf1dc78e3.png)
![screenshot from 2017-09-12 07-39-15](https://user-images.githubusercontent.com/3834931/30326306-c9c6026e-978d-11e7-8212-838f3aeb4b48.png)

[2017-09-13 13:14] boazblake commented on #75
I think this should be re-opened
https://stackoverflow.com/questions/46186870/aurelia-repeat-for-throws-an-undefined-error-with-custom-element

[2017-09-17 11:20] StrahilKazlachev commented on #289
@MaximBalaganskiy Do you have any errors in the console?

[2017-09-17 16:08] jdanyow opened #307 ""if" tests are broken"
Tests use `sut = new If(viewFactory, viewSlot, taskQueue);` and later use `sut.valueChanged(false);` but the `valueChanged` method no longer exists:

https://github.com/aurelia/templating-resources/commit/8b0131aefb8f181fc110e036cae11589bbba1e37#diff-bbce44daacb259a7b129c4fa0d062406

cc @jods4

[2017-09-17 20:46] jods4 commented on #307
I never got to write new tests for the `else` feature... it's still on my TODO list :(

Moreover when I built `else`, the existing `if` tests failed because of a bug in another Aurelia package, hiding this `valueChanged` failure. I fixed the Aurelia library but didn't notice this :(

Missing tests is one thing that can wait but it's important to fix existing tests so that builds and future PR are

[2017-09-17 20:47] jods4 commented on #307
Uh... seems I can't assign myself in this repo, but I'll try to fix them with a PR anyway ;)

[2017-09-17 21:03] jdanyow commented on #307
Thanks @jods4 👍

[2017-09-17 22:35] #304 closed

[2017-09-18 01:04] MaximBalaganskiy commented on #289
I cannot reliably reproduce the issue. The project has been switched to webpack recently, may be that has en effect. But I still got a couple of occurrences of this with no console output at all.

[2017-09-18 22:55] jods4 commented on #307
Wow those tests are not great.
The `if` public API has not changed a single bit, yet they all fail now.

Some tests manipulate the internals of `IfCustomAttribute`, in ways that never made sense.

I am removing this test:
[code]
Notice that it sets `view = null` and `showing = true` at the beginning (both of those are private implementation details).
I looked at the old code and it is not actually

[2017-10-01 16:21] zakjan opened #310 "Memory leak with slot > repeat"
**I'm submitting a bug report**

* **Library Version:**
1.4.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Browser:**
Chrome 62.0.3202.29

**Current behavior:**
When repeat.for is used in slot content, updating the iterated collection causes memory leaks. It doesn't release unused custom elements from previous collection items.
[code]

Steps to reproduce:
1) op

[2017-10-01 19:02] zakjan commented on #310
Probably related to #265.

[2017-10-02 04:23] #240 closed

[2017-10-02 04:23] #299 closed

[2017-10-02 04:37] #307 closed

[2017-10-02 09:54] heikomat opened #311 "Application breaks after upgrade from 1.4.0 to 1.5.0"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **Node Version:**
7.10.0

* **NPM Version:**
4.2.0

* **JSPM OR Webpack AND Version**
??

* **Browser:**
all tested | Chrome 61

* **Language:**
TypeScript 2.5.3

**Current behavior:**
After upgrading `aurelia-templating-resources` to 1.5.0, one of my app

[2017-10-02 09:54] searus opened #312 "Unable to find module with ID: aurelia-templating-resources/if.html"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
Chrome  61.0.3163.100

* **Language:**
TypeScript

**Current behavior:**
New project results in the following browser error:
15:1542 Unhandle

[2017-10-02 09:56] eriklieben opened #313 "bug(if-custom-attribute): If custom attribute tries to load html template"
**I'm submitting a bug report**

* **Library Version:**
1.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.1

* **NPM Version:**
4.0.3

* **JSPM OR Webpack AND Version**
Aurelia-CLI with RequireJS

* **Browser:**
Chrome 61, (but think it exists in all)

* **Language:**
TypeScript 2.0.7

**Current behavior:**
When performing ```au new``` fo

[2017-10-02 09:59] heikomat commented on #311
#313 seems to be the exact same problem, but #313 has a clean reproduction-setup, while this isse doesn't. if #313 is verbose enough to fond the bug, i suggest closing this issue in favour of the other one

[2017-10-02 10:00] searus commented on #312
Repro here: https://github.com/reyno-uk/aurelia-bug
[code]

[2017-10-02 10:32] caperavensoftware commented on #313
I am getting a 404 error on the same file. Think the issue is related.
[code]
This is a critical bug for us.

[2017-10-02 11:40] StrahilKazlachev commented on #313
#312 duplicate

[2017-10-02 12:10] discoaaron commented on #312
This is a breaking bug for my dev team too!

[2017-10-02 13:42] #313 closed

[2017-10-02 14:10] pat841 commented on #312
Seems like I found the culprit, but not exactly sure why its causing the issue. Could be something to do with how customAttributes/templateControllers are created.

if.js (old)
[code]

if.js (new)
[code]

Removing the "export" seems to fix the issue without any other side effects. Ive re-built 1.5.0 with the fix, it can be tested via adding ```"aurelia-templating-resources": "git://github.com/pat8

[2017-10-02 16:11] #312 closed

[2017-10-02 17:20] komenixx commented on #312
Current behavior after update to 1.5.1:

Error: Unable to find module with ID: aurelia-templating-resources/else
    at WebpackLoader.eval (webpack-internal:///452:194:35)

[2017-10-02 17:48] JeroenVinke commented on #312
@komenixx i'm not seeing this in a new webpack project that's on 1.5.1. Can you give me steps to reproduce? I'll look into it

[2017-10-02 17:53] komenixx commented on #312
@JeroenVinke you right, i am sorry, problem was in the yarn cache. I removed node_modules folder, clear cache and install fresh packages. Works, thank you.

[2017-10-02 17:55] JeroenVinke commented on #311
@heikomat can you update to 1.5.1 and see if it works? thanks

[2017-10-03 10:06] zenorbi opened #315 "Aurelia if custom attribute does not work if it's rebound"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13

* **Node Version:**
v8.6.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
aurelia-cli 0.31.3

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Rebinding a view having an if custom-attribute does not rebind the subviews inside th

[2017-10-03 10:17] enrico-padovani commented on #311
I have an error too after update. Here's the message: "Unhandled rejection Error: Cannot find module './aurelia-templating-router/router-view.html'." it seems related to bluebird.

[error.zip](https://github.com/aurelia/templating-resources/files/1351883/error.zip)

It works again if I stick to `aurelia-templating-resources: "1.4.0"` AND `aurelia-templating-router: "1.1.0"`.

I'm using webpack 2.1

[2017-10-03 10:57] bigopon commented on #315
What browser did you get the wrong behavior ? It's working fine for me, the button is doing its job properly. Did you miss anything in bug reproduction instruction ?

[2017-10-03 11:00] zenorbi commented on #315
@bigopon Chrome Version 61.0.3163.100 (Official Build) (64-bit) also using Firefox 56.0 (64-bit)

Please make sure you use the repo I linked as the gist version uses an older `aurelia-templating-resources`.

[2017-10-03 11:04] StrahilKazlachev commented on #311
@enrico-padovani Did you try `1.5.1`?

[2017-10-03 11:06] enrico-padovani commented on #311
Yes i did

[2017-10-03 13:34] bigopon commented on #315
Only happen to nested `if`. The `View` of nested `if` will not call `bind` for some reason

[2017-10-03 19:47] zenorbi commented on #315
Well not just in case of nested `if`s, but any `if` binding where you `unbind` then `bind` the view again which has an `if` attribute somewhere inside it. The outside `if` is just the simplest way to get a view then unbind and rebind it.
In our internal project we use a caching aurelia `ViewFactory` where the created view only has a single `if` binding but due to caching we reuse thus rebind the v

[2017-10-03 20:25] JeroenVinke opened #316 "Document "else" custom attribute"
We need some docs for the new `else` custom attribute

[2017-10-03 20:33] JeroenVinke commented on #311
I've updated a webpack skeleton entirely and wasn't able to reproduce this. Could you try and see what triggers it @enrico-padovani ? If possible please post:

- npm version
- nodejs version
- exact versions of libraries that you use (npm ls --depth 1)

That way we can compare since there's someone else with the same problem: https://github.com/aurelia/templating-router/issues/63

[2017-10-03 20:54] enrico-padovani commented on #311
Here you have it:
npm 5.4.2
node v6.11.2
[deps.zip](https://github.com/aurelia/templating-resources/files/1353876/deps.zip)

[2017-10-04 13:57] discoaaron opened #317 "1.5.1 issue, nested if.bind click.delegate does not fire after parent container has been hidden and re-shown"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
webpack 3.3.0

* **Browser:**
Chrome 61.0.3163.100
Firefox 56.0 (32-bit)

* **Language:**
TypeScript

**Current behaviour:**
Nested if.bind click delegate does not fire wh

[2017-10-04 21:50] jsobell commented on #317
This may be a bug, but remember that `if.bind` doesn't *hide* an element, it removes it from the DOM.
If you want to hide and show it, use `show.bind`. I think you'll find you find your code then works.

[2017-10-05 07:30] discoaaron commented on #317
Yeah, thanks!

For some cases in our application switching things to `show.bind` works fine without any other changes. However this issue is present in many places in our application and switching some instances to `show.bind` required other changes to the view models, which is why we decided to report it as a bug.

If no fix is found (or if this is not really a bug!) we'll just have to switch eve

[2017-10-05 08:55] zenorbi commented on #317
Looks like a duplicate of https://github.com/aurelia/templating-resources/issues/315

[2017-10-05 09:03] discoaaron commented on #317
Ahh yes! I think so!

[2017-10-06 15:20] jamiepollard commented on #317
Looks like when the ViewFactory isn't caching then `unbind` isn't setting the nested items `showing`  state to false correctly anymore. Changing the following seems to fix (although the logic can be re-written to clean it up). This means that when `_show` is called again to re-render the view, `this.showing` will be false again and the bindings will be set up correctly.

[code]

Could do with some

[2017-10-07 00:26] zenorbi commented on #317
@jamiepollard This fixes the problem in our internal project. I hope this or another patch lands soon. Thank you for providing a quick fix.

[2017-10-07 01:31] bigopon opened #319 "[Proposal]: debounce fix"
Currently debounce is working incorrectly because of [this line in binding-expression](https://github.com/aurelia/binding/blob/master/src/binding-expression.js#L68)

[code]

Reverting the value quickly will cause the new `updateSource` to not be called.

Proposal fix: Debounce binding behavior will alter the binding even further, when `methodToDebounce` is `updateSource`:

  * Modify `call`: check

[2017-10-07 22:19] jdanyow commented on #319
@bigopon I think you're on the right track here. I'm experimenting with putting the debounce on the `call` method all the time: https://gist.run/?id=74fb883f778d60583ab7cb6806d43215

[2017-10-08 00:05] bigopon commented on #319
It looks like I didn't take enough steps back. Is there any gotcha that holds you from releasing it ?

[2017-10-08 18:07] jdanyow commented on #319
I'm pretty happy with the [prototype](https://gist.run/?id=74fb883f778d60583ab7cb6806d43215) now, I really like your idea to debounce the `call` method instead of `updateTarget` / `updateSource`. There's a few things that would need to be done before we could release this:

1. It depends on https://github.com/aurelia/binding/commit/970d56db9a73dff516cf51a44a645b0a3e39efe9
2. `& throttle` needs a s

[2017-10-08 23:28] homer0 opened #320 "Allow the possibility to specify the cache type on the `if` attribute"
**I'm submitting a feature request**

* **Library Version:**
1.5.1

**Current behavior:**
This is a follow up for aurelia/framework#602.

A custom element doesn't get destroyed/re-constructed when used with `if` because the model it's being cached.

**Expected/desired behavior:**

After a lot of discussion, we agreed that the feature would be for the `if` to support the following syntaxis:

[code]

[2017-10-09 01:30] jdanyow opened #321 "cleanup: replace oneWay with toView, add toView + fromView binding behavior"
We have some binding behaviors that set the binding mode. Now that we have toView and fromView binding modes we should add the corresponding binding behaviors:

https://github.com/aurelia/templating-resources/blob/0cef07a8cac8e99146d8e1c4b734491bb3dc4724/src/binding-mode-behaviors.js

Also need to standardize the internals on `toView` now that it has landed. We still need to support `oneWay` but t

[2017-10-09 02:56] bigopon commented on #319
What do you think about introducing a binding manager, as sometimes we want to flush all currently debounced binding updates.
Use case: When user input first name, we want to start validating after 1s but then user hit submit, we should flush the debounce immediately and start validating it with the new value instead of the old one.

Is this fix a good chance to deal with that ?

And sure, i'll fi

[2017-10-09 13:53] fragsalat opened #322 "Else CustomAttrbiute not having bindingContext set"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 17.10)

* **Node Version:**
8.4.0

* **NPM Version:**
5.4.2

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
The element having the else attribute has no binding context which leads to missing data when the initial condition is false.
Exa

[2017-10-10 03:47] jdanyow commented on #319
re: binding manager- this kind of api could be added to the [`BindingEngine`](https://github.com/aurelia/binding/blob/77ede7839e20d1acbb8ad997f0852d99ac9043d8/src/binding-engine.js#L13). Would need flush the dirty checker, then the task queue. Sounds like a good change for a separate PR?

re: debounce on input, immediate on blur.... that should be the default behavior for throttle and debounce. Do

[2017-10-10 11:08] nenadvicentic commented on #315
Same problem here.
After template is hidden and shown again, `delegate` binding on some items does not work any more.

[code]

[2017-10-10 14:35] fragsalat commented on #322
Do you need support with this? I mean I can fix this but do you have time to review, merge, test and release the code?

[2017-10-10 23:37] tdamir opened #323 "compose and activate issue"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.2

* **NPM Version:**
5.4.2

* **Browser:**
Chrome, Firefox, probably all

* **Language:**
all

**Current behavior:**
Mixing repeat.for and passing the item to the compose (ie: model.bind) is producing unwanted activate calls. You can

[2017-10-11 04:25] jdanyow commented on #322
@fragsalat we'd definitely take a PR for this

[2017-10-11 04:27] jdanyow commented on #323
@tdamir if you could put a small repro in a [gist](https://gist.run/?id=7542e061bc940cde506b) we can take a look.

[2017-10-11 04:34] StrahilKazlachev commented on #323
@jdanyow I'll have a look. I think this surfaced because I did a fix for a race condition.
From the repro:
[code]
Also I think you did mention a previous issue that this `model.bind="{text: $item}"` results in 2 values(changes) because how it's evaluated.

[2017-10-11 11:21] bigopon commented on #319
Ok lets go for debounce with event then but I'm not sure if the default behavior should be in now as it causes breaking change.

[2017-10-11 12:08] huochunpeng commented on #322
I got exactly the same issue just now when I try the new `else` binding :-(
Just composed an almost identical gist-run.

Having additional binding inside a branch is a common use case. The else binding is a neat new feature, but it looks like it needs more test coverage before I can trust it in production.

[2017-10-11 12:36] powerbuoy commented on #317
I've just updated to the latest version of Aurelia (including all packages). Pretty much every `if.bind` I had in my app is now broken. How do you apply the `IfCore` fix? Just adding the code to `app.js` gives me errors (`IfCore is not defined` - pretty obvious I guess).

[2017-10-11 15:27] fragsalat commented on #322
@huochunpeng I fixed this now and it just has to get merged and released :)

[2017-10-11 17:01] tdamir commented on #323
I've been playing with this a little bit and compose.modelChanged is called twice but only for some items. I've updated the sample app so now on first navigation, 100 items will be generated and modelChanged will be called only for 3 items. If we regenerate items by clicking on button, then count of activate calls will be as expected. If you try to re-generate 101 items, then activate will be call

[2017-10-11 17:38] StrahilKazlachev commented on #323
@tdamir Your above observation is with `model.bind="{text: $item.text}` or `model.bind="$item`?
You can also check this [comment](https://github.com/aurelia/templating-resources/issues/240#issuecomment-266916259).

[2017-10-11 18:00] tdamir commented on #323
The observation is with `model.bind="{text: $item.text}` and it looks like `model.one-time` solves the problem. Thanks!

[2017-10-11 18:13] StrahilKazlachev commented on #323
Earlier I did play around with the sample but did not see anything strange from `<compose>` point of view.

[2017-10-11 21:06] tdamir commented on #323
I agree that `<compose>` looks fine. It activates the view model because model changed (when used like: `model.bind="{text: $item.text}`). I'll be more careful from now when binding object literal.

Sorry for all the trouble. It's just that we haven't had this issue with 1.4.x version. It suddenly appeared when we upgraded to the 1.5.1. Thanks again!

[2017-10-12 04:32] huochunpeng opened #326 "[BUG] ref is null in attached callback in certain nested if.bind"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.5.0

* **NPM Version:**
8.5.0

* **JSPM OR Webpack AND Version**
aurelia-cli 0.31.3

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
A parent component with an inner child component, both behind an if bind.

The app
[cod

[2017-10-12 04:55] huochunpeng commented on #326
I confirm there is no issue on old v1.4.0.

@jdanyow @jods4 can we revert the commit of new if/else implementation? Even if you fix this bug in time, the change introduced by the new implementation is too significant, which worries me about unintended edge cases.

It costed hell of my time on debugging. I have to fix aurelia-templating-resources version to v1.4.0 in my package.json to avoid futher

[2017-10-12 07:07] StrahilKazlachev commented on #323
@tdamir You haven't seen it before because there was an issue where fast consecutive changes were skipped some times.

[2017-10-12 07:20] tdamir commented on #323
@StrahilKazlachev I understand. Do you have maybe idea, in case of `model.bind="{text: $item.text}`, why is modelChanged called only for some items? Is that expected behavior?

[2017-10-12 09:38] discoaaron commented on #326
Hello @huochunpeng

I've submitted a PR with a proposed fix for this issue, feel free to test this solution on your application.
https://github.com/aurelia/templating-resources/pull/324

Duplicate of
https://github.com/aurelia/templating-resources/issues/317
https://github.com/aurelia/templating-resources/issues/315

Other references to this issue
https://github.com/aurelia/binding/issues/628

[2017-10-12 22:26] huochunpeng commented on #326
@discoaaron thx for the fix. Seeing all the new issues raised by the new if binding, I will stay on v1.4.0 for few more weeks.

[2017-10-15 05:13] bigopon commented on #319
@jdanyow

* I think the feature immediate on blur, debounce on input better fits a separate PR. (not as simple as I thought)
* For `debounce`, it's perfect for jasmine clock as it 100% timeout. I finished this and test for it.
* For `throttle`, it's quite challenging if we want to install the clock, as it's based on `+ new Date()`. I think we need to keep your old test. But i'm getting error for t

[2017-10-15 14:04] jdanyow commented on #319
re: separate pr for blur:  sounds good

re: throttle- we could refactor `+new Date()` into a function and provide a way for the tests to replace it.

something like:

*throttle-binding-behavior.js*
[code]

[2017-10-16 05:47] nashwaan commented on #171
It looks like this is now released as part of core aurelia as mentioned in [Aurelia Release Notes - Early October 2017](http://blog.aurelia.io/2017/10/03/aurelia-release-notes-early-october-2017/):

I couldn't find any documentation about it. Is it same as proposed by @cb-fred ?

[code]

[2017-10-16 05:51] EisenbergEffect commented on #171
That's how it works, yes.

[2017-10-18 01:19] jods4 commented on #315
#317 is a duplicate of this but contains an analysis of the cause and a proposed solution in a comment.

@EisenbergEffect We can close this issue and track the problem with #317.

[2017-10-18 01:27] jods4 commented on #326
@discoaaron Is this guaranteed to be a duplicate?
The setup is the same (nested ifs) but the feature is different (`ref`), so I just want to be 100% sure that your PR fixes this before dismissing as a duplicate.

[2017-10-18 16:24] gavinaiken commented on #317
Do you know when the fix for this is going to be released? This is a pretty serious bug that completely breaks any aurelia app using if.bind. Surprised it has been broken so long, anyone new coming to aurelia and getting the latest version might not know to go and get the 1.4 version of the library which works fine. I know it's not always easy to jump on things immediately but in the past aurelia

[2017-10-18 17:08] discoaaron commented on #317
Hey, please see the above PR I submitted last week https://github.com/aurelia/templating-resources/pull/324
The change itself has been reviewed approved, another contributor helped me to add tests today which are pending review, following this it will hopefully be merged and released shortly thereafter.

[2017-10-18 17:36] gavinaiken commented on #317
Sorry, I should have checked the PR, I see there's been lots of activity on there. Was just a bit concerned that the PR was referenced 7 days ago above but it was still waiting for a release.

[2017-10-19 03:13] bigopon commented on #319
It turns out jasmine has `jasmine.clock().mockDate()` to handle that situation But I still cant deal with the throttle test, I think missed something after the main code, been blocking me for 2 days. Can you go ahead and checkout this branch https://github.com/bigopon/templating-resources/tree/templating-resources-debounce to see what I missed in the throttle test ? @jdanyow

I suppress few tests

[2017-10-19 03:54] #317 closed

[2017-10-19 03:55] EisenbergEffect commented on #315
Closing as duplicate of an issue that we've merged the fix for. See #317

[2017-10-19 03:55] #315 closed

[2017-10-19 20:03] aqm5181 opened #327 "if.bind both in and outside the custom element causes ref not to be populated when re-binding"
**I'm submitting a bug report**

* **Library Version:**
1.5.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10 x64

* **Node Version:**
8.6.0

* **NPM Version:**
5.3.0

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.31.3

* **Browser:**
Chrome 61.0.3163.100

* **Language:**
TypeScript 2.08

**Current behavior:**

1. Create project with au new
2.

main.ts
[code]

app.

[2017-10-20 11:08] adrinr commented on #327
I just entered to report the same issue. I'm having the same behaviour in my application

[2017-10-20 16:23] dweber019 commented on #312
@JeroenVinke sadly your fix didn't work for me. I also check the module in the node_modules folder an version 1.5.1 is installed.

Error: Unable to find module with ID: aurelia-templating-resources/else
    at WebpackLoader.eval (webpack-internal:///282:194:35)

[2017-10-20 16:33] JeroenVinke commented on #312
@dweber019 what is the output of `npm ls` ?

[2017-10-22 06:48] dweber019 commented on #312
@JeroenVinke

I listed with depth=1 as we have a huge project.
The only thing I see is that the following dependencies require an older version of templating-resources:
- aurelia-bootstrapper@2.1.1
- aurelia-i18n@2.0.0

[code]

[2017-10-23 21:45] JeroenVinke commented on #312
@dweber019 cc https://github.com/aurelia/templating-router/issues/63#issuecomment-338806077

[2017-10-23 22:55] huochunpeng commented on #326
@discoaaron I confirm your fix in v1.5.2 fixed this issue. Thx!

[2017-10-23 22:58] huochunpeng commented on #327
@aqm5181, try latest v1.5.2.

[2017-10-24 00:16] huochunpeng opened #328 "Leaking (the new) if binding introduced in v1.5.2"
**I'm submitting a bug report**

* **Library Version:**
1.5.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.5.0

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
CLI

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
https://github.com/huochunpeng/ifff

A leaking if binding behind nested if binding

Run the test app,

[2017-10-24 00:25] huochunpeng commented on #328
@EisenbergEffect @jdanyow  @jods4 I am getting really really frustrated of this new if/else binding implementation. The new edge cases are really really hard to debug and repeat.

The new if/else implementation changed too much, created lots of new edge cases (just read through your issue list). The result is breaking everybody's production app. I have to say this is not a production ready feature

[2017-10-24 00:27] EisenbergEffect commented on #328
Did you test out the version that was released last night? That fixed a number of issues.

[2017-10-24 00:28] huochunpeng commented on #328
I am talking about v1.5.2 you just released.

[2017-10-24 00:28] EisenbergEffect commented on #328
I see. Just confirmed that myself. Thanks.

[2017-10-24 00:28] huochunpeng commented on #328
This is a new issue introduced by a fix.

[2017-10-24 00:55] huochunpeng commented on #328
If you wonder what I mean by "Leading", it's a typo of "Leaking". Sorry about that.

[2017-10-24 15:19] dkent600 commented on #323
I suspect this is the same issue, with easy repro case.  The result is that the content is rendered twice for each array item.

[code]

[2017-10-24 16:40] dkent600 commented on #323
I suspect this is the same issue, with easy repro case.  The result is that the content is rendered twice for each array item that is added using `myArray.push(newItem)`.

What is really weird is that when I do a production build, the bug goes away.

[code]

[2017-10-24 22:49] huochunpeng commented on #328
Update: confirmed this issue still occurs in latest v1.5.3.

[2017-10-25 21:20] JeroenVinke commented on #311
Make sure to remove the package-lock.json (or yarn.lock) from the project directory before you run `npm install`. We've had a few reports lately where updating libraries was causing issues because of the lock files

[2017-10-25 22:02] jods4 commented on #328
@huochunpeng 1.5.3 was a PR for a problem with `else`, not `if`.
Sorry it's been that bad, I have had a good look at it and I think I have a proper fix ready in the PR above.

[2017-10-25 23:09] huochunpeng commented on #328
Update: @jods4 your PR fixed this issue.

[2017-10-26 20:34] jods4 commented on #328
@huochunpeng Thanks for taking the time to try it! It's good to get confirmation before publishing.

[2017-10-27 23:37] #328 closed

[2017-10-30 00:02] huochunpeng opened #332 "tests for repeat is not testing the source code in src/ folder."
**I'm submitting a bug report**

* **Library Version:**
1.5.4 (this should affect all versions since the beginning)

* **Operating System:**
OSX 10.13

* **Node Version:**
8.5.0

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
NA

* **Language:**
NA

**Current behavior:**
I was investigating the ci test failure on latest v1.5.4 build.
It's a failure test ab

[2017-10-30 00:07] huochunpeng commented on #332
just found out this is a duplicate of #300

[2017-10-30 00:10] huochunpeng commented on #300
It seems this is left unattended for too long. I just created a duplicated issue, with some unsuccessful attempts to fix.

[2017-11-01 17:14] jods4 commented on #322
This should be fixed in the current release, I think we can close this issue?
@EisenbergEffect

[2017-11-01 21:00] #322 closed

[2017-11-09 11:54] thomas-darling commented on #270
I agree that something that is no longer on a standards track and only works in one browser anyway, should probably be removed. However, that leads to another question:

What is the recommended way to achieve CSS scoping, and what are the thoughts on it going forward?
I can't seem to find anything in the docs related to this.

[2017-11-09 12:23] jods4 commented on #270
At the time I opened this ticket, `scoped` was supported by Firefox, meaning it would have been a breaking change to remove it, as someone could have built an Aurelia app targetting FF only.

Since then, FF has moved that feature behind a config flag in FF 55, which means it works in _no browser at all_ today.
This is dead code and I think at this point we should remove it.

@thomas-darling Standa

[2017-11-25 19:26] dkent600 commented on #171
This is great, would've been nice if it also worked with 'show'  (show/else)

[2017-12-12 03:33] firelizzard18 opened #335 "`<compose>` inserts contents twice"
**I'm submitting a bug report**

In certain circumstances, `<compose>` will result in contents of a template being added to the DOM twice. This is because `Compose.bind` and `Compose.unbind` do not wait for previously queued updates to complete before requeueing more updates. Thus, if `bind`, `unbind`, and `bind` are called in quick succession, `CompositionEngine.compose` is called a first time an

[2018-01-13 11:42] huochunpeng commented on #222
@jdanyow, is it on the near future roadmap to implement your proposal?

I also want to suggest an amendment. I really want to use `inherit-binding-context` attribute not only on compose tag, but also on any custom component tag. So that we can turn it on like `<child inherit-binding-context></child>` without using verbose `@processContent` annotation.

I am one of the minority who want to use inhe

[2018-01-15 00:21] tlawandi opened #338 "signalBindingBehavior.bind has incorrect typings"
**I'm submitting a bug report**

* **Library Version:**
1.5.4

* **Operating System:**
10

* **Node Version:**
v6.11.2

* **Language**
TypeScript Version 2.5.1

**Current behavior:**
The Typings for SignalBindingBehavior.bind only takes 2 parameters.

**Expected/desired behavior:**
* **What is the expected behavior?**
Typing definitions should match the number of parameters the JavaScript code all

[2018-02-02 14:38] #319 closed

[2018-02-08 09:43] RomkeVdMeulen commented on #171
Any plans for `switch` or `else if`?

[2018-02-14 01:07] EisenbergEffect opened #341 "Debounce is not updating input correctly if value has been re-typed"
@GabrielMancik commented on [Mon Feb 12 2018](https://github.com/aurelia/binding/issues/666)

I'm submitting a bug report

Library Version:
1.6.0

NPM Version:
5.3.0

JSPM Version:
0.16.48

Browser:
Chrome 60.0.3112.113 (Official Build) (64-bit)

Language:
TypeScript 2.3.4

Current behavior:
Steps to reproduce:
Please use your own demo for testing (http://aurelia.io/docs/binding/binding-behaviors)

[2018-02-16 11:42] huochunpeng commented on #341
@GabrielMancik I used to see this problem in my app, and I confirm #336 fixed it. I am using the fixed debounce locally.

Can you do a local test again?
To ensure you are running fixed version of debounce, copy the fixed debounce to your local `/src/resources/binding-behaviors/de-bounce.js` (plus rename the class to `export class DeBounceBindingBehavior`).

Then in your html file, try `<input valu

[2018-02-16 11:44] huochunpeng commented on #341
@GabrielMancik I can reproduce the exact issue you described with old debounce, but not with fixed debounce.

[2018-02-21 10:05] Sayan751 commented on #323
I am also facing similar issues. I am composing a view with `compose` like below:

[code]

And then `MyVwModel` looks like:

[code]

The `activate` in `MyVwModel` is being called twice. That's why, I have used `activated` to avoid executing the code twice, which can be expensive for obvious reasons. But this is a workaround, I don't particularly like.

Thus, my question, is there a solution/cleane

[2018-02-22 00:24] huochunpeng opened #342 "CircleCI keeps failing probably due to very old npm version"
**I'm submitting a bug report**
* **Library Version:**
1.5.4
* **Operating System:**
Ubuntu on CircleCI
* **Node Version:**
4.2.6
* **NPM Version:**
2.14.12
* **JSPM OR Webpack AND Version**
NA
* **Browser:**
NA
* **Language:**
all | TypeScript X.X | ESNext

**Current behavior:**
CI test failed probably due to old npm version.

**Expected/desired behavior:**
Understand aurelia supports nodejs 4.x

[2018-02-26 11:21] Alexander-Taran commented on #287
fix merged
gist runs as described in desired behavior
can be closed

[2018-02-26 16:41] #287 closed

[2018-02-26 23:27] Alexander-Taran commented on #237
could be: won't fix

[2018-02-26 23:30] EisenbergEffect commented on #237
Yeah. I don't think we're planning to fix this since the `css` attribute is really only for when you need to bind styles. It technically only exists because of a bug in IE (and maybe Edge too, can't remember anymore) that prevents using interpolation directly within the `style` attribute.

[2018-02-26 23:30] #237 closed

[2018-02-26 23:34] Alexander-Taran commented on #293
well docs state it like:

in other words, it augments binding with a possibility to force reevaluation
usual path of observation still applies.

[2018-02-26 23:34] Alexander-Taran commented on #293
can be closed

[2018-02-27 08:53] szogun1987 commented on #222
I use 1.1.5 version of framework. I found following issue related to this improvement:
I have view-model that contains router in it. It has "data" field. One of the view-models displayed in router-view also contains "data" field that is loaded asynchronously. Data from parent view-model is displayed until data is loaded. In my opinion value from parent shouldn't be used if local view-model contain

[2018-02-27 16:01] Alexander-Taran commented on #270
if the decision is to drop it, help_needed and prs_welcome are appropriate tags for this.

[2018-02-27 21:27] huochunpeng commented on #222
@szogun1987 as a workaround, you can predefine a placeholder for `data` field instead of waiting async creating, so it can over-shadow the `data` of parent binding context.

[code]

[2018-02-27 23:46] Alexander-Taran commented on #253
not sure if it should be added to documentation. unless there are side effects like i++

maybe can be closed

[2018-03-01 00:58] Alexander-Taran commented on #228
well debounce does not know about events
updateTrigger is very trigger happy..

the way I see it is there can be another behavior combining the two.. but its kinda not dry
and not separated.. definitly doable though..

plugin?

[2018-03-01 01:07] Alexander-Taran commented on #241
Using sass is supported and documented
I don't see how referenced commit alone alow for supporting sass.

And no activity since september 2016

[2018-03-01 01:20] Alexander-Taran commented on #257
Should be closed

[2018-03-01 01:31] Alexander-Taran commented on #273
attach focus from dialog is what you want..
question is how many developers thought about using focus.one-way

[2018-03-01 01:38] Alexander-Taran commented on #276
I think @gpetrioli comment points to why .sort() mangles stuff.
https://github.com/aurelia/framework/issues/721

Other than that - stale issue

[2018-03-01 02:50] EisenbergEffect commented on #257
Closing this since we're not planning on adding a dirty flag. Using existing plugin points, such as binding behaviors, this could be built as an addon.

[2018-03-01 02:50] #257 closed

[2018-03-01 02:54] EisenbergEffect commented on #276
Will close this since we have a `let` implementation in progress that seems like it should be able to handle this scenario.

[2018-03-01 02:54] #276 closed

[2018-03-01 08:01] Alexander-Taran commented on #321
https://github.com/search?l=JavaScript&q=org%3Aaurelia+.one-way&type=Code
not that much to change.. I can get PRs for code and .md

[2018-03-01 09:06] arabsight commented on #241
support for various css extensions was added a while back
https://github.com/aurelia/templating-resources/releases/tag/1.4.0
https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js#L73

[2018-03-01 10:16] Alexander-Taran commented on #241
can be closed

[2018-03-03 03:49] mattgaspar commented on #293
`oneTime` only applies to the initial binding behavior.  If you add a `signal` it will still work as desired in this issue.
I'm not sure if order is important but I always include the oneTime behavior before the signal.

`repeat.for="[i, comment] of comments & oneTime & signal:'comment-added'"`

[2018-03-03 19:33] Alexander-Taran commented on #283
seems like a good candidate for contrib

this one seesm to not get into core

[2018-03-03 22:00] EisenbergEffect commented on #283
I think we'll close this since I agree it doesn't need to be in the core of the framework and can be added via a plugin.

[2018-03-03 22:00] #283 closed

[2018-03-03 22:03] Alexander-Taran commented on #283
Oh.. and to add ~~insult to the injury~~ some insight: there is a plugin for that already
https://github.com/tomtomau/aurelia-mousetrap

[2018-03-08 17:41] Alexander-Taran commented on #341
can be closed

[2018-03-08 17:47] #341 closed

[2018-03-19 21:34] Alexander-Taran commented on #281
@jdanyow what did you had in mind about blur trigger?

[2018-03-22 09:41] ernstc commented on #247
I am having the same issue. Below my dependencies:

"devDependencies": {
    "@types/node": "^9.4.7",
    "@types/globalize": "0.0.30",
    "@types/webpack-env": "^1.13.5",
    "aspnet-webpack": "^2.0.3",
    "aurelia-webpack-plugin": "2.0.0-rc.5",
    "css-loader": "^0.28.11",
    "extract-text-webpack-plugin": "^3.0.2",
    "file-loader": "^1.1.11",
    "html-loader": "^0.5.5",
    "json-loader"

[2018-03-22 09:53] Alexander-Taran commented on #247
@ernstc  you probably use npm and you have package.lock.json
Delete that file and node_modules and reinstall dependencies.

It is an npm issue

It was discussed a lot @ https://discourse.aurelia.io/
and in https://gitter.im/aurelia/Discuss

[2018-03-22 10:29] ernstc commented on #247
@Alexander-Taran problem resolved. Thanks!

[2018-03-24 23:13] Alexander-Taran commented on #342
[![CircleCI](https://circleci.com/gh/aurelia/templating-resources.svg?style=shield)](https://circleci.com/gh/aurelia/templating-resources)

can be closed

[2018-03-24 23:28] Alexander-Taran commented on #270
Ok there is a silent consensus that this should be removed.
As nobody objects.
Is is a ctrl-a shift-del operations?
Or it needs a week to carefully delete some lines of code?

[2018-03-25 04:59] #342 closed

[2018-03-28 23:26] Alexander-Taran commented on #338
Would you like to provide a pull request for it @tlawandi ?
Seems like a reasonable enhancement.

[2018-03-28 23:27] Alexander-Taran commented on #335
Would you like to provide a pull request for it @firelizzard18 ?

[2018-03-29 00:27] Alexander-Taran commented on #239
does not seem to be the case anymore

https://gist.run/?id=b10cbbd39a47dc577bc1adf9ec75b3de

probably can be closed

[2018-03-29 18:02] firelizzard18 commented on #335
The aurelia application I'm working on is owned by my employer, so I'm not sure how likely it is that I'll be able to contribute. My understanding is that you only have a personal contributor agreement, thus my employer would have to assign to me the rights of my work on aurelia.

[2018-04-05 01:41] bigopon commented on #301
the main PR that makes this compelling was closed, and enabled in plugin form. If anyone interested in this feature, please discuss at https://github.com/aurelia-contrib/aurelia-typed-observable-plugin

[2018-04-05 01:41] #301 closed

[2018-04-05 11:16] andlebed commented on #310
I also noticed that all lifecycle hooks are triggered except **unbind**.

[2018-04-05 19:37] firelizzard18 commented on #335
I'd like to contribute, but

[2018-04-05 19:38] firelizzard18 commented on #335
Did not mean to close this

[2018-04-17 23:24] timfish opened #346 "Rethrow errors caught if compose fails"
We had some files not deploy correctly and the first thing we knew about it was a report from a tester whereas I would have expected something almost immediately from our error reporting provider.

Reproducing it myself I can see the following in the console which is written to the logger at [this line](https://github.com/aurelia/templating-resources/blob/fdb881733ce41d0ea07b3794d71a03fcfb88db44/s

[2018-04-20 14:10] mpoelman opened #347 "Issue when upgrading from 1.4.0 to >= 1.5.0"
**I'm submitting a bug report**

* **Library Version:**
1.5.0 and up

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
5.8.0

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView

* **Language:**
TypeScr

[2018-04-23 07:35] saqibn commented on #276
any status on this?

[2018-04-23 09:12] mpoelman commented on #347
Yeah I forgot to mention that, I tried that before (multiple times).

It's not a big issue, but it would be nice to be up-to-date.

[2018-04-25 07:05] mpoelman commented on #347
`{
  "name": "...",
  "type": "project:application",
  "platform": {
    "id": "web",
    "displayName": "Web",
    "output": "scripts",
    "index": "index.html",
    "baseDir": "."
  },
  "transpiler": {
    "id": "typescript",
    "displayName": "TypeScript",
    "fileExtension": ".ts",
    "dtsSource": [
      "./custom_typings/**/*.d.ts"
    ],
    "source": "src/**/*.ts"
  },
  "markupProces

[2018-04-25 13:12] iiiyx commented on #249
@niieani Please advise any approach how we can debug styles (CSS or SASS) required from the templates. You just denied extracting them.
[code]

[2018-06-01 13:31] Mobe91 commented on #64
I also require a solution for this.
I have a modal dialog that looks something like this:
[code]
The `my-compose` view peforms some asynchronous loading on `activate` based on the passed `myData`. I need a way in the parent component to wait until the loading is done before I display the dialog.

[2018-06-01 13:56] StrahilKazlachev commented on #64
@EisenbergEffect I can take it. If you think this is not redundant just reopen the issue.

[2018-06-20 08:37] bigopon commented on #310
@EisenbergEffect Fixed by aurelia/templating#592

[2018-06-20 08:46] bigopon commented on #281
Workaround is to add a `debounce` to `blur.trigger`:

[code]

I think the reason is because binding doesn't have time to sync with the source. Sniping @fkleuver

[2018-06-20 08:59] bigopon commented on #327
@EisenbergEffect This was fixed by #331

[2018-06-26 13:01] YardGnomeNinja opened #351 "Footer element in compose element results in error"
**I'm submitting a bug report**

* **Library Version:**
1.7.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.11.3

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
webpack 4.1.1

* **Browser:**
Chrome 67.0.3396.87

* **Language:**
TypeScript 2.7.2

**Current behavior:**
Using a compose element to include a view-model containing a f

[2018-06-26 13:11] StrahilKazlachev commented on #351
Are you sure the *footer* view and VM are in the build? You are passing a *moduleId* to `<compose>` but I don't see anywhere something like `PLATFORM.moduleName('resources/elements/footer');`.

[2018-06-26 13:43] YardGnomeNinja commented on #351
In my main project, where I discovered this issue, I have a number of compose elements defined in this way without issue. I have not defined any of them as modules.

I have also tested by commenting out only the `footer` element and retained the rest of the content of footer.html and found it to work as long as `footer` was commented out.

[2018-06-26 13:50] YardGnomeNinja commented on #351
I've also just discovered, this happens with an `aside` element as well. Again, as long as I comment out the `aside` element and retain the contents of the element, the page loads without error.

[2018-06-26 14:00] YardGnomeNinja commented on #351
For sake of thoroughness, I added `.plugin(PLATFORM.moduleName('resources/elements/footer')` to `aurelia.use` in main.ts and the issue remains.

[2018-06-26 14:15] StrahilKazlachev commented on #351
I did not mean to pass it to `Aurelia.plugin` - it is not a plugin.

[2018-06-26 14:31] YardGnomeNinja commented on #351
Sorry, I'm new to the whole Webpack thing. I've only ever seen anything included that way as a plugin. What is the alternative?

[2018-06-26 14:35] StrahilKazlachev commented on #351
So the issue turns out different, as by @bigopon 's explanation, the issue is the VM name `class Footer`. By convention this turns in a custom element - `<footer>`. Also custom elements are available in themselves. So now in the view(`footer.html`) you have a recursion.

[2018-06-26 14:38] YardGnomeNinja commented on #351
That makes perfect sense. Sorry for posting an issue about it. I wasn't aware that was how that worked. Thanks for your insight!

[2018-06-26 14:38] #351 closed

[2018-07-05 14:53] soulhunter1987 commented on #171
One more vote for switch support!

[2018-07-10 09:34] nenadvicentic opened #354 "`repeat.for` on `<template>` element does not work in IE11"
**I'm submitting a bug report**

* **Library Version:**
1.8.1

aurelia-templating-router: 1.3.2
aurelia-templating-resources: 1.7.1
aurelia-templating-binding: 1.4.3
aurelia-binding: 2.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.2

* **Yarn Version:**
1.7.0

* **Browser:**
IE 11

* **Language:**
all

**Current behavior:**
`repeat.for

[2018-07-10 09:49] Alexander-Taran commented on #354
https://github.com/aurelia/html-template-element/issues/3

[2018-07-10 10:54] nenadvicentic commented on #354
I read the thread and it's companion https://github.com/aurelia/templating/issues/565. But I did not see any solution.

At the end, no proposed workaround was implemented? Like repeat syntax in the form of HTML comment or mentioned `template-start`, `template-end` attributes?

[2018-07-10 14:45] Alexander-Taran commented on #354
@nenadvicentic for your example markup you can safely move repeat to `tr` tag
if you have more rows you can move repeat onto `tbody` tag which is proposed in the thread I linked.

[2018-07-11 11:39] nenadvicentic commented on #354
@Alexander-Taran It's more then one row in real-life application. Repeated`tbody` tags will screw up table styling a bit, but if there is nothing better, it's fair enough.

[2018-07-11 12:31] bigopon commented on #354
@nenadvicentic Well, it's been long known as a limitation of IE html parser. There is a work around for that, by constructing the view manually and use static view:

[code]

It should work for IE

[2018-07-11 13:51] nenadvicentic commented on #354
@bigopon I tried to test your example, because it looks very interesting to me, but I could not make it work. Do you know maybe what has to be configured in the startup, so that application does not try to load `app.html`, which I removed?

[2018-07-11 14:48] bigopon commented on #354
@nenadvicentic You will need to use the following:

[code]

For more info, you can have a look at https://aurelia.io/blog/2018/06/24/aurelia-release-notes-june-2018

[2018-07-12 09:33] nenadvicentic commented on #354
@bigopon Double-checked. I am using correct versions. Problem was `setRoot(...)`. I don't know how to configure it, so that application does not to try to load both `.js` and `.html` file.  It might not even be possible.

But, I moved logic from `App` class to the custom element `my-table` and got application to start correctly. Unfortunately, then I've got errors with read-only properties on HTML

[2018-07-12 09:33] #354 closed

[2018-07-12 14:00] nenadvicentic opened #355 "`repeat.for` does not work over `router.navigation` when `<require>` tag is used on the same page"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

aurelia-binding@2.1.1
aurelia-templating@1.8.1
aurelia-templating-binding@1.4.3
aurelia-templating-router@1.3.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **Yarn Version:**
1.7.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When trying to render navig

[2018-07-12 14:20] bigopon commented on #355
Relevant discussion

* https://discourse.aurelia.io/t/using-require-breaks-router/1411/5
* https://github.com/aurelia/templating/issues/632

@nenadvicentic Can you try with the snippet mentioned at https://github.com/aurelia/templating/issues/632#issuecomment-404368423

[2018-07-12 14:33] nenadvicentic commented on #355
@bigopon yes, this fixed the issue, when I dropped your code in `main.ts` file. However, I do not think this is Bluebird bug, since earlier versions of Aurelia did not have this issue with same version of Bluebird 3.5.1

[2018-07-13 05:39] huochunpeng commented on #355
@nenadvicentic
Explained here. This failure is the result of 2 bugs, not one.
https://discourse.aurelia.io/t/using-require-breaks-router/1411/23?u=huochunpeng

[2018-07-13 13:24] rluba opened #356 "oneTime binding inside if inside repeat does not work as expected"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
8.9.1

* **NPM Version:**
61.0

* **JSPM OR Webpack AND Version**
 webpack@4.8.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Similar to aurelia/framework#301: `repeat.for` and `oneTime` bindings don’t work properly toget

[2018-07-13 14:07] rluba commented on #356
After having a quick look at how repeat works, it is clear why this fails.

repeat simply tries to update all one-time bindings it knows about, but it fails to find one-time bindings within any child views, eg., when using custom elements or `@templateController` attributes like `if`.

The only reliable solution I see is disabling `repeat`s [view-reuse](https://github.com/aurelia/templating-resour

[2018-07-13 18:56] rluba commented on #356
After trying for a few hours, it seems to me like there’s no way to

- either reliably find all one-time bindings that might need updating from [within `repeat.updateBinding`](https://github.com/aurelia/templating-resources/blob/28ceddc40fcb98adc2801e4c772e3df6586299dc/src/repeat.js#L272-L286),
- or detect if a viewFactory might contain a one-time binding and flag it with `_viewsRequireLifecycle`

[2018-07-15 00:29] EisenbergEffect commented on #356
@rluba Is the reason that it's difficult to find because some oneTime bindings are the result of a binding behavior rather than a attribute binding command?

@jdanyow Worked most on the this area of code, so he might have some ideas on what we can do. If it's a result of what I mention above, maybe there's some way we can reliably and consistently tag things.

[2018-07-17 04:58] #355 closed

[2018-07-17 13:22] stefan505 opened #358 "Repeater duplicating rendered items when pushing record(s) into an array"
**I'm submitting a bug report**

* **Library Version:**
1.7.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.3

* **NPM Version:**
5.8.0

* **JSPM OR Webpack AND Version**
webpack 4.12.0

* **Browser:**
all

* **Language:**
TypeScript 2.9

**Current behavior:**
Performing a `repeat.for` with multi-element layout produces strange duplicate r

[2018-07-18 08:37] bigopon commented on #358
From the look of your workaround, I think the bug you described should already be resolved. Can you do a clean `npm install` (or equivalent) without lock ?

[2018-07-18 11:39] stefan505 commented on #358
@bigopon I've done that prior to submitting the bug to no avail.

After digging deeper, I discovered the actual cause. There was an outdated `aurelia-i18n` dep that caused this issue. After upgrading from `2.2.0` to `2.3.1` it works fine.

What puzzles me is that analysing the package-lock.json prior to the lib upgrade revealed not obvious oddities regarding dependency deduping, etc. Perhaps I mis

[2018-07-18 11:39] #358 closed

[2018-07-20 11:44] rbakhshi commented on #310
That commit didn't fix this problem. But the workaround works fine

[2018-07-26 15:40] zakjan opened #359 "Compose with view-model class reference doesn't activate correctly"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Current behavior:**
When using compose with view-model class reference, it doesn't accept model. Activate method is not run.

Also getters don't work with data inherited from parent context.

Gist: https://gist.run/?id=5c2d55c58bb270bfab2f41026898cd23

**Expected/desired behavior:**
* **What is the expected behavior?**
It should be p

[2018-07-26 16:33] StrahilKazlachev commented on #359
To use class reference in `<compose>` you'll need `>=aurelia-templating@1.8.0`, preferably `>=1.8.2`. The gist you've provided uses an older version.

[2018-07-26 20:22] zakjan commented on #359
It's the official gist from the local issue template...

I'm having similar issues in a project with aurelia-templating 1.8.2

[2018-07-26 21:03] StrahilKazlachev commented on #359
1. It may be from the issue template *but* it is not using the latest templating.
2. *Do* follow the issue template, it's there for a reason - are you using webpack, requirejs, systemjs, ...?
3. I created a new project with `aurelia-cli`(*requirejs*, babel) and I get all 4 columns with the same values, so it seems to work

When using a `class` for `view-model` and **not** providing the `view` in s

[2018-07-27 07:59] zakjan commented on #359
Sorry for thinking that the official gist is updated to the latest version. That's why I thought Webpack is irrelevant, same as OS is usually irrelevant. I'm closing this.

[2018-07-27 07:59] #359 closed

[2018-07-27 08:01] StrahilKazlachev commented on #359
Did you resolve the issue?

[2018-07-27 08:06] zakjan opened #360 "Compose with class reference reuses the same class instance in repeat.for"
**I'm submitting a bug report**

* **Library Version:**
1.7.1

**Please tell us about your environment:**
* **JSPM OR Webpack AND Version**
Webpack 4.16.2

**Current behavior:**
compose with class reference reuses the same class instance in repeat.for, leading to the last element from repeat.for being displayed everywhere

Demo: https://stackblitz.com/edit/aurelia-compose-activate-2

Note the cons

[2018-07-27 08:12] zakjan commented on #360
on hold, still some issues with replicating

[2018-07-27 08:12] #360 closed

[2018-07-27 08:35] huochunpeng commented on #360
If you only have issue in your app, but not in demo, have a look of aurelia/binding#702, there is a solution for fixing duplicated aurelia-binding which causes many weird bugs. It might be related.

[2018-07-27 09:30] zakjan commented on #359
Yes, even after I updated aurelia-templating from 1.8.1 to 1.8.2, I forgot to update vendor webpack dll bundle. The old version was stuck there, causing #360.

[2018-07-27 19:12] rluba commented on #356
@EisenbergEffect Yes, that’s the reason. The binding behaviors can only be distinguished and enumerated after they have been instantiated. I’d be interested to hear @jdanyow’s suggestions because [my solution](https://github.com/aurelia/templating-resources/pull/357) seems to work, but is far from idea.

[2018-07-27 21:52] EisenbergEffect commented on #356
@jdanyow Can you take a look at the PR linked above and let us know what you think?

[2018-07-28 05:20] bigopon commented on #356
The fix proposed looks good enough for me for `repeat`, `if`. Is there any reasons why you didn't go for `with`, `replaceable` @rluba ?

[2018-07-28 08:08] rluba commented on #356
Only because I haven’t used them yet. @bigopon Can you give me an example for both? Then I’ll update my solution to fix them, if necessary.

[2018-07-28 10:36] bigopon commented on #356
@rluba `with` in aurelia template works like the way `with` works in JS. `replaceable` works similar to slot, with 2 additional notes: it's single level and works with dynamic template (read template controllers i.e `if`, `repeat` )

[code]

[2018-08-07 14:34] roelplieger commented on #355
@EisenbergEffect we still seem to have this problem even with aurelia-templating 1.8.2, no navigation items visible. As a workaround I am now using an if.bind so the navigation is rendered after router.navigation is filled:

                <a class="bncMainNav__menuItem ${row.isActive ? 'bncMainNav__menuItem--active' : ''}"
                   if.bind="router.navigation.length"

[2018-08-08 01:50] huochunpeng commented on #355
@roelplieger be sure to test in Edge (and even IE if you want to support it), the repeat.for and if.bind will be executed in reversed order in Edge.

And for your issue itself, can you show some code to reproduce it in a gistrun?

[2018-08-08 06:53] roelplieger commented on #355
@huochunpeng thanks for the tip, tested the workaround in both IE and Edge, it works :-)
I will try to reproduce the problem in a gistrun.

[2018-08-08 06:56] huochunpeng commented on #355
@roelplieger sorry to ask, could you test IE and Edge without the workaround? Just to clean up some doubt.

[2018-08-08 07:34] roelplieger commented on #355
@huochunpeng tested on IE, Edge, FF and Chrome, there's no menu without the workaround.

[2018-08-08 07:56] huochunpeng commented on #355
@roelplieger thx!
Previous bug in 1.8.1 is an edge case when using with bluebird. When bluebird is not in use, the issue goes away.

Not sure about your issue. If your one is still related to bluebird, you wouldn’t be able to reproduce it in gistrun as our gistrun does not bundle blubird.

[2018-08-08 08:05] roelplieger commented on #355
@huochunpeng ok, I now know what causes the problem, but it's hard to create a gistrun for it because of the complexity. I am using security, the user must login before menu and content are displayed. In app.html I have this:

    <div class="bncMainContainer"
         if.bind="currentUser.username">

        <bnc-menu class="bncMainContainer__menu"
                  router.bind="router"></bnc-men

[2018-08-08 12:38] huochunpeng commented on #355
@roelplieger I tried to use your html to reproduce, but could not find a way to reproduce. Wonder how you populate route config.map. Do you populate the routes map statically before login, or do you mutate the routes using `router.addRoute(...)` after login? Can you share the code of your app.js?

[2018-08-08 14:09] roelplieger commented on #355
@huochunpeng ok, it's rather big :-)

import { inject, Container } from 'aurelia-framework';
import { Redirect } from 'aurelia-router';
import { FallbackRouteService } from 'components/bnc-menu';
import { NetworkingService } from 'bnc-networking';
import { SecurityService, LogoService } from 'components/usermanager';
import { BncActionService } from 'components/bnc-action-list/bnc-action-service';

[2018-08-08 23:50] huochunpeng commented on #355
@roelplieger I have no luck on reproducing it. If you can reduce your app into a minimum debug app, that will help.

You can reduce your features one by one, cut off your routes into one or two dummy pages, remove AuthorizeStep (it feels unlikely the cause)... In the end, it probably related to the timing of your userProfileChanged event, but this is only my wild guess.

Not sure if this helps to

[2018-08-09 03:58] PhanindraKumar commented on #188
@jdanyow  the plunk you provided shows the router functionality but does not show any thing about making part bindable . Can you clarify how that solves the issue.

[2018-08-09 07:42] roelplieger commented on #355
@huochunpeng thanks for the tips, I will keep on using the workaround where I have if.bind="currentUser.username" on each div inside the bncMainContainer.

[2018-08-17 19:06] rluba commented on #356
I finally gave it a try: I can’t find any unexpected behavior when using `with` or `replaceable` with `oneTime` bindings – at least no when using my fix for `repeat`.

[2018-08-20 01:27] EisenbergEffect commented on #356
Thanks for testing that out @rluba and thanks for your patience in this! @bigopon Can you make a final review of the fix that @rluba is proposing and make a recommendation? If you don't see any other issues then we can get this merged and probably released in the next few days. Let me know what you think.

[2018-09-21 10:15] mpoelman commented on #347
I tried updating aurelia-templating-resources (and aurelia-templating-router) again. It still doesn't work, but now I get a different error message than before.

``Unhandled rejection Error: Invalid resource path [function Compose(element, container, compositionEngine, viewSlot, viewResources, taskQueue) {            _initDefineProp(this, 'model', _descriptor, this);      _initDefineProp(this, 'vi

[2018-09-21 10:35] davismj commented on #347
What is your framework version?

[2018-09-21 12:29] StrahilKazlachev commented on #347
You are not getting all the correct dependencies. `.autoRegister` is from `aurelia-templating@1.8.0`. Check your lock files.

[2018-09-21 13:17] mpoelman commented on #347
Hero. I think I somehow ruined my package.json by adding more aurelia packages to it. Basically you only need `aurelia-bootstrapper` right? I also added `aurelia-router`, `aurelia-templating-resources` and such.
After cleaning up my package.json and running `npm install` again, I got it working.

Thanks for the help!

[2018-09-28 16:53] hdplampert commented on #310
Another reproduction here:
https://gist.run/?id=2626ec6901e7876c586edada483e4f99
Click on Add, then Remove. Take a heap snapshot after forcing garbage collection. Look for objects with constructor Item.

It looks like ShadowSlot is keeping references to it's children but never disposing of them.
Removing those references on `ShadowSlot.removeView` appears to solve the leak, but I'm not sure if it

[2018-09-29 04:57] bigopon commented on #310
@hdplampert I don't think the gist is running on latest version of Aurelia. Can you try again with this https://codesandbox.io/s/9zzq38mn94

[2018-10-12 10:45] Alexander-Taran commented on #347
Can be closed

[2018-10-19 09:12] #347 closed

[2018-10-19 12:27] czeslav87 commented on #347
Just had the same issue on  framework 1.3.0 and aurelia-templating 1.10.0. When i locked aurelia-templating version to 1.8.3 it works fine.

[2018-10-25 09:09] homer0 commented on #320
@EisenbergEffect ping - Sorry to bother, but it has been a year, any news on this? Thanks.

[2018-10-26 04:38] EisenbergEffect commented on #320
Apologies @homer0 The core team hasn't had an opportunity to address this yet and it's unlikely we'll be able to do it for vCurrent. We would be happy to take a PR from you to add this functionality though. Please feel free to submit one and /cc me and @bigopon for review. We'd love to get it in.

[2018-10-26 05:38] homer0 commented on #320
@EisenbergEffect No worries, I know you guys have been busy. Unfortunately, I don't know Aurelia that well yet, so I wouldn't know where to start in order to add the functionality myself.

The truth is that at the time I opened the issue, I kinda stopped using Aurelia for a while, things like this and the lack of support for SSR were deal breakers for the team. I started using it again like a mont

[2018-10-26 05:46] Sayan751 commented on #320
@homer0 I won't say that I have understood the problem statement completely, but there is a [`class.bind`](https://aurelia.io/docs/binding/class-and-style#class) that you can use, instead of creating your own. If your use case is different, please ignore this comment.

[2018-10-26 06:01] homer0 commented on #320
@Sayan751 Thanks! but I wanted to avoid the ternary; it will look _ugly_ if I have, let's say, 3 _"conditional classes"_.

But my question was more about how to desing the custom attribute value... and after writing "value" I started to realize that changing from `my-attribute.bind="{ myClass: someTruthyValue }"` to `my-attribute="myClass: someTruthyValue; myClass1: someTruthyValue1;"` doesn't mak

[2018-10-26 06:29] Sayan751 commented on #320
@homer0
This is not a direct answer to your question. I am merely suggesting the already available stuffs in Aurelia that you can use, instead of creating something of your own.

For your specific use case of assigning multiple conditional classes to your element you can use tagged templates. It came out with the June 2018 release: https://aurelia.io/blog/2018/06/24/aurelia-release-notes-june-2018

[2018-10-26 06:38] homer0 commented on #320
@Sayan751 thank you so much for the answer, I wasn't aware of that, that's pretty interesting.

Buuuut.... I wouldn't use that for something like a `class`. I believe the view-model shouldn't never handle something like a CSS class, that's a resource it should only be handled by the view, as it's "part of it", IMO.

[2018-10-26 06:53] Sayan751 commented on #320
Though I have never used it, but custom attribute with dynamic options seems like a good candidate for your use case. https://aurelia.io/docs/templating/custom-attributes#dynamic-options-binding

Basically, in the observer, apply the 'name' as a class of the element if the 'new Value' is true (assuming you have boolean expressions).

[2018-10-26 06:55] homer0 commented on #320
@Sayan751 Yes! that's exactly what I wanted. Once again, thank you so much :D!

[2018-10-26 07:09] Sayan751 commented on #320
@homer0  You are welcome; Happy to help :)

[2018-10-26 14:28] jods4 opened #362 "Error in typings"
**I'm submitting a bug report**

**Library Version:** 1.7.0, related: `aurelia-binding@2.0.0`

**Current behavior:**
After I import something from this module directly, for example:
`import { BindingSignaler } from 'aurelia-templating-resources';`
Its definition file seems to be brought into the Typescript (3.0.3) compilation and creates errors:
[code]

**Expected/desired behavior:**
No errors in

[2018-11-26 20:17] gooeyideas commented on #243
This is really useful and it should be added as the default example for [Creating a Custom Binding Behavior
](https://aurelia.io/docs/binding/binding-behaviors#custom-binding-behaviors) in the documentation!

This creates a conversion pattern for Knockout's `eventBubble: false` binding.

[2018-11-26 23:33] bigopon commented on #243
@gooeyideas Would be really awesome if you could help with the doc with this. Join us building Aurelia https://github.com/aurelia/aurelia/issues/318#issuecomment-441827326 😆

[2019-01-07 13:32] Alexander-Taran commented on #228
I guess rx from events or something should do the trick

@EisenbergEffect  can be closed

[2019-01-07 15:50] EisenbergEffect commented on #228
I'm pretty sure that a custom binding behavior could be written to do this. If someone wanted to submit a PR to the current `debounce` behavior to add that as a setting, we could do that too. This one is definitely worth adding to the vNext. Something for @fkleuver to consider to make sure it's possible in vNext. Also, maybe @bigopon would be interested in implementing it. He's been shoring up som

[2019-01-24 12:53] fracz commented on #320
Any chances for this getting merged in a near future? We are waiting over 2 year for this.

[2019-01-24 12:54] bigopon commented on #320
pinging @EisenbergEffect
It might not be too complex

[2019-01-24 13:15] fracz commented on #320
If I understand correctly, it's all about adding `this.view = null` after [unbinding it](https://github.com/aurelia/templating-resources/blob/master/src/if-core.js#L82) if the `cache` has been set to false. Then, the view will be recreated during the next `_show`.

Am I right?

[2019-01-24 13:18] bigopon commented on #320
yes, but also make sure it's the same thing in promise case too https://github.com/aurelia/templating-resources/blob/0b1424fd836a1e100225e865ba7730ecf584d814/src/if-core.js#L79

[2019-01-25 20:40] #320 closed

[2019-01-29 13:57] fracz opened #365 "Else always uses cache in condition"
The cache disabling feature [we have introduced recently](https://github.com/aurelia/templating-resources/pull/364) works well in `if`, but it is broken when it comes to the `else`.

In the first commit (prior to the boolean argument refactoring) [the `else` directive used the `cache` from the linked `if`](https://github.com/aurelia/templating-resources/blob/3ea5202e8626788241d5d2a3b6c8f02408b92f3

[2019-01-30 00:31] EisenbergEffect commented on #365
I'm thinking that `else` should use the `if` cache strategy by default but that you should be able to supply one for `else` if you need it to be different. I'd like to hear what @bigopon things.

[2019-01-30 00:58] bigopon commented on #365
I think else should by default follow `if`, but I imagine there could be scenario where else may want to cache while if may not. It's 4 possible combinations here.

I think this is where we may want a new API like `processTemplate` for template controller, to have the ability to write:

[code]

or we could also pick up existing mechanism of `view-cache`:

[code]

cc @fkleuver @jods4

[2019-01-30 02:43] fkleuver commented on #365
I was thinking about something like this for vNext earlier because there currently is no way to tell a repeater how to cache without manually building the instructions.

I think a `view-cache` (or simply `cache` - there is no native html attribute with that name anyway) attribute is a good way to solve that problem. Every template controller could have it, `else` shouldn't be an exception imo. The

[2019-01-30 03:08] EisenbergEffect commented on #365
It should be there in vCurrent but the implementor of the template controller has to take advantage of it in certain ways explicitly. So, maybe we can just make it better in vNext.

[2019-02-06 00:05] bigopon commented on #311
@heikomat @enrico-padovani I think we have resolved this issues with latest releases of framework modules where dependencies mismatch is sort-of eliminated (it may still happen if 3rd party plugin is having different version of aurelia-binding)

I'll close this for now. please feel free to reopen/ open a new one if you still encounter this.

[2019-02-06 00:05] #311 closed

[2019-02-27 23:18] MJSanfelippo commented on #171
Any thoughts on else if? Run into a few use cases for it.

[2019-02-27 23:31] bigopon commented on #171
@MJSanfelippo Can you help put your use cases into a feature request issue? Also would be great if you could give some more thought/explanation for it 👍

[2019-02-28 00:11] MJSanfelippo commented on #171
@bigopon Can't post company code, but can give a vague rundown. We have a list of things and each thing has a property that's an enum. There are 15-20 different values this enum could be. We're conditionally binding a certain child component based on the value of that enum. So that's 15-20 times it needs to check the if.bind whereas if we had if, else if, else if, else if... else if, else, it woul

[2019-03-06 12:19] michaelw85 opened #367 "[Feature request] Support useShadowDOM for html only components"
**I'm submitting a feature request**

* **Library Version:**
1.8.0

**Current behavior:**
It is not possible to use shadow dom on html only custom components.

**Expected/desired behavior:**
It would be nice to support shadow dom on html only components.
Proposal:
`<template use-shadow-dom>`

* **What is the motivation / use case for changing the behavior?**
Less files 🎉 easier to maintain, faster

[2019-03-13 22:36] davismj commented on #138
Compose elements are a common tool for encapsulating related code. They are more powerful than custom elements for this purpose simply because of the async activation lifecycle. OPs request to clean up subscriptions is a place for the component lifecycle. However, there are cases where the deactivation lifecycle is more appropriate.

[2019-03-19 00:45] #367 closed

[2019-03-21 13:12] #327 closed

[2019-03-21 13:16] bigopon commented on #310
Fixed by https://github.com/aurelia/templating/pull/637

Please help file new issue if the problem still persists for you.

[2019-03-21 13:16] #310 closed

[2019-03-27 04:29] #338 closed

[2019-04-10 01:28] davismj commented on #323
@jdanyow here's your repro: https://gist.run/?id=9889f67a8bb51e345c4c304525b62f7d :)
@bigopon I've updated my dependencies in a local repro, and same behavior. Thoughts?

[2019-04-10 01:48] davismj commented on #323
It starts [here](https://github.com/aurelia/binding/blob/master/src/binding-expression.js#L105-L106), where model.bind is a to-view binding, which calls `enqueueBindingConnect(this);`

The magic happens when there are more bindings being processed than the [`minimumImmediate` threshold](https://github.com/aurelia/binding/blob/master/src/connect-queue.js#L6). This causes connect to get queued on ra

[2019-04-12 15:00] EisenbergEffect commented on #295
Should be fixed by this: https://github.com/aurelia/templating-resources/pull/372

[2019-04-12 15:00] #295 closed

[2019-04-16 06:16] HubertoKusters opened #373 "Expose all contained Bindings via View interface"
**I'm submitting a feature request**

* **Library Version:**
1.8.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
10.8.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.29.6

* **Browser:**
Chrome Version 73.0.3683.103 (Official Build) (64-bit)

* **Language:**
TypeScript 3.4.3

**Current behavior:**
View interface does not

[2019-04-16 11:17] bigopon commented on #373
[code]
Could you elaborate this? What View type and what would you rather do?

The code you are having should work great, and should not break in future. About an official method, I guess it's not too bad to have a method to recursively walk and gather all bindings into an array.

cc @EisenbergEffect and @fkleuver

[2019-04-16 11:19] bigopon commented on #373
Beside that, is this appropriate to say it's quite specific to form in general, and could be easily done via
  - injected element in custom attribute
  - using injected to query all input elements (input, select) and get the corresponding bindings

[2019-04-21 22:52] fkleuver commented on #373
@HubertoKusters

The functionality you're implementing in `attached()` and `detached()` is normally what you do in `bind()` and `unbind()` of a binding behavior. But you don't want to put the same binding behavior on every single binding in a view, that's just messy, so you grab all the bindings via a custom attribute and apply the functionality like that. It makes perfect sense.

Now, you're aski

[2019-04-21 23:16] HubertoKusters commented on #373
Hi,

This is great feedback and you are right. I am new to Aurelia and as such I
am not aware of all the features Aurelia brings to the table.
I had heard of Aurelia store but dismissed it because it seemed like
overkill at first. But, I will take a better look at it. What I have not
seen yet is the extensionpoint processAttribute. This is certainly worth a
look as well. Also, the previous answer

[2019-04-22 10:41] bigopon commented on #362
Resolved by #361

[2019-04-22 10:41] #362 closed

[2019-04-28 03:55] #300 closed

[2019-04-28 03:55] #321 closed

[2019-04-28 03:55] #332 closed

[2019-05-08 08:27] veyselozdemir opened #375 "aurelia-templating-resources\index.d.ts(598,113): error TS1144: '{' or ';' expected"
Hello,
I'm submitting a bug report.

Current behavior:
When I build the project d.ts file causes the following error:
`typings\modules\aurelia-templating-resources\index.d.ts(598,113): error TS1144: '{' or ';' expected.`

Corresponding line in the file is below:
`export function createFullOverrideContext(repeat: any, data: any, index: any, length: any, key?: string): import("aurelia-binding").Over

[2019-05-08 11:12] bigopon commented on #375
@veyselozdemir thanks for filing this issue. My guess is that newer version of the dts generator somehow messed it up, or the build was configured properly. Ill ha e a look soon

[2019-05-10 00:12] #375 closed

[2019-05-14 14:44] netcorefactory opened #377 "Is this a typo?"
https://github.com/aurelia/templating-resources/blob/38e4283f59a4d02f26722122615b722b267b82a2/dist/aurelia-templating-resources.d.ts#L595

Is this a typo? import is already done on top?
Our builds are broken by this issue. How to keep .d.ts files backwards compatible?

[2019-05-14 14:57] bigopon commented on #377
@netcorefactory Sorry for this. It's fixed here https://github.com/aurelia/templating-resources/pull/376 and is waiting for a release by @EisenbergEffect

[2019-05-14 17:02] EisenbergEffect commented on #377
Release coming soon.

[2019-05-14 17:02] #377 closed

[2019-05-14 17:12] netcorefactory commented on #377
Cool but also my bad. We still use typings install in old project...

[2019-05-16 14:09] Lux589 commented on #41
I'm using npm to manage packages. how can I make this work without using jspm

[2019-05-23 09:36] Ischca opened #378 "matcher.bind does not work inside of repeat"
**I'm submitting a bug report**

* **Library Version:**
1.10.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10..0

* **NPM Version:**
6.1.0

* **JSPM OR Webpack AND Version**
webpack 4.31.0

* **Browser:**
Chrome

* **Language:**
TypeScript

**Current behavior:**
matcher.bind does not work inside of repeat.
It works with no problem in 1.9.1.

[2019-05-23 12:19] Cry0nicS commented on #323
Bumping this up.
I run into the same issue, but without making use of `repeat.for` or `show.bind`.

[2019-05-23 17:16] bigopon commented on #378
@Ischca thanks for filing this issue

[2019-06-11 13:57] michaelw85 opened #380 "[Feature] Support default binding mode for html only components"
**I'm submitting a feature request**

* **Library Version:**
1.10.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.1

* **NPM Version:**
6.9.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Settings default binding mode requires a class using the decorator.

**Expected/desired behavior:**
Expected to be able to set a defau

[2019-06-11 13:59] bigopon commented on #380
cc @EisenbergEffect

[2019-06-11 17:32] EisenbergEffect commented on #380
@bigopon I think we should implement this in vNext first, as part of the template parser. Then, once we've got all the details settled, port it back to vCurrent. My thinking is that this will give us a better chance of remaining forward/backward compatible with the new feature. We also may be able to do more in vNext and that might give us a clearer picture of what subset is doable with vNext.

[2019-06-11 17:33] EisenbergEffect commented on #380
We should support both types and default binding modes. Prefer a syntax that matches TypeScript for the type part. Maybe it's something like `myProperty: number & twoWay`.

[2019-06-12 06:21] michaelw85 commented on #380
@EisenbergEffect I like the format @bigopon already used in his initial PR. Only thing I would like to suggest is to match the template spinal case notation of the binding mode. I think this would be intuitive since you are already in the html context.
[code]

[2019-06-26 12:53] Sayan751 opened #381 "[Feature request] Make caching of compose configurable"
**I'm submitting a feature request**

* **Library Version:**
1.11.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.15.0

* **NPM Version:**
6.4.1

* **JSPM OR Webpack AND Version**
webpack 4.35.0

* **Browser:**
all

* **Language:**
TypeScript 3.5.2

**Current behavior:**
The view-model and view used in `compose` is currently cached, that is

[2019-06-26 13:05] bigopon commented on #381
@Sayan751 absolutely, that would be a nice addition.

cc @EisenbergEffect @fkleuver for reflection on vNext

[2019-06-26 17:43] StrahilKazlachev commented on #381
I don't agree it is appropriate to be called caching. If it ends up being called `cache`, or derivative, I would expect, when set to "cache: true", that a given ViewModel, View or pair(of the previous) would only be "created" once, regardless how many time the combination happens later on.
So if I:
1. bind `A` for `view-model`
2. then bind `B` for `view-model`
3. and now I bind again `A` for `view

[2019-06-26 18:05] Sayan751 commented on #381
I agree with your point.

My requirement matches more with the `activationStrategy.replace`, that replaces the routed VMs when redirected to the same VM. Maybe the new property needs to be called something like that. For the sake of keeping it similar I would suggest to simply call it `activation-strategy`. And then use a string enum with following values `reactivate` (mimics the default and curre

[2019-06-26 18:31] StrahilKazlachev commented on #381
Then what about reusing `replace` and `invoke-lifecycle`? `<compose>` only has `activate`.

[2019-06-26 19:19] Sayan751 commented on #381
@StrahilKazlachev The new enum can be created with those 2 values. `invoke-lifecycle` also makes sense in this case, as the compose practically invokes the `activate` hook which is a lifecycle hook. `activate` and `invoke-lifecycle` are pretty synonymous in this case. Unless it is weirdly odd third option, I am fine with either of these 2 (or an more appropriate one), plus documentation. I leave t

[2019-06-26 21:24] fkleuver commented on #381
I'm not so sure if using the lifecycle strategy enum for compose is a good idea. It really shouldn't even have been called `activate` in the first place because it has absolutely nothing to do with routing.
Do we really want to double down on a potential source of confusion like that?

[2019-06-26 21:40] Sayan751 commented on #381
@fkleuver The only lifecycle hook, in bound VM, called from compose is "activate". Considering that the activation-strategy is relatable in this context. As the `activationStrategy.replace` provides similar functionality for routed view in similar use case, it also seems to be easily understandable. For this purpose, I think it is not bad going with the "activation-strategy" concept.

[2019-06-26 21:42] StrahilKazlachev commented on #381
@fkleuver actually the *async* hooks canActivate/activate/... are *already* used in different combinations in different places - *router*, *composition engine*, *\<compose\>*, *dialog*, in *vCurent*  ¯\_(ツ)_/¯

[2019-06-27 06:43] Sayan751 commented on #381
I tested the change on my project (so it's officially "works-on-machine" certified 😛). Once the terminologies are settled, I can update documentation and create 2 PRs in both the repositories.

[2019-06-27 16:20] Sayan751 commented on #381
Another idea is to call this something like `adaptation-strategy` or `change-strategy`, since this affects how the changes will be handled by `compose`. With this the former 2 enum values (`replace`, and `invoke-lifecycle`) can still be used.

[2019-06-27 16:35] fkleuver commented on #381
@StrahilKazlachev And it's always been a massive source of confusion when I was still learning Aurelia. I think `compose`, `dialog` etc sharing the same lifecycle name for the purpose of "loading" and "unloading" is fine.
They should just all be different from the router lifecycle names because they are so very different in terms of timing and signature.

[2019-07-01 16:03] #378 closed

[2019-07-09 14:06] mxjp opened #384 "Conditional rendering breaks inside of templates projected through a slot."
**I'm submitting a bug report**

* **Library Version:**
aurelia-templating-resources 1.11

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.0

* **NPM Version:**
6.8.0

* **JSPM OR Webpack AND Version**
Neither webpack or jspm, but the bug is also present when using aurelia-webpack with webpack 4 or anything above.

* **Browser:**
Chrome 75 |

[2019-07-10 10:49] bigopon commented on #384
@mxjp Thanks for filing this issue. This is a known issue with current state of templating, that is view slot is unable to stabilize the range of multiple nesting containerless/template elements. Your example is exactly that: an if (no element) is nested directly under a `<template/>`, making it fail to locate the range properly. It's fixed in vNext by @fkleuver

For vCurrent, I'm uncertain what c

[2019-07-11 00:24] EisenbergEffect commented on #384
Unfortunately, this is one of the more rare cases that we couldn't easily fix in the current version. Definitely try the work around that @bigopon suggests. We've got these kinds of cases already addressed in vNext.

Another workaround would be to use native shadow dom on the elements. If the browsers you support don't all have that feature, you can include the shadydom polyfill and put it in emul

[2019-07-11 00:24] #384 closed

[2019-07-11 07:47] mxjp commented on #384
Thanks for the reply. For now, we are just using an extra div to avoid the problem.

[2019-07-12 16:29] #381 closed

[2019-09-12 20:52] pkozul opened #388 "matcher.bind does not work inside of repeat with checkboxes"
**I'm submitting a bug report**

* **Library Version:**
1.12.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
webpack 4.39.3

* **Browser:**
Chrome

* **Language:**
TypeScript 3.6.2

**Current behavior:**
The matcher does not work inside of `repeat.for` when using checkboxes an

[2019-09-13 12:49] bigopon commented on #388
I think Codesandbox has some issues with dependencies, as you can see from this example: https://codesandbox.io/s/httpsgithubcomaureliatemplating-resourcesissues388-ftszo

It comes with latest version of `templating-resources`, and is working fine.

Can you make sure your project has latest version of this module and try again?

[2019-09-14 08:54] pkozul commented on #388
As you said, it does now work in Codesandbox, but I cannot get it to work on my machine. I have created a brand new Aurelia project using the latest `aurelia-cli` and then updated to the latest version of this module:

[code]

It does not work though. The matcher never gets called. Is there another Aurelia library that also needs to be updated for this to work? Can you try creating a new Aurelia p

[2019-09-17 12:27] bigopon commented on #388
@pkozul Sorry for the false information. Can you try the following:
[code]
The reason is without static field `useInnerMatcher`, it would have been a breaking changes. So we made it an opt-in fix.

[2019-09-17 20:51] pkozul commented on #388
@bigopon Yes, that did the trick! Now works. Thank you.

I see it's documented in the Aurelia docs, but I would never have found it myself :-)

https://aurelia.io/docs/api/templating-resources/class/Repeat/property/useInnerMatcher/

[2019-09-17 20:51] #388 closed

[2020-01-15 17:12] AquilaSands opened #390 "Capture and remove matcher binding breaks IE 11"
**I'm submitting a bug report**

* **Library Version:**
1.12.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.3.1

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
Aurelia CLI 1.2.2 with requireJS

* **Browser:**
IE 11

* **Language:**
ESNext

**Current behavior:**
Commit a5796443016d2c87269dd05801c057fb45e5dc44 introduced a breaki

[2020-01-16 02:04] bigopon commented on #390
Oops, i checked for IE11 compat without checking for document fragment. My bad. Sorry for this @AquilaSands it would be great if you could send a PR to fix this. Though im not sure what we qould do for this. Polyfill or simple utility fn?
Cc @EisenbergEffect @fkleuver

[2020-01-18 04:53] thomas-darling opened #392 "Memory leak when a slot contains a repeated element"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.3.1

* **Browser:**
Chrome 78, and probably all others

**Current behavior:**
When the slot of a custom element contains a repeated element, and the collection being repeated is cleared, the repeated elements are retained in memory as detached elements.

Essentially, doing this causes a memory leak:
[code]

Reproduction co

[2020-01-18 04:54] thomas-darling commented on #310
@EisenbergEffect @bigopon
This bug is still very much still alive! 🐛

I've opened a new issue here: https://github.com/aurelia/templating-resources/issues/392

[2020-01-18 08:19] thomas-darling commented on #392
Ok, so I did some debugging, and those are my findings:

Here's the memory dump from our app.
It looks like `ShadowSlot` is retaining the references to detached elements.

![image](https://user-images.githubusercontent.com/6388663/72660191-319f6a80-3a05-11ea-8f88-70125acb450e.png)

Looking at `ShadowSlot` in https://github.com/aurelia/templating/blob/master/src/shadow-dom.js, and searching for `th

[2020-01-18 09:39] thomas-darling commented on #392
Based on initial testing, adding the following two lines **_appears_** to fix the issue.
However, I don't understand this code well enough to say whether this is a correct fix, or whether it breaks things elsewhere. I could really use some insight from the team here 🙂

![image](https://user-images.githubusercontent.com/6388663/72661742-032b8a80-3a19-11ea-8d5a-41b80888d18f.png)

[2020-01-19 02:47] bigopon commented on #392
@thomas-darling thanks for this issue and the effort put into resolving it. I think your analysis is correct. I'll be creating a PR based on your suggested changes, if you don't mind.

[2020-01-19 03:26] thomas-darling commented on #392
Sounds good, thanks! 👍

[2020-01-21 02:13] #390 closed

[2020-02-18 16:58] #392 closed

[2020-08-25 14:14] Seebiscuit commented on #295
I'm experiencing the same problem and it is not fixed by #372. The issues is that this line https://github.com/aurelia/templating-resources/blob/9d3be39948644990ba2755b3fb28b1a8329fb355/src/repeat.js#L227
removes the matcher expression from the view factory. So, if the parent view that implements the Repeater is removed from the DOM and then re-rendered, the second time `_captureAndRemoveMatcherBi

[2020-08-27 23:43] bigopon commented on #295
@Seebiscuit thanks for the explanation. I think its potentially is the issues. Probably it wont be hard to fix, can you help create a small repro for this?

[2020-08-28 15:02] Seebiscuit commented on #295
Thanks for looking into this @bigopon. I made a minimal repro here: https://gist.dumber.app/?gist=fc7be8c1f018dab0029267501c8a7c9e.

To debug the issue, open DevTools and open *aurelia-templating-resources.js*. Drop a breakpoint on line 1244 (as of the date of this post, it should be pointing to https://github.com/aurelia/templating-resources/blob/9d3be39948644990ba2755b3fb28b1a8329fb355/src/repea

[2021-02-17 09:18] Esger commented on #293
@mattgaspar In a binding like this `<img width.bind="portraitChannel | slideThumbWidth:{smallThumb:smallThumb} & oneTime & signal:'thumb-size-changed'">` that doesn't seem to be the case.
The one-time overrules the signal, no matter the order, or with string interpolation i.s.o. `.bind`

[2021-02-17 11:07] bigopon commented on #293
I don't think we want the signal binding behavior automatically assumes that it's in charge of the binding update by default. It should be treated as an additional way to notify a binding to update.

With that basic in mind, we can refactor the behavior a little bit, so that if the first parameter is an array, then it's assume it's this overload:
[code]
Note the `controlBinding` flag, if `true`, i

[2022-05-30 20:25] Alexander-Taran commented on #253
Time tested.. can be closed (-:
@bigopon

[2022-05-30 20:30] Alexander-Taran commented on #241
@bigopon time tested.. can be closed

[2022-05-30 21:31] Alexander-Taran commented on #239
@bigopon ^^

[2022-05-30 23:33] #241 closed

[2022-05-30 23:38] bigopon commented on #253
The Aurelia deep computed plugin offers caching to handle this https://www.npmjs.com/package/aurelia-deep-computed